In [1]:
%pip install ipython
%pip install seaborn

Requirement already satisfied: ipython in c:\users\david\anaconda3\envs\clase\lib\site-packages (7.34.0)
Requirement already satisfied: setuptools>=18.5 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from ipython) (63.4.1)
Requirement already satisfied: traitlets>=4.2 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from ipython) (5.4.0)
Requirement already satisfied: pygments in c:\users\david\anaconda3\envs\clase\lib\site-packages (from ipython) (2.13.0)
Requirement already satisfied: matplotlib-inline in c:\users\david\anaconda3\envs\clase\lib\site-packages (from ipython) (0.1.6)
Requirement already satisfied: prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from ipython) (3.0.31)
Requirement already satisfied: pickleshare in c:\users\david\anaconda3\envs\clase\lib\site-packages (from ipython) (0.7.5)
Requirement already satisfied: jedi>=0.16 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from ipython) (0.18.1)
Requirement already satisfied: backcall in c:\users\david\anaconda3\envs\clase\lib\site-packages (from ipython) (0.2.0)
Requirement already satisfied: colorama in c:\users\david\anaconda3\envs\clase\lib\site-packages (from ipython) (0.4.5)
Requirement already satisfied: decorator in c:\users\david\anaconda3\envs\clase\lib\site-packages (from ipython) (5.1.1)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from jedi>=0.16->ipython) (0.8.3)
Requirement already satisfied: wcwidth in c:\users\david\anaconda3\envs\clase\lib\site-packages (from prompt-toolkit!=3.0.0,!=3.0.1,<3.1.0,>=2.0.0->ipython) (0.2.5)
Note: you may need to restart the kernel to use updated packages.
Requirement already satisfied: seaborn in c:\users\david\anaconda3\envs\clase\lib\site-packages (0.12.1)
Requirement already satisfied: typing_extensions in c:\users\david\anaconda3\envs\clase\lib\site-packages (from seaborn) (4.4.0)
Requirement already satisfied: matplotlib!=3.6.1,>=3.1 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from seaborn) (3.5.3)
Requirement already satisfied: pandas>=0.25 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from seaborn) (1.3.5)
Requirement already satisfied: numpy>=1.17 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from seaborn) (1.21.6)
Requirement already satisfied: cycler>=0.10 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (0.11.0)
Requirement already satisfied: packaging>=20.0 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (21.3)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (2.8.2)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (4.38.0)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (3.0.9)
Requirement already satisfied: pillow>=6.2.0 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (9.2.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from matplotlib!=3.6.1,>=3.1->seaborn) (1.4.4)
Requirement already satisfied: pytz>=2017.3 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from pandas>=0.25->seaborn) (2022.4)
Requirement already satisfied: six>=1.5 in c:\users\david\anaconda3\envs\clase\lib\site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.1->seaborn) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

### importación de librerías

In [2]:
# importación de librerías
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)
import numpy as np
import warnings
warnings.filterwarnings('ignore')

# para pintar
import pylab as plt
import seaborn as sns

#para que salga el grafico
%matplotlib inline

### limpieza csv actor

In [4]:
# importación de csv
df_act_ori = pd.read_csv(r'C:\Users\david\Proyectos\Github\w3-database-project\data\actor.csv')

In [7]:
df_act_ori.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [8]:
# copia del df original
df_act=df_act_ori.copy()

In [9]:
df_act.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [17]:
df_act.shape

(200, 4)

In [18]:
df_act_dim_orig=df_act.shape

In [19]:
# info del df
df_act.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200 entries, 0 to 199
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   actor_id     200 non-null    int64
 1   first_name   200 non-null    object
 2   last_name    200 non-null    object
 3   last_update  200 non-null    object
dtypes: int64(1), object(3)
memory usage: 41.0 KB

In [23]:
nan_cols=df_act.isna().sum()

nan_cols[nan_cols>0]

Series([], dtype: int64)

In [24]:
df_act.describe(include='all').T

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
actor_id,200.0,NaN,NaN,NaN,100.5,57.879185,1.0,50.75,100.5,150.25,200.0
first_name,200,128,PENELOPE,4,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_name,200,121,KILMER,5,NaN,NaN,NaN,NaN,NaN,NaN,NaN
last_update,200,1,2006-02-15 04:34:33,200,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [25]:
df_act.drop_duplicates().shape==df_act.shape

True

In [26]:
# exploración columna 'actor_id'
df_act.actor_id.head()

0    1
1    2
2    3
3    4
4    5
Name: actor_id, dtype: int64

In [27]:
df_act.actor_id.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200], dtype=int64)

In [28]:
df_act.actor_id.value_counts().head()

1      1
138    1
128    1
129    1
130    1
Name: actor_id, dtype: int64

In [29]:
len(df_act.actor_id.value_counts())

200

In [31]:
df_act.head()

   actor_id first_name     last_name          last_update
0         1   PENELOPE       GUINESS  2006-02-15 04:34:33
1         2       NICK      WAHLBERG  2006-02-15 04:34:33
2         3         ED         CHASE  2006-02-15 04:34:33
3         4   JENNIFER         DAVIS  2006-02-15 04:34:33
4         5     JOHNNY  LOLLOBRIGIDA  2006-02-15 04:34:33

In [32]:
# exploración y limpieza de columnas del df 
len(df_act.first_name.unique())

128

In [33]:
df_act.first_name.value_counts()

PENELOPE       4
JULIA          4
KENNETH        4
GENE           3
GROUCHO        3
DAN            3
CUBA           3
JAYNE          3
CAMERON        3
FAY            3
CHRISTIAN      3
MATTHEW        3
BURT           3
MORGAN         3
RUSSELL        3
ED             3
NICK           3
MENA           2
ANGELA         2
MARY           2
GARY           2
ADAM           2
SEAN           2
CATE           2
GRETA          2
SCARLETT       2
BEN            2
REESE          2
MINNIE         2
ALBERT         2
SPENCER        2
CHRISTOPHER    2
DARYL          2
CHRIS          2
RENEE          2
SUSAN          2
MERYL          2
FRANCES        2
WARREN         2
AUDREY         2
KEVIN          2
LUCILLE        2
MICHAEL        2
RIP            2
WOODY          2
VIVIEN         2
MILLA          2
KIRSTEN        2
SANDRA         2
HUMPHREY       2
TOM            2
JOHNNY         2
LIZA           1
DEBBIE         1
ROCK           1
GREGORY        1
SALMA          1
LISA           1
JULIANNE       1
JON            1
WILLIAM        1
JOHN           1
HARRISON       1
BELA           1
JEFF           1
HARVEY         1
ALAN           1
RIVER          1
OPRAH          1
IAN            1
SYLVESTER      1
GEOFFREY       1
EMILY          1
AL             1
KIM            1
JADA           1
JANE           1
WHOOPI         1
LAURENCE       1
WILL           1
EWAN           1
OLYMPIA        1
RITA           1
LAURA          1
RICHARD        1
MAE            1
GINA           1
BOB            1
JODIE          1
GOLDIE         1
VAL            1
JUDY           1
TIM            1
SISSY          1
ALEC           1
ELVIS          1
HELEN          1
SIDNEY         1
FRED           1
UMA            1
KARL           1
ZERO           1
JOE            1
GRACE          1
BETTE          1
JENNIFER       1
KIRK           1
PARKER         1
ANNE           1
NATALIE        1
WALTER         1
JIM            1
MEG            1
ELLEN          1
CHARLIZE       1
GREG           1
JAMES          1
RALPH          1
CARY           1
ANGELINA       1
MICHELLE       1
JESSICA        1
RAY            1
HENRY          1
DUSTIN         1
JUDE           1
CARMEN         1
THORA          1
Name: first_name, dtype: int64

In [38]:
len(df_act.last_name.unique())

121

In [39]:
df_act.last_name.value_counts().head()

KILMER     5
TEMPLE     4
NOLTE      4
GUINESS    3
ALLEN      3
Name: last_name, dtype: int64

In [40]:
df_act.drop_duplicates(subset = ['first_name','last_name']).shape==df_act.shape

False

In [41]:
df_act['complete_name'] = df_act.first_name + (' ') + df_act.last_name

In [42]:
df_act['complete_name']

0          PENELOPE GUINESS
1             NICK WAHLBERG
2                  ED CHASE
3            JENNIFER DAVIS
4       JOHNNY LOLLOBRIGIDA
5           BETTE NICHOLSON
6              GRACE MOSTEL
7         MATTHEW JOHANSSON
8                 JOE SWANK
9           CHRISTIAN GABLE
10                ZERO CAGE
11               KARL BERRY
12                 UMA WOOD
13            VIVIEN BERGEN
14             CUBA OLIVIER
15             FRED COSTNER
16             HELEN VOIGHT
17                 DAN TORN
18              BOB FAWCETT
19            LUCILLE TRACY
20          KIRSTEN PALTROW
21               ELVIS MARX
22            SANDRA KILMER
23           CAMERON STREEP
24              KEVIN BLOOM
25             RIP CRAWFORD
26            JULIA MCQUEEN
27            WOODY HOFFMAN
28               ALEC WAYNE
29              SANDRA PECK
30           SISSY SOBIESKI
31              TIM HACKMAN
32               MILLA PECK
33           AUDREY OLIVIER
34                JUDY DEAN
35             BURT DUKAKIS
36               VAL BOLGER
37             TOM MCKELLEN
38             GOLDIE BRODY
39              JOHNNY CAGE
40          JODIE DEGENERES
41              TOM MIRANDA
42            KIRK JOVOVICH
43            NICK STALLONE
44             REESE KILMER
45          PARKER GOLDBERG
46          JULIA BARRYMORE
47        FRANCES DAY-LEWIS
48              ANNE CRONYN
49          NATALIE HOPKINS
50             GARY PHOENIX
51              CARMEN HUNT
52              MENA TEMPLE
53         PENELOPE PINKETT
54               FAY KILMER
55               DAN HARRIS
56              JUDE CRUISE
57         CHRISTIAN AKROYD
58            DUSTIN TAUTOU
59              HENRY BERRY
60         CHRISTIAN NEESON
61             JAYNE NEESON
62             CAMERON WRAY
63            RAY JOHANSSON
64            ANGELA HUDSON
65               MARY TANDY
66           JESSICA BAILEY
67              RIP WINSLET
68          KENNETH PALTROW
69     MICHELLE MCCONAUGHEY
70               ADAM GRANT
71            SEAN WILLIAMS
72                GARY PENN
73             MILLA KEITEL
74               BURT POSEY
75         ANGELINA ASTAIRE
76         CARY MCCONAUGHEY
77          GROUCHO SINATRA
78              MAE HOFFMAN
79               RALPH CRUZ
80           SCARLETT DAMON
81              WOODY JOLIE
82               BEN WILLIS
83               JAMES PITT
84         MINNIE ZELLWEGER
85             GREG CHAPLIN
86             SPENCER PECK
87            KENNETH PESCI
88           CHARLIZE DENCH
89             SEAN GUINESS
90        CHRISTOPHER BERRY
91           KIRSTEN AKROYD
92            ELLEN PRESLEY
93             KENNETH TORN
94           DARYL WAHLBERG
95              GENE WILLIS
96                MEG HAWKE
97            CHRIS BRIDGES
98               JIM MOSTEL
99             SPENCER DEPP
100             SUSAN DAVIS
101             WALTER TORN
102           MATTHEW LEIGH
103         PENELOPE CRONYN
104            SIDNEY CROWE
105           GROUCHO DUNST
106          GINA DEGENERES
107            WARREN NOLTE
108          SYLVESTER DERN
109             SUSAN DAVIS
110       CAMERON ZELLWEGER
111          RUSSELL BACALL
112          MORGAN HOPKINS
113        MORGAN MCDORMAND
114           HARRISON BALE
115              DAN STREEP
116             RENEE TRACY
117              CUBA ALLEN
118          WARREN JACKMAN
119         PENELOPE MONROE
120            LIZA BERGMAN
121             SALMA NOLTE
122          JULIANNE DENCH
123         SCARLETT BENING
124            ALBERT NOLTE
125           FRANCES TOMEI
126           KEVIN GARLAND
127            CATE MCQUEEN
128          DARYL CRAWFORD
129            GRETA KEITEL
130            JANE JACKMAN
131             ADAM HOPPER
132            RICHARD PENN
133            GENE HOPKINS
134           RITA REYNOLDS
135            ED MANSFIELD
136         MORGAN WILLIAMS
137             LUCILLE DEE
138            EWAN GOODING
139             WHOOPI HURT
140             CATE HARRIS
141              JADA RYDER
142              RIVER DEAN
143      ANGELA WITHERSPOON
144               KIM ALLEN
145        ALBERT JOHANSSON
146             FAY WINSLET
147               EMILY DEE
148          RUSSELL TEMPLE
149             JAYNE NOLTE
150         GEOFFREY HESTON
151              BEN HARRIS
152           MINNIE KILMER
153            MERYL GIBSON
154               IAN TANDY
155                FAY WOOD
156            GRETA MALDEN
157         VIVIEN BASINGER
158             LAURA BRODY
159              CHRIS DEPP
160             HARVEY HOPE
161            OPRAH KILMER
162        CHRISTOPHER WEST
163         HUMPHREY WILLIS
164              AL GARLAND
165          NICK DEGENERES
166        LAURENCE BULLOCK
167             WILL WILSON
168         KENNETH HOFFMAN
169             MENA HOPPER
170        OLYMPIA PFEIFFER
171        GROUCHO WILLIAMS
172           ALAN DREYFUSS
173          MICHAEL BENING
174         WILLIAM HACKMAN
175               JON CHASE
176           GENE MCKELLEN
177             LISA MONROE
178              ED GUINESS
179        JEFF SILVERSTONE
180          MATTHEW CARREY
181           DEBBIE AKROYD
182           RUSSELL CLOSE
183        HUMPHREY GARLAND
184          MICHAEL BOLGER
185         JULIA ZELLWEGER
186              RENEE BALL
187            ROCK DUKAKIS
188              CUBA BIRCH
189           AUDREY BAILEY
190         GREGORY GOODING
191             JOHN SUVARI
192             BURT TEMPLE
193             MERYL ALLEN
194       JAYNE SILVERSTONE
195             BELA WALKEN
196              REESE WEST
197             MARY KEITEL
198           JULIA FAWCETT
199            THORA TEMPLE
Name: complete_name, dtype: object

In [43]:
df_act['complete_name'].value_counts().head()

SUSAN DAVIS       2
EWAN GOODING      1
DARYL CRAWFORD    1
GRETA KEITEL      1
JANE JACKMAN      1
Name: complete_name, dtype: int64

In [44]:
df_act[df_act.complete_name == 'SUSAN DAVIS'] # se identifica una actriz repetida. Sólo es 1, de momento la dejamos y no borramos.

     actor_id first_name last_name          last_update complete_name
100       101      SUSAN     DAVIS  2006-02-15 04:34:33   SUSAN DAVIS
109       110      SUSAN     DAVIS  2006-02-15 04:34:33   SUSAN DAVIS

In [46]:
df_act.last_update.value_counts() # la columna 'last_update' no aporta info, la borramos.

2006-02-15 04:34:33    200
Name: last_update, dtype: int64

In [47]:
df_act.drop(['last_update'], axis=1, inplace = True)

In [48]:
df_act.head()

   actor_id first_name     last_name        complete_name
0         1   PENELOPE       GUINESS     PENELOPE GUINESS
1         2       NICK      WAHLBERG        NICK WAHLBERG
2         3         ED         CHASE             ED CHASE
3         4   JENNIFER         DAVIS       JENNIFER DAVIS
4         5     JOHNNY  LOLLOBRIGIDA  JOHNNY LOLLOBRIGIDA

### limpieza csv category

In [5]:
df_cat_ori = pd.read_csv(r'C:\Users\david\Proyectos\Github\w3-database-project\data\category.csv')

In [6]:
df_cat_ori.head()

   category_id       name          last_update
0            1     Action  2006-02-15 04:46:27
1            2  Animation  2006-02-15 04:46:27
2            3   Children  2006-02-15 04:46:27
3            4   Classics  2006-02-15 04:46:27
4            5     Comedy  2006-02-15 04:46:27

In [53]:
# copia del df original
df_cat=df_cat_ori.copy()

In [54]:
df_cat.shape

(16, 3)

In [55]:
df_cat_dim_orig=df_cat.shape

In [56]:
# info del df
df_cat.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 16 entries, 0 to 15
Data columns (total 3 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   category_id  16 non-null     int64
 1   name         16 non-null     object
 2   last_update  16 non-null     object
dtypes: int64(1), object(2)
memory usage: 2.4 KB

In [57]:
df_cat.columns

Index(['category_id', 'name', 'last_update'], dtype='object')

In [58]:
df_cat.drop_duplicates().shape==df_cat.shape

True

In [60]:
# exploración y limpieza de columnas del df 
df_cat.category_id.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16],
      dtype=int64)

In [61]:
df_cat.name.unique()

array(['Action', 'Animation', 'Children', 'Classics', 'Comedy',
       'Documentary', 'Drama', 'Family', 'Foreign', 'Games', 'Horror',
       'Music', 'New', 'Sci-Fi', 'Sports', 'Travel'], dtype=object)

In [62]:
df_cat.name.value_counts()

Action         1
Animation      1
Children       1
Classics       1
Comedy         1
Documentary    1
Drama          1
Family         1
Foreign        1
Games          1
Horror         1
Music          1
New            1
Sci-Fi         1
Sports         1
Travel         1
Name: name, dtype: int64

In [63]:
df_cat.last_update.unique()

array(['2006-02-15 04:46:27'], dtype=object)

In [64]:
df_cat.drop(['last_update'], axis=1, inplace = True)

In [67]:
df_cat.head()

   category_id       name
0            1     Action
1            2  Animation
2            3   Children
3            4   Classics
4            5     Comedy

### limpieza csv film

In [7]:
# importación de csv
df_film_ori = pd.read_csv(r'C:\Users\david\Proyectos\Github\w3-database-project\data\film.csv')

In [70]:
df_film_ori.head()

,film_id,title,description,release_year,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,2006,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,2006,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,2006,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,2006,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,2006,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [71]:
df_film=df_film_ori.copy()

In [72]:
df_film.shape

(1000, 13)

In [73]:
df_film_dim_orig=df_film.shape

In [74]:
df_film.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 13 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   film_id               1000 non-null   int64
 1   title                 1000 non-null   object
 2   description           1000 non-null   object
 3   release_year          1000 non-null   int64
 4   language_id           1000 non-null   int64
 5   original_language_id  0 non-null      float64
 6   rental_duration       1000 non-null   int64
 7   rental_rate           1000 non-null   float64
 8   length                1000 non-null   int64
 9   replacement_cost      1000 non-null   float64
 10  rating                1000 non-null   object
 11  special_features      1000 non-null   object
 12  last_update           1000 non-null   object
dtypes: float64(3), int64(5), object(5)
memory usage: 495.3 KB

In [75]:
df_film.columns

Index(['film_id', 'title', 'description', 'release_year', 'language_id',
       'original_language_id', 'rental_duration', 'rental_rate', 'length',
       'replacement_cost', 'rating', 'special_features', 'last_update'],
      dtype='object')

In [76]:
df_film.drop_duplicates().shape==df_film.shape

True

In [77]:
df_film.film_id.head()

0    1
1    2
2    3
3    4
4    5
Name: film_id, dtype: int64

In [78]:
df_film.film_id.unique()

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  101,  102,  103,  104,  105,  106,  107,  108,  109,  110,
        111,  112,  113,  114,  115,  116,  117,  118,  119,  120,  121,
        122,  123,  124,  125,  126,  127,  128,  129,  130,  131,  132,
        133,  134,  135,  136,  137,  138,  139,  140,  141,  142,  143,
        144,  145,  146,  147,  148,  149,  150,  151,  152,  153,  154,
        155,  156,  157,  158,  159,  160,  161,  162,  163,  164,  165,
        166,  167,  168,  169,  170,  171,  172,  173,  174,  175,  176,
        177,  178,  179,  180,  181,  182,  183,  184,  185,  186,  187,
        188,  189,  190,  191,  192,  193,  194,  195,  196,  197,  198,
        199,  200,  201,  202,  203,  204,  205,  206,  207,  208,  209,
        210,  211,  212,  213,  214,  215,  216,  217,  218,  219,  220,
        221,  222,  223,  224,  225,  226,  227,  228,  229,  230,  231,
        232,  233,  234,  235,  236,  237,  238,  239,  240,  241,  242,
        243,  244,  245,  246,  247,  248,  249,  250,  251,  252,  253,
        254,  255,  256,  257,  258,  259,  260,  261,  262,  263,  264,
        265,  266,  267,  268,  269,  270,  271,  272,  273,  274,  275,
        276,  277,  278,  279,  280,  281,  282,  283,  284,  285,  286,
        287,  288,  289,  290,  291,  292,  293,  294,  295,  296,  297,
        298,  299,  300,  301,  302,  303,  304,  305,  306,  307,  308,
        309,  310,  311,  312,  313,  314,  315,  316,  317,  318,  319,
        320,  321,  322,  323,  324,  325,  326,  327,  328,  329,  330,
        331,  332,  333,  334,  335,  336,  337,  338,  339,  340,  341,
        342,  343,  344,  345,  346,  347,  348,  349,  350,  351,  352,
        353,  354,  355,  356,  357,  358,  359,  360,  361,  362,  363,
        364,  365,  366,  367,  368,  369,  370,  371,  372,  373,  374,
        375,  376,  377,  378,  379,  380,  381,  382,  383,  384,  385,
        386,  387,  388,  389,  390,  391,  392,  393,  394,  395,  396,
        397,  398,  399,  400,  401,  402,  403,  404,  405,  406,  407,
        408,  409,  410,  411,  412,  413,  414,  415,  416,  417,  418,
        419,  420,  421,  422,  423,  424,  425,  426,  427,  428,  429,
        430,  431,  432,  433,  434,  435,  436,  437,  438,  439,  440,
        441,  442,  443,  444,  445,  446,  447,  448,  449,  450,  451,
        452,  453,  454,  455,  456,  457,  458,  459,  460,  461,  462,
        463,  464,  465,  466,  467,  468,  469,  470,  471,  472,  473,
        474,  475,  476,  477,  478,  479,  480,  481,  482,  483,  484,
        485,  486,  487,  488,  489,  490,  491,  492,  493,  494,  495,
        496,  497,  498,  499,  500,  501,  502,  503,  504,  505,  506,
        507,  508,  509,  510,  511,  512,  513,  514,  515,  516,  517,
        518,  519,  520,  521,  522,  523,  524,  525,  526,  527,  528,
        529,  530,  531,  532,  533,  534,  535,  536,  537,  538,  539,
        540,  541,  542,  543,  544,  545,  546,  547,  548,  549,  550,
        551,  552,  553,  554,  555,  556,  557,  558,  559,  560,  561,
        562,  563,  564,  565,  566,  567,  568,  569,  570,  571,  572,
        573,  574,  575,  576,  577,  578,  579,  580,  581,  582,  583,
        584,  585,  586,  587,  588,  589,  590,  591,  592,  593,  594,
        595,  596,  597,  598,  599,  600,  601,  602,  603,  604,  605,
        606,  607,  608,  609,  610,  611,  612,  613,  614,  615,  616,
        617,  618,  619,  620,  621,  622,  623,  624,  625,  626,  627,
        628,  629,  630,  631,  632,  633,  634,  635,  636,  637,  638,
        639,  640,  641,  642,  643,  644,  645,  646,  647,  648,  649,
        650,  651,  652,  653,  654,  655,  656,  657,  658,  659,  660,
        661,  662,  663,  664,  665,  666,  667,  668,  669,  670,  671,
        672,  673,  674,  675,  676,  677,  678,  679,  680,  681,  682,
        683,  684,  685,  686,  687,  688,  689,  690,  691,  692,  693,
        694,  695,  696,  697,  698,  699,  700,  701,  702,  703,  704,
        705,  706,  707,  708,  709,  710,  711,  712,  713,  714,  715,
        716,  717,  718,  719,  720,  721,  722,  723,  724,  725,  726,
        727,  728,  729,  730,  731,  732,  733,  734,  735,  736,  737,
        738,  739,  740,  741,  742,  743,  744,  745,  746,  747,  748,
        749,  750,  751,  752,  753,  754,  755,  756,  757,  758,  759,
        760,  761,  762,  763,  764,  765,  766,  767,  768,  769,  770,
        771,  772,  773,  774,  775,  776,  777,  778,  779,  780,  781,
        782,  783,  784,  785,  786,  787,  788,  789,  790,  791,  792,
        793,  794,  795,  796,  797,  798,  799,  800,  801,  802,  803,
        804,  805,  806,  807,  808,  809,  810,  811,  812,  813,  814,
        815,  816,  817,  818,  819,  820,  821,  822,  823,  824,  825,
        826,  827,  828,  829,  830,  831,  832,  833,  834,  835,  836,
        837,  838,  839,  840,  841,  842,  843,  844,  845,  846,  847,
        848,  849,  850,  851,  852,  853,  854,  855,  856,  857,  858,
        859,  860,  861,  862,  863,  864,  865,  866,  867,  868,  869,
        870,  871,  872,  873,  874,  875,  876,  877,  878,  879,  880,
        881,  882,  883,  884,  885,  886,  887,  888,  889,  890,  891,
        892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
      dtype=int64)

In [79]:
len(df_film.film_id.unique())

1000

In [80]:
df_film.film_id.value_counts().head()

1      1
672    1
659    1
660    1
661    1
Name: film_id, dtype: int64

In [81]:
df_film.columns

Index(['film_id', 'title', 'description', 'release_year', 'language_id',
       'original_language_id', 'rental_duration', 'rental_rate', 'length',
       'replacement_cost', 'rating', 'special_features', 'last_update'],
      dtype='object')

In [82]:
df_film.title.head()

0    ACADEMY DINOSAUR
1      ACE GOLDFINGER
2    ADAPTATION HOLES
3    AFFAIR PREJUDICE
4         AFRICAN EGG
Name: title, dtype: object

In [83]:
df_film.title.unique()

array(['ACADEMY DINOSAUR', 'ACE GOLDFINGER', 'ADAPTATION HOLES',
       'AFFAIR PREJUDICE', 'AFRICAN EGG', 'AGENT TRUMAN',
       'AIRPLANE SIERRA', 'AIRPORT POLLOCK', 'ALABAMA DEVIL',
       'ALADDIN CALENDAR', 'ALAMO VIDEOTAPE', 'ALASKA PHANTOM',
       'ALI FOREVER', 'ALICE FANTASIA', 'ALIEN CENTER', 'ALLEY EVOLUTION',
       'ALONE TRIP', 'ALTER VICTORY', 'AMADEUS HOLY',
       'AMELIE HELLFIGHTERS', 'AMERICAN CIRCUS', 'AMISTAD MIDSUMMER',
       'ANACONDA CONFESSIONS', 'ANALYZE HOOSIERS', 'ANGELS LIFE',
       'ANNIE IDENTITY', 'ANONYMOUS HUMAN', 'ANTHEM LUKE',
       'ANTITRUST TOMATOES', 'ANYTHING SAVANNAH', 'APACHE DIVINE',
       'APOCALYPSE FLAMINGOS', 'APOLLO TEEN', 'ARABIA DOGMA',
       'ARACHNOPHOBIA ROLLERCOASTER', 'ARGONAUTS TOWN', 'ARIZONA BANG',
       'ARK RIDGEMONT', 'ARMAGEDDON LOST', 'ARMY FLINTSTONES',
       'ARSENIC INDEPENDENCE', 'ARTIST COLDBLOODED', 'ATLANTIS CAUSE',
       'ATTACKS HATE', 'ATTRACTION NEWTON', 'AUTUMN CROW', 'BABY HALL',
       'BACKLASH UNDEFEATED', 'BADMAN DAWN', 'BAKED CLEOPATRA',
       'BALLOON HOMEWARD', 'BALLROOM MOCKINGBIRD', 'BANG KWAI',
       'BANGER PINOCCHIO', 'BARBARELLA STREETCAR', 'BAREFOOT MANCHURIAN',
       'BASIC EASY', 'BEACH HEARTBREAKERS', 'BEAR GRACELAND',
       'BEAST HUNCHBACK', 'BEAUTY GREASE', 'BED HIGHBALL',
       'BEDAZZLED MARRIED', 'BEETHOVEN EXORCIST', 'BEHAVIOR RUNAWAY',
       'BENEATH RUSH', 'BERETS AGENT', 'BETRAYED REAR', 'BEVERLY OUTLAW',
       'BIKINI BORROWERS', 'BILKO ANONYMOUS', 'BILL OTHERS',
       'BINGO TALENTED', 'BIRCH ANTITRUST', 'BIRD INDEPENDENCE',
       'BIRDCAGE CASPER', 'BIRDS PERDITION', 'BLACKOUT PRIVATE',
       'BLADE POLISH', 'BLANKET BEVERLY', 'BLINDNESS GUN',
       'BLOOD ARGONAUTS', 'BLUES INSTINCT', 'BOILED DARES',
       'BONNIE HOLOCAUST', 'BOOGIE AMELIE', 'BOONDOCK BALLROOM',
       'BORN SPINAL', 'BORROWERS BEDAZZLED', 'BOULEVARD MOB',
       'BOUND CHEAPER', 'BOWFINGER GABLES', 'BRANNIGAN SUNRISE',
       'BRAVEHEART HUMAN', 'BREAKFAST GOLDFINGER', 'BREAKING HOME',
       'BRIDE INTRIGUE', 'BRIGHT ENCOUNTERS', 'BRINGING HYSTERICAL',
       'BROOKLYN DESERT', 'BROTHERHOOD BLANKET', 'BUBBLE GROSSE',
       'BUCKET BROTHERHOOD', 'BUGSY SONG', 'BULL SHAWSHANK',
       'BULWORTH COMMANDMENTS', 'BUNCH MINDS', 'BUTCH PANTHER',
       'BUTTERFLY CHOCOLAT', 'CABIN FLASH', 'CADDYSHACK JEDI',
       'CALENDAR GUNFIGHT', 'CALIFORNIA BIRDS', 'CAMELOT VACATION',
       'CAMPUS REMEMBER', 'CANDIDATE PERDITION', 'CANDLES GRAPES',
       'CANYON STOCK', 'CAPER MOTIONS', 'CARIBBEAN LIBERTY',
       'CAROL TEXAS', 'CARRIE BUNCH', 'CASABLANCA SUPER',
       'CASPER DRAGONFLY', 'CASSIDY WYOMING', 'CASUALTIES ENCINO',
       'CAT CONEHEADS', 'CATCH AMISTAD', 'CAUSE DATE', 'CELEBRITY HORN',
       'CENTER DINOSAUR', 'CHAINSAW UPTOWN', 'CHAMBER ITALIAN',
       'CHAMPION FLATLINERS', 'CHANCE RESURRECTION', 'CHAPLIN LICENSE',
       'CHARADE DUFFEL', 'CHARIOTS CONSPIRACY', 'CHASING FIGHT',
       'CHEAPER CLYDE', 'CHICAGO NORTH', 'CHICKEN HELLFIGHTERS',
       'CHILL LUCK', 'CHINATOWN GLADIATOR', 'CHISUM BEHAVIOR',
       'CHITTY LOCK', 'CHOCOLAT HARRY', 'CHOCOLATE DUCK',
       'CHRISTMAS MOONSHINE', 'CIDER DESIRE', 'CINCINATTI WHISPERER',
       'CIRCUS YOUTH', 'CITIZEN SHREK', 'CLASH FREDDY', 'CLEOPATRA DEVIL',
       'CLERKS ANGELS', 'CLOCKWORK PARADISE', 'CLONES PINOCCHIO',
       'CLOSER BANG', 'CLUB GRAFFITI', 'CLUE GRAIL', 'CLUELESS BUCKET',
       'CLYDE THEORY', 'COAST RAINBOW', 'COLDBLOODED DARLING',
       'COLOR PHILADELPHIA', 'COMA HEAD', 'COMANCHEROS ENEMY',
       'COMFORTS RUSH', 'COMMAND DARLING', 'COMMANDMENTS EXPRESS',
       'CONEHEADS SMOOCHY', 'CONFESSIONS MAGUIRE',
       'CONFIDENTIAL INTERVIEW', 'CONFUSED CANDLES', 'CONGENIALITY QUEST',
       'CONNECTICUT TRAMP', 'CONNECTION MICROCOSMOS', 'CONQUERER NUTS',
       'CONSPIRACY SPIRIT', 'CONTACT ANONYMOUS', 'CONTROL ANTHEM',
       'CONVERSATION DOWNHILL', 'CORE SUIT', 'COWBOY DOOM',
       'CRAFT OUTFIELD', 'CRANES RESERVOIR', 'CRAZY HOME',
       'CREATURES SHAKESPEARE', 'CREEPERS KANE', 'CROOKED FROGMEN',
       'CROSSING DIVORCE', 'CROSSROADS CASUALTIES', 'CROW GREASE',
       'CROWDS TELEMARK', 'CRUELTY UNFORGIVEN', 'CRUSADE HONEY',
       'CRYSTAL BREAKING', 'CUPBOARD SINNERS', 'CURTAIN VIDEOTAPE',
       'CYCLONE FAMILY', 'DADDY PITTSBURGH', 'DAISY MENAGERIE',
       'DALMATIONS SWEDEN', 'DANCES NONE', 'DANCING FEVER',
       'DANGEROUS UPTOWN', 'DARES PLUTO', 'DARKNESS WAR', 'DARKO DORADO',
       'DARLING BREAKING', 'DARN FORRESTER', 'DATE SPEED',
       'DAUGHTER MADIGAN', 'DAWN POND', 'DAY UNFAITHFUL', 'DAZED PUNK',
       'DECEIVER BETRAYED', 'DEEP CRUSADE', 'DEER VIRGINIAN',
       'DELIVERANCE MULHOLLAND', 'DESERT POSEIDON', 'DESIRE ALIEN',
       'DESPERATE TRAINSPOTTING', 'DESTINATION JERK', 'DESTINY SATURDAY',
       'DETAILS PACKER', 'DETECTIVE VISION', 'DEVIL DESIRE',
       'DIARY PANIC', 'DINOSAUR SECRETARY', 'DIRTY ACE',
       'DISCIPLE MOTHER', 'DISTURBING SCARFACE', 'DIVIDE MONSTER',
       'DIVINE RESURRECTION', 'DIVORCE SHINING', 'DOCTOR GRAIL',
       'DOGMA FAMILY', 'DOLLS RAGE', 'DONNIE ALLEY', 'DOOM DANCING',
       'DOORS PRESIDENT', 'DORADO NOTTING', 'DOUBLE WRATH',
       'DOUBTFIRE LABYRINTH', 'DOWNHILL ENOUGH', 'DOZEN LION',
       'DRACULA CRYSTAL', 'DRAGON SQUAD', 'DRAGONFLY STRANGERS',
       'DREAM PICKUP', 'DRIFTER COMMANDMENTS', 'DRIVER ANNIE',
       'DRIVING POLISH', 'DROP WATERFRONT', 'DRUMLINE CYCLONE',
       'DRUMS DYNAMITE', 'DUCK RACER', 'DUDE BLINDNESS',
       'DUFFEL APOCALYPSE', 'DUMBO LUST', 'DURHAM PANKY', 'DWARFS ALTER',
       'DYING MAKER', 'DYNAMITE TARZAN', 'EAGLES PANKY', 'EARLY HOME',
       'EARRING INSTINCT', 'EARTH VISION', 'EASY GLADIATOR',
       'EDGE KISSING', 'EFFECT GLADIATOR', 'EGG IGBY', 'EGYPT TENENBAUMS',
       'ELEMENT FREDDY', 'ELEPHANT TROJAN', 'ELF MURDER',
       'ELIZABETH SHANE', 'EMPIRE MALKOVICH', 'ENCINO ELF',
       'ENCOUNTERS CURTAIN', 'ENDING CROWDS', 'ENEMY ODDS',
       'ENGLISH BULWORTH', 'ENOUGH RAGING', 'ENTRAPMENT SATISFACTION',
       'ESCAPE METROPOLIS', 'EVE RESURRECTION', 'EVERYONE CRAFT',
       'EVOLUTION ALTER', 'EXCITEMENT EVE', 'EXORCIST STING',
       'EXPECATIONS NATURAL', 'EXPENDABLE STALLION', 'EXPRESS LONELY',
       'EXTRAORDINARY CONQUERER', 'EYES DRIVING', 'FACTORY DRAGON',
       'FALCON VOLUME', 'FAMILY SWEET', 'FANTASIA PARK',
       'FANTASY TROOPERS', 'FARGO GANDHI', 'FATAL HAUNTED',
       'FEATHERS METAL', 'FELLOWSHIP AUTUMN', 'FERRIS MOTHER',
       'FEUD FROGMEN', 'FEVER EMPIRE', 'FICTION CHRISTMAS',
       'FIDDLER LOST', 'FIDELITY DEVIL', 'FIGHT JAWBREAKER',
       'FINDING ANACONDA', 'FIRE WOLVES', 'FIREBALL PHILADELPHIA',
       'FIREHOUSE VIETNAM', 'FISH OPUS', 'FLAMINGOS CONNECTICUT',
       'FLASH WARS', 'FLATLINERS KILLER', 'FLIGHT LIES',
       'FLINTSTONES HAPPINESS', 'FLOATS GARDEN', 'FLYING HOOK',
       'FOOL MOCKINGBIRD', 'FOREVER CANDIDATE', 'FORREST SONS',
       'FORRESTER COMANCHEROS', 'FORWARD TEMPLE', 'FRANKENSTEIN STRANGER',
       'FREAKY POCUS', 'FREDDY STORM', 'FREEDOM CLEOPATRA',
       'FRENCH HOLIDAY', 'FRIDA SLIPPER', 'FRISCO FORREST',
       'FROGMEN BREAKING', 'FRONTIER CABIN', 'FROST HEAD',
       'FUGITIVE MAGUIRE', 'FULL FLATLINERS', 'FURY MURDER',
       'GABLES METROPOLIS', 'GALAXY SWEETHEARTS', 'GAMES BOWFINGER',
       'GANDHI KWAI', 'GANGS PRIDE', 'GARDEN ISLAND', 'GASLIGHT CRUSADE',
       'GATHERING CALENDAR', 'GENTLEMEN STAGE', 'GHOST GROUNDHOG',
       'GHOSTBUSTERS ELF', 'GIANT TROOPERS', 'GILBERT PELICAN',
       'GILMORE BOILED', 'GLADIATOR WESTWARD', 'GLASS DYING',
       'GLEAMING JAWBREAKER', 'GLORY TRACY', 'GO PURPLE',
       'GODFATHER DIARY', 'GOLD RIVER', 'GOLDFINGER SENSIBILITY',
       'GOLDMINE TYCOON', 'GONE TROUBLE', 'GOODFELLAS SALUTE',
       'GORGEOUS BINGO', 'GOSFORD DONNIE', 'GRACELAND DYNAMITE',
       'GRADUATE LORD', 'GRAFFITI LOVE', 'GRAIL FRANKENSTEIN',
       'GRAPES FURY', 'GREASE YOUTH', 'GREATEST NORTH', 'GREEDY ROOTS',
       'GREEK EVERYONE', 'GRINCH MASSAGE', 'GRIT CLOCKWORK',
       'GROOVE FICTION', 'GROSSE WONDERFUL', 'GROUNDHOG UNCUT',
       'GUMP DATE', 'GUN BONNIE', 'GUNFIGHT MOON', 'GUNFIGHTER MUSSOLINI',
       'GUYS FALCON', 'HALF OUTFIELD', 'HALL CASSIDY', 'HALLOWEEN NUTS',
       'HAMLET WISDOM', 'HANDICAP BOONDOCK', 'HANGING DEEP',
       'HANKY OCTOBER', 'HANOVER GALAXY', 'HAPPINESS UNITED',
       'HARDLY ROBBERS', 'HAROLD FRENCH', 'HARPER DYING', 'HARRY IDAHO',
       'HATE HANDICAP', 'HAUNTED ANTITRUST', 'HAUNTING PIANIST',
       'HAWK CHILL', 'HEAD STRANGER', 'HEARTBREAKERS BRIGHT',
       'HEAVEN FREEDOM', 'HEAVENLY GUN', 'HEAVYWEIGHTS BEAST',
       'HEDWIG ALTER', 'HELLFIGHTERS SIERRA', 'HIGH ENCINO',
       'HIGHBALL POTTER', 'HILLS NEIGHBORS', 'HOBBIT ALIEN',
       'HOCUS FRIDA', 'HOLES BRANNIGAN', 'HOLIDAY GAMES',
       'HOLLOW JEOPARDY', 'HOLLYWOOD ANONYMOUS', 'HOLOCAUST HIGHBALL',
       'HOLY TADPOLE', 'HOME PITY', 'HOMEWARD CIDER', 'HOMICIDE PEACH',
       'HONEY TIES', 'HOOK CHARIOTS', 'HOOSIERS BIRDCAGE', 'HOPE TOOTSIE',
       'HORN WORKING', 'HORROR REIGN', 'HOTEL HAPPINESS', 'HOURS RAGE',
       'HOUSE DYNAMITE', 'HUMAN GRAFFITI', 'HUNCHBACK IMPOSSIBLE',
       'HUNGER ROOF', 'HUNTER ALTER', 'HUNTING MUSKETEERS',
       'HURRICANE AFFAIR', 'HUSTLER PARTY', 'HYDE DOCTOR',
       'HYSTERICAL GRAIL', 'ICE CROSSING', 'IDAHO LOVE', 'IDENTITY LOVER',
       'IDOLS SNATCHERS', 'IGBY MAKER', 'ILLUSION AMELIE',
       'IMAGE PRINCESS', 'IMPACT ALADDIN', 'IMPOSSIBLE PREJUDICE',
       'INCH JET', 'INDEPENDENCE HOTEL', 'INDIAN LOVE', 'INFORMER DOUBLE',
       'INNOCENT USUAL', 'INSECTS STONE', 'INSIDER ARIZONA',
       'INSTINCT AIRPORT', 'INTENTIONS EMPIRE', 'INTERVIEW LIAISONS',
       'INTOLERABLE INTENTIONS', 'INTRIGUE WORST', 'INVASION CYCLONE',
       'IRON MOON', 'ISHTAR ROCKETEER', 'ISLAND EXORCIST',
       'ITALIAN AFRICAN', 'JACKET FRISCO', 'JADE BUNCH', 'JAPANESE RUN',
       'JASON TRAP', 'JAWBREAKER BROOKLYN', 'JAWS HARRY', 'JEDI BENEATH',
       'JEEPERS WEDDING', 'JEKYLL FROGMEN', 'JEOPARDY ENCINO',
       'JERICHO MULAN', 'JERK PAYCHECK', 'JERSEY SASSY', 'JET NEIGHBORS',
       'JINGLE SAGEBRUSH', 'JOON NORTHWEST', 'JUGGLER HARDLY',
       'JUMANJI BLADE', 'JUMPING WRATH', 'JUNGLE CLOSER', 'KANE EXORCIST',
       'KARATE MOON', 'KENTUCKIAN GIANT', 'KICK SAVANNAH',
       'KILL BROTHERHOOD', 'KILLER INNOCENT', 'KING EVOLUTION',
       'KISS GLORY', 'KISSING DOLLS', 'KNOCK WARLOCK', 'KRAMER CHOCOLATE',
       'KWAI HOMEWARD', 'LABYRINTH LEAGUE', 'LADY STAGE',
       'LADYBUGS ARMAGEDDON', 'LAMBS CINCINATTI', 'LANGUAGE COWBOY',
       'LAWLESS VISION', 'LAWRENCE LOVE', 'LEAGUE HELLFIGHTERS',
       'LEATHERNECKS DWARFS', 'LEBOWSKI SOLDIERS', 'LEGALLY SECRETARY',
       'LEGEND JEDI', 'LESSON CLEOPATRA', 'LIAISONS SWEET',
       'LIBERTY MAGNIFICENT', 'LICENSE WEEKEND', 'LIES TREATMENT',
       'LIFE TWISTED', 'LIGHTS DEER', 'LION UNCUT', 'LOATHING LEGALLY',
       'LOCK REAR', 'LOLA AGENT', 'LOLITA WORLD', 'LONELY ELEPHANT',
       'LORD ARIZONA', 'LOSE INCH', 'LOSER HUSTLER', 'LOST BIRD',
       'LOUISIANA HARRY', 'LOVE SUICIDES', 'LOVELY JINGLE',
       'LOVER TRUMAN', 'LOVERBOY ATTACKS', 'LUCK OPUS', 'LUCKY FLYING',
       'LUKE MUMMY', 'LUST LOCK', 'MADIGAN DORADO', 'MADISON TRAP',
       'MADNESS ATTACKS', 'MADRE GABLES', 'MAGIC MALLRATS',
       'MAGNIFICENT CHITTY', 'MAGNOLIA FORRESTER', 'MAGUIRE APACHE',
       'MAIDEN HOME', 'MAJESTIC FLOATS', 'MAKER GABLES', 'MALKOVICH PET',
       'MALLRATS UNITED', 'MALTESE HOPE', 'MANCHURIAN CURTAIN',
       'MANNEQUIN WORST', 'MARRIED GO', 'MARS ROMAN', 'MASK PEACH',
       'MASKED BUBBLE', 'MASSACRE USUAL', 'MASSAGE IMAGE',
       'MATRIX SNOWMAN', 'MAUDE MOD', 'MEET CHOCOLATE',
       'MEMENTO ZOOLANDER', 'MENAGERIE RUSHMORE', 'MERMAID INSECTS',
       'METAL ARMAGEDDON', 'METROPOLIS COMA', 'MICROCOSMOS PARADISE',
       'MIDNIGHT WESTWARD', 'MIDSUMMER GROUNDHOG', 'MIGHTY LUCK',
       'MILE MULAN', 'MILLION ACE', 'MINDS TRUMAN', 'MINE TITANS',
       'MINORITY KISS', 'MIRACLE VIRTUAL', 'MISSION ZOOLANDER',
       'MIXED DOORS', 'MOB DUFFEL', 'MOCKINGBIRD HOLLYWOOD',
       'MOD SECRETARY', 'MODEL FISH', 'MODERN DORADO', 'MONEY HAROLD',
       'MONSOON CAUSE', 'MONSTER SPARTACUS', 'MONTEREY LABYRINTH',
       'MONTEZUMA COMMAND', 'MOON BUNCH', 'MOONSHINE CABIN',
       'MOONWALKER FOOL', 'MOSQUITO ARMAGEDDON', 'MOTHER OLEANDER',
       'MOTIONS DETAILS', 'MOULIN WAKE', 'MOURNING PURPLE',
       'MOVIE SHAKESPEARE', 'MULAN MOON', 'MULHOLLAND BEAST',
       'MUMMY CREATURES', 'MUPPET MILE', 'MURDER ANTITRUST',
       'MUSCLE BRIGHT', 'MUSIC BOONDOCK', 'MUSKETEERS WAIT',
       'MUSSOLINI SPOILERS', 'MYSTIC TRUMAN', 'NAME DETECTIVE',
       'NASH CHOCOLAT', 'NATIONAL STORY', 'NATURAL STOCK',
       'NECKLACE OUTBREAK', 'NEIGHBORS CHARADE', 'NEMO CAMPUS',
       'NETWORK PEAK', 'NEWSIES STORY', 'NEWTON LABYRINTH',
       'NIGHTMARE CHILL', 'NONE SPIKING', 'NOON PAPI', 'NORTH TEQUILA',
       'NORTHWEST POLISH', 'NOTORIOUS REUNION', 'NOTTING SPEAKEASY',
       'NOVOCAINE FLIGHT', 'NUTS TIES', 'OCTOBER SUBMARINE',
       'ODDS BOOGIE', 'OKLAHOMA JUMANJI', 'OLEANDER CLUE', 'OPEN AFRICAN',
       'OPERATION OPERATION', 'OPPOSITE NECKLACE', 'OPUS ICE',
       'ORANGE GRAPES', 'ORDER BETRAYED', 'ORIENT CLOSER', 'OSCAR GOLD',
       'OTHERS SOUP', 'OUTBREAK DIVINE', 'OUTFIELD MASSACRE',
       'OUTLAW HANKY', 'OZ LIAISONS', 'PACIFIC AMISTAD', 'PACKER MADIGAN',
       'PAJAMA JAWBREAKER', 'PANIC CLUB', 'PANKY SUBMARINE',
       'PANTHER REDS', 'PAPI NECKLACE', 'PARADISE SABRINA',
       'PARIS WEEKEND', 'PARK CITIZEN', 'PARTY KNOCK', 'PAST SUICIDES',
       'PATHS CONTROL', 'PATIENT SISTER', 'PATRIOT ROMAN',
       'PATTON INTERVIEW', 'PAYCHECK WAIT', 'PEACH INNOCENT',
       'PEAK FOREVER', 'PEARL DESTINY', 'PELICAN COMFORTS',
       'PERDITION FARGO', 'PERFECT GROOVE', 'PERSONAL LADYBUGS',
       'PET HAUNTING', 'PHANTOM GLORY', 'PHILADELPHIA WIFE',
       'PIANIST OUTFIELD', 'PICKUP DRIVING', 'PILOT HOOSIERS',
       'PINOCCHIO SIMON', 'PIRATES ROXANNE', 'PITTSBURGH HUNCHBACK',
       'PITY BOUND', 'PIZZA JUMANJI', 'PLATOON INSTINCT',
       'PLUTO OLEANDER', 'POCUS PULP', 'POLISH BROOKLYN',
       'POLLOCK DELIVERANCE', 'POND SEATTLE', 'POSEIDON FOREVER',
       'POTLUCK MIXED', 'POTTER CONNECTICUT', 'PREJUDICE OLEANDER',
       'PRESIDENT BANG', 'PRIDE ALAMO', 'PRIMARY GLASS', 'PRINCESS GIANT',
       'PRIVATE DROP', 'PRIX UNDEFEATED', 'PSYCHO SHRUNK', 'PULP BEVERLY',
       'PUNK DIVORCE', 'PURE RUNNER', 'PURPLE MOVIE', 'QUEEN LUKE',
       'QUEST MUSSOLINI', 'QUILLS BULL', 'RACER EGG', 'RAGE GAMES',
       'RAGING AIRPLANE', 'RAIDERS ANTITRUST', 'RAINBOW SHOCK',
       'RANDOM GO', 'RANGE MOONWALKER', 'REAP UNFAITHFUL', 'REAR TRADING',
       'REBEL AIRPORT', 'RECORDS ZORRO', 'REDEMPTION COMFORTS',
       'REDS POCUS', 'REEF SALUTE', 'REIGN GENTLEMEN', 'REMEMBER DIARY',
       'REQUIEM TYCOON', 'RESERVOIR ADAPTATION', 'RESURRECTION SILVERADO',
       'REUNION WITCHES', 'RIDER CADDYSHACK', 'RIDGEMONT SUBMARINE',
       'RIGHT CRANES', 'RINGS HEARTBREAKERS', 'RIVER OUTLAW',
       'ROAD ROXANNE', 'ROBBERS JOON', 'ROBBERY BRIGHT', 'ROCK INSTINCT',
       'ROCKETEER MOTHER', 'ROCKY WAR', 'ROLLERCOASTER BRINGING',
       'ROMAN PUNK', 'ROOF CHAMPION', 'ROOM ROMAN', 'ROOTS REMEMBER',
       'ROSES TREASURE', 'ROUGE SQUAD', 'ROXANNE REBEL',
       'RUGRATS SHAKESPEARE', 'RULES HUMAN', 'RUN PACIFIC',
       'RUNAWAY TENENBAUMS', 'RUNNER MADIGAN', 'RUSH GOODFELLAS',
       'RUSHMORE MERMAID', 'SABRINA MIDNIGHT', 'SADDLE ANTITRUST',
       'SAGEBRUSH CLUELESS', 'SAINTS BRIDE', 'SALUTE APOLLO',
       'SAMURAI LION', 'SANTA PARIS', 'SASSY PACKER',
       'SATISFACTION CONFIDENTIAL', 'SATURDAY LAMBS', 'SATURN NAME',
       'SAVANNAH TOWN', 'SCALAWAG DUCK', 'SCARFACE BANG', 'SCHOOL JACKET',
       'SCISSORHANDS SLUMS', 'SCORPION APOLLO', 'SEA VIRGIN',
       'SEABISCUIT PUNK', 'SEARCHERS WAIT', 'SEATTLE EXPECATIONS',
       'SECRET GROUNDHOG', 'SECRETARY ROUGE', 'SECRETS PARADISE',
       'SENSE GREEK', 'SENSIBILITY REAR', 'SEVEN SWARM',
       'SHAKESPEARE SADDLE', 'SHANE DARKNESS', 'SHANGHAI TYCOON',
       'SHAWSHANK BUBBLE', 'SHEPHERD MIDSUMMER', 'SHINING ROSES',
       'SHIP WONDERLAND', 'SHOCK CABIN', 'SHOOTIST SUPERFLY', 'SHOW LORD',
       'SHREK LICENSE', 'SHRUNK DIVINE', 'SIDE ARK', 'SIEGE MADRE',
       'SIERRA DIVIDE', 'SILENCE KANE', 'SILVERADO GOLDFINGER',
       'SIMON NORTH', 'SINNERS ATLANTIS', 'SISTER FREDDY', 'SKY MIRACLE',
       'SLACKER LIAISONS', 'SLEEPING SUSPECTS', 'SLEEPLESS MONSOON',
       'SLEEPY JAPANESE', 'SLEUTH ORIENT', 'SLING LUKE',
       'SLIPPER FIDELITY', 'SLUMS DUCK', 'SMILE EARRING',
       'SMOKING BARBARELLA', 'SMOOCHY CONTROL', 'SNATCH SLIPPER',
       'SNATCHERS MONTEZUMA', 'SNOWMAN ROLLERCOASTER',
       'SOLDIERS EVOLUTION', 'SOMETHING DUCK', 'SONG HEDWIG',
       'SONS INTERVIEW', 'SORORITY QUEEN', 'SOUP WISDOM', 'SOUTH WAIT',
       'SPARTACUS CHEAPER', 'SPEAKEASY DATE', 'SPEED SUIT',
       'SPICE SORORITY', 'SPIKING ELEMENT', 'SPINAL ROCKY',
       'SPIRIT FLINTSTONES', 'SPIRITED CASUALTIES', 'SPLASH GUMP',
       'SPLENDOR PATTON', 'SPOILERS HELLFIGHTERS', 'SPY MILE',
       'SQUAD FISH', 'STAGE WORLD', 'STAGECOACH ARMAGEDDON',
       'STALLION SUNDANCE', 'STAMPEDE DISTURBING', 'STAR OPERATION',
       'STATE WASTELAND', 'STEEL SANTA', 'STEERS ARMAGEDDON',
       'STEPMOM DREAM', 'STING PERSONAL', 'STOCK GLASS', 'STONE FIRE',
       'STORM HAPPINESS', 'STORY SIDE', 'STRAIGHT HOURS',
       'STRANGELOVE DESIRE', 'STRANGER STRANGERS', 'STRANGERS GRAFFITI',
       'STREAK RIDGEMONT', 'STREETCAR INTENTIONS', 'STRICTLY SCARFACE',
       'SUBMARINE BED', 'SUGAR WONKA', 'SUICIDES SILENCE', 'SUIT WALLS',
       'SUMMER SCARFACE', 'SUN CONFESSIONS', 'SUNDANCE INVASION',
       'SUNRISE LEAGUE', 'SUNSET RACER', 'SUPER WYOMING', 'SUPERFLY TRIP',
       'SUSPECTS QUILLS', 'SWARM GOLD', 'SWEDEN SHINING',
       'SWEET BROTHERHOOD', 'SWEETHEARTS SUSPECTS', 'TADPOLE PARK',
       'TALENTED HOMICIDE', 'TARZAN VIDEOTAPE', 'TAXI KICK',
       'TEEN APOLLO', 'TELEGRAPH VOYAGE', 'TELEMARK HEARTBREAKERS',
       'TEMPLE ATTRACTION', 'TENENBAUMS COMMAND', 'TEQUILA PAST',
       'TERMINATOR CLUB', 'TEXAS WATCH', 'THEORY MERMAID',
       'THIEF PELICAN', 'THIN SAGEBRUSH', 'TIES HUNGER', 'TIGHTS DAWN',
       'TIMBERLAND SKY', 'TITANIC BOONDOCK', 'TITANS JERK',
       'TOMATOES HELLFIGHTERS', 'TOMORROW HUSTLER', 'TOOTSIE PILOT',
       'TORQUE BOUND', 'TOURIST PELICAN', 'TOWERS HURRICANE', 'TOWN ARK',
       'TRACY CIDER', 'TRADING PINOCCHIO', 'TRAFFIC HOBBIT',
       'TRAIN BUNCH', 'TRAINSPOTTING STRANGERS', 'TRAMP OTHERS',
       'TRANSLATION SUMMER', 'TRAP GUYS', 'TREASURE COMMAND',
       'TREATMENT JEKYLL', 'TRIP NEWTON', 'TROJAN TOMORROW',
       'TROOPERS METAL', 'TROUBLE DATE', 'TRUMAN CRAZY', 'TURN STAR',
       'TUXEDO MILE', 'TWISTED PIRATES', 'TYCOON GATHERING',
       'UNBREAKABLE KARATE', 'UNCUT SUICIDES', 'UNDEFEATED DALMATIONS',
       'UNFAITHFUL KILL', 'UNFORGIVEN ZOOLANDER', 'UNITED PILOT',
       'UNTOUCHABLES SUNRISE', 'UPRISING UPTOWN', 'UPTOWN YOUNG',
       'USUAL UNTOUCHABLES', 'VACATION BOONDOCK', 'VALENTINE VANISHING',
       'VALLEY PACKER', 'VAMPIRE WHALE', 'VANILLA DAY', 'VANISHED GARDEN',
       'VANISHING ROCKY', 'VARSITY TRIP', 'VELVET TERMINATOR',
       'VERTIGO NORTHWEST', 'VICTORY ACADEMY', 'VIDEOTAPE ARSENIC',
       'VIETNAM SMOOCHY', 'VILLAIN DESPERATE', 'VIRGIN DAISY',
       'VIRGINIAN PLUTO', 'VIRTUAL SPOILERS', 'VISION TORQUE',
       'VOICE PEACH', 'VOLCANO TEXAS', 'VOLUME HOUSE', 'VOYAGE LEGALLY',
       'WAGON JAWS', 'WAIT CIDER', 'WAKE JAWS', 'WALLS ARTIST',
       'WANDA CHAMBER', 'WAR NOTTING', 'WARDROBE PHANTOM',
       'WARLOCK WEREWOLF', 'WARS PLUTO', 'WASH HEAVENLY',
       'WASTELAND DIVINE', 'WATCH TRACY', 'WATERFRONT DELIVERANCE',
       'WATERSHIP FRONTIER', 'WEDDING APOLLO', 'WEEKEND PERSONAL',
       'WEREWOLF LOLA', 'WEST LION', 'WESTWARD SEABISCUIT',
       'WHALE BIKINI', 'WHISPERER GIANT', 'WIFE TURN', 'WILD APOLLO',
       'WILLOW TRACY', 'WIND PHANTOM', 'WINDOW SIDE', 'WISDOM WORKER',

In [84]:
df_film.title.value_counts()

ACADEMY DINOSAUR               1
PERFECT GROOVE                 1
PARK CITIZEN                   1
PARTY KNOCK                    1
PAST SUICIDES                  1
PATHS CONTROL                  1
PATIENT SISTER                 1
PATRIOT ROMAN                  1
PATTON INTERVIEW               1
PAYCHECK WAIT                  1
PEACH INNOCENT                 1
PEAK FOREVER                   1
PEARL DESTINY                  1
PELICAN COMFORTS               1
PERDITION FARGO                1
PERSONAL LADYBUGS              1
POLISH BROOKLYN                1
PET HAUNTING                   1
PHANTOM GLORY                  1
PHILADELPHIA WIFE              1
PIANIST OUTFIELD               1
PICKUP DRIVING                 1
PILOT HOOSIERS                 1
PINOCCHIO SIMON                1
PIRATES ROXANNE                1
PITTSBURGH HUNCHBACK           1
PITY BOUND                     1
PIZZA JUMANJI                  1
PLATOON INSTINCT               1
PLUTO OLEANDER                 1
PARIS WEEKEND                  1
PARADISE SABRINA               1
PAPI NECKLACE                  1
PANTHER REDS                   1
NORTHWEST POLISH               1
NOTORIOUS REUNION              1
NOTTING SPEAKEASY              1
NOVOCAINE FLIGHT               1
NUTS TIES                      1
OCTOBER SUBMARINE              1
ODDS BOOGIE                    1
OKLAHOMA JUMANJI               1
OLEANDER CLUE                  1
OPEN AFRICAN                   1
OPERATION OPERATION            1
OPPOSITE NECKLACE              1
OPUS ICE                       1
ORANGE GRAPES                  1
ORDER BETRAYED                 1
ORIENT CLOSER                  1
OSCAR GOLD                     1
OTHERS SOUP                    1
OUTBREAK DIVINE                1
OUTFIELD MASSACRE              1
OUTLAW HANKY                   1
OZ LIAISONS                    1
PACIFIC AMISTAD                1
PACKER MADIGAN                 1
PAJAMA JAWBREAKER              1
PANIC CLUB                     1
PANKY SUBMARINE                1
POCUS PULP                     1
POLLOCK DELIVERANCE            1
ACE GOLDFINGER                 1
ROBBERS JOON                   1
REEF SALUTE                    1
REIGN GENTLEMEN                1
REMEMBER DIARY                 1
REQUIEM TYCOON                 1
RESERVOIR ADAPTATION           1
RESURRECTION SILVERADO         1
REUNION WITCHES                1
RIDER CADDYSHACK               1
RIDGEMONT SUBMARINE            1
RIGHT CRANES                   1
RINGS HEARTBREAKERS            1
RIVER OUTLAW                   1
ROAD ROXANNE                   1
ROBBERY BRIGHT                 1
POND SEATTLE                   1
ROCK INSTINCT                  1
ROCKETEER MOTHER               1
ROCKY WAR                      1
ROLLERCOASTER BRINGING         1
ROMAN PUNK                     1
ROOF CHAMPION                  1
ROOM ROMAN                     1
ROOTS REMEMBER                 1
ROSES TREASURE                 1
ROUGE SQUAD                    1
ROXANNE REBEL                  1
RUGRATS SHAKESPEARE            1
RULES HUMAN                    1
REDS POCUS                     1
REDEMPTION COMFORTS            1
RECORDS ZORRO                  1
REBEL AIRPORT                  1
POSEIDON FOREVER               1
POTLUCK MIXED                  1
POTTER CONNECTICUT             1
PREJUDICE OLEANDER             1
PRESIDENT BANG                 1
PRIDE ALAMO                    1
PRIMARY GLASS                  1
PRINCESS GIANT                 1
PRIVATE DROP                   1
PRIX UNDEFEATED                1
PSYCHO SHRUNK                  1
PULP BEVERLY                   1
PUNK DIVORCE                   1
PURE RUNNER                    1
PURPLE MOVIE                   1
QUEEN LUKE                     1
QUEST MUSSOLINI                1
QUILLS BULL                    1
RACER EGG                      1
RAGE GAMES                     1
RAGING AIRPLANE                1
RAIDERS ANTITRUST              1
RAINBOW SHOCK                  1
RANDOM GO                      1
RANGE MOONWALKER               1
REAP UNFAITHFUL                1
REAR TRADING                   1
NORTH TEQUILA                  1
NOON PAPI                      1
NONE SPIKING                   1
MAGIC MALLRATS                 1
LOUISIANA HARRY                1
LOVE SUICIDES                  1
LOVELY JINGLE                  1
LOVER TRUMAN                   1
LOVERBOY ATTACKS               1
LUCK OPUS                      1
LUCKY FLYING                   1
LUKE MUMMY                     1
LUST LOCK                      1
MADIGAN DORADO                 1
MADISON TRAP                   1
MADNESS ATTACKS                1
MADRE GABLES                   1
MAGNIFICENT CHITTY             1
NIGHTMARE CHILL                1
MAGNOLIA FORRESTER             1
MAGUIRE APACHE                 1
MAIDEN HOME                    1
MAJESTIC FLOATS                1
MAKER GABLES                   1
MALKOVICH PET                  1
MALLRATS UNITED                1
MALTESE HOPE                   1
MANCHURIAN CURTAIN             1
MANNEQUIN WORST                1
MARRIED GO                     1
MARS ROMAN                     1
MASK PEACH                     1
LOST BIRD                      1
LOSER HUSTLER                  1
LOSE INCH                      1
LORD ARIZONA                   1
KRAMER CHOCOLATE               1
KWAI HOMEWARD                  1
LABYRINTH LEAGUE               1
LADY STAGE                     1
LADYBUGS ARMAGEDDON            1
LAMBS CINCINATTI               1
LANGUAGE COWBOY                1
LAWLESS VISION                 1
LAWRENCE LOVE                  1
LEAGUE HELLFIGHTERS            1
LEATHERNECKS DWARFS            1
LEBOWSKI SOLDIERS              1
LEGALLY SECRETARY              1
LEGEND JEDI                    1
LESSON CLEOPATRA               1
LIAISONS SWEET                 1
LIBERTY MAGNIFICENT            1
LICENSE WEEKEND                1
LIES TREATMENT                 1
LIFE TWISTED                   1
LIGHTS DEER                    1
LION UNCUT                     1
LOATHING LEGALLY               1
LOCK REAR                      1
LOLA AGENT                     1
LOLITA WORLD                   1
LONELY ELEPHANT                1
MASKED BUBBLE                  1
MASSACRE USUAL                 1
MASSAGE IMAGE                  1
MOON BUNCH                     1
MOONWALKER FOOL                1
MOSQUITO ARMAGEDDON            1
MOTHER OLEANDER                1
MOTIONS DETAILS                1
MOULIN WAKE                    1
MOURNING PURPLE                1
MOVIE SHAKESPEARE              1
MULAN MOON                     1
MULHOLLAND BEAST               1
MUMMY CREATURES                1
MUPPET MILE                    1
MURDER ANTITRUST               1
MUSCLE BRIGHT                  1
MUSIC BOONDOCK                 1
MUSKETEERS WAIT                1
MUSSOLINI SPOILERS             1
MYSTIC TRUMAN                  1
NAME DETECTIVE                 1
NASH CHOCOLAT                  1
NATIONAL STORY                 1
NATURAL STOCK                  1
NECKLACE OUTBREAK              1
NEIGHBORS CHARADE              1
NEMO CAMPUS                    1
NETWORK PEAK                   1
NEWSIES STORY                  1
NEWTON LABYRINTH               1
MOONSHINE CABIN                1
MONTEZUMA COMMAND              1
MATRIX SNOWMAN                 1
MONTEREY LABYRINTH             1
MAUDE MOD                      1
MEET CHOCOLATE                 1
MEMENTO ZOOLANDER              1
MENAGERIE RUSHMORE             1
MERMAID INSECTS                1
METAL ARMAGEDDON               1
METROPOLIS COMA                1
MICROCOSMOS PARADISE           1
MIDNIGHT WESTWARD              1
MIDSUMMER GROUNDHOG            1
MIGHTY LUCK                    1
MILE MULAN                     1
MILLION ACE                    1
MINDS TRUMAN                   1
MINE TITANS                    1
MINORITY KISS                  1
MIRACLE VIRTUAL                1
MISSION ZOOLANDER              1
MIXED DOORS                    1
MOB DUFFEL                     1
MOCKINGBIRD HOLLYWOOD          1
MOD SECRETARY                  1
MODEL FISH                     1
MODERN DORADO                  1
MONEY HAROLD                   1
MONSOON CAUSE                  1
MONSTER SPARTACUS              1
RUN PACIFIC                    1
RUNAWAY TENENBAUMS             1
RUNNER MADIGAN                 1
UNFAITHFUL KILL                1
TREATMENT JEKYLL               1
TRIP NEWTON                    1
TROJAN TOMORROW                1
TROOPERS METAL                 1
TROUBLE DATE                   1
TRUMAN CRAZY                   1
TURN STAR                      1
TUXEDO MILE                    1
TWISTED PIRATES                1
TYCOON GATHERING               1
UNBREAKABLE KARATE             1
UNCUT SUICIDES                 1
UNDEFEATED DALMATIONS          1
UNFORGIVEN ZOOLANDER           1
TAXI KICK                      1
UNITED PILOT                   1
UNTOUCHABLES SUNRISE           1
UPRISING UPTOWN                1
UPTOWN YOUNG                   1
USUAL UNTOUCHABLES             1
VACATION BOONDOCK              1
VALENTINE VANISHING            1
VALLEY PACKER                  1
VAMPIRE WHALE                  1
VANILLA DAY                    1
VANISHED GARDEN                1
VANISHING ROCKY                1
VARSITY TRIP                   1
TREASURE COMMAND               1
TRAP GUYS                      1
TRANSLATION SUMMER             1
TRAMP OTHERS                   1
TELEGRAPH VOYAGE               1
TELEMARK HEARTBREAKERS         1
TEMPLE ATTRACTION              1
TENENBAUMS COMMAND             1
TEQUILA PAST                   1
TERMINATOR CLUB                1
TEXAS WATCH                    1
THEORY MERMAID                 1
THIEF PELICAN                  1
THIN SAGEBRUSH                 1
TIES HUNGER                    1
TIGHTS DAWN                    1
TIMBERLAND SKY                 1
TITANIC BOONDOCK               1
TITANS JERK                    1
TOMATOES HELLFIGHTERS          1
TOMORROW HUSTLER               1
TOOTSIE PILOT                  1
TORQUE BOUND                   1
TOURIST PELICAN                1
TOWERS HURRICANE               1
TOWN ARK                       1
TRACY CIDER                    1
TRADING PINOCCHIO              1
TRAFFIC HOBBIT                 1
TRAIN BUNCH                    1
TRAINSPOTTING STRANGERS        1
VELVET TERMINATOR              1
VERTIGO NORTHWEST              1
VICTORY ACADEMY                1
WHALE BIKINI                   1
WIFE TURN                      1
WILD APOLLO                    1
WILLOW TRACY                   1
WIND PHANTOM                   1
WINDOW SIDE                    1
WISDOM WORKER                  1
WITCHES PANIC                  1
WIZARD COLDBLOODED             1
WOLVES DESIRE                  1
WOMEN DORADO                   1
WON DARES                      1
WONDERFUL DROP                 1
WONDERLAND CHRISTMAS           1
WONKA SEA                      1
WORDS HUNTER                   1
WORKER TARZAN                  1
WORKING MICROCOSMOS            1
WORLD LEATHERNECKS             1
WORST BANGER                   1
WRATH MILE                     1
WRONG BEHAVIOR                 1
WYOMING STORM                  1
YENTL IDAHO                    1
YOUNG LANGUAGE                 1
YOUTH KICK                     1
ZHIVAGO CORE                   1
ZOOLANDER FICTION              1
WHISPERER GIANT                1
WESTWARD SEABISCUIT            1
VIDEOTAPE ARSENIC              1
WEST LION                      1
VIETNAM SMOOCHY                1
VILLAIN DESPERATE              1
VIRGIN DAISY                   1
VIRGINIAN PLUTO                1
VIRTUAL SPOILERS               1
VISION TORQUE                  1
VOICE PEACH                    1
VOLCANO TEXAS                  1
VOLUME HOUSE                   1
VOYAGE LEGALLY                 1
WAGON JAWS                     1
WAIT CIDER                     1
WAKE JAWS                      1
WALLS ARTIST                   1
WANDA CHAMBER                  1
WAR NOTTING                    1
WARDROBE PHANTOM               1
WARLOCK WEREWOLF               1
WARS PLUTO                     1
WASH HEAVENLY                  1
WASTELAND DIVINE               1
WATCH TRACY                    1
WATERFRONT DELIVERANCE         1
WATERSHIP FRONTIER             1
WEDDING APOLLO                 1
WEEKEND PERSONAL               1
WEREWOLF LOLA                  1
TEEN APOLLO                    1
TARZAN VIDEOTAPE               1
RUSH GOODFELLAS                1
SILVERADO GOLDFINGER           1
SHAWSHANK BUBBLE               1
SHEPHERD MIDSUMMER             1
SHINING ROSES                  1
SHIP WONDERLAND                1
SHOCK CABIN                    1
SHOOTIST SUPERFLY              1
SHOW LORD                      1
SHREK LICENSE                  1
SHRUNK DIVINE                  1
SIDE ARK                       1
SIEGE MADRE                    1
SIERRA DIVIDE                  1
SILENCE KANE                   1
SIMON NORTH                    1
TALENTED HOMICIDE              1
SINNERS ATLANTIS               1
SISTER FREDDY                  1
SKY MIRACLE                    1
SLACKER LIAISONS               1
SLEEPING SUSPECTS              1
SLEEPLESS MONSOON              1
SLEEPY JAPANESE                1
SLEUTH ORIENT                  1
SLING LUKE                     1
SLIPPER FIDELITY               1
SLUMS DUCK                     1
SMILE EARRING                  1
SMOKING BARBARELLA             1
SHANGHAI TYCOON                1
SHANE DARKNESS                 1
SHAKESPEARE SADDLE             1
SEVEN SWARM                    1
RUSHMORE MERMAID               1
SABRINA MIDNIGHT               1
SADDLE ANTITRUST               1
SAGEBRUSH CLUELESS             1
SAINTS BRIDE                   1
SALUTE APOLLO                  1
SAMURAI LION                   1
SANTA PARIS                    1
SASSY PACKER                   1
SATISFACTION CONFIDENTIAL      1
SATURDAY LAMBS                 1
SATURN NAME                    1
SAVANNAH TOWN                  1
SCALAWAG DUCK                  1
SCARFACE BANG                  1
SCHOOL JACKET                  1
SCISSORHANDS SLUMS             1
SCORPION APOLLO                1
SEA VIRGIN                     1
SEABISCUIT PUNK                1
SEARCHERS WAIT                 1
SEATTLE EXPECATIONS            1
SECRET GROUNDHOG               1
SECRETARY ROUGE                1
SECRETS PARADISE               1
SENSE GREEK                    1
SENSIBILITY REAR               1
SMOOCHY CONTROL                1
SNATCH SLIPPER                 1
SNATCHERS MONTEZUMA            1
STING PERSONAL                 1
STONE FIRE                     1
STORM HAPPINESS                1
STORY SIDE                     1
STRAIGHT HOURS                 1
STRANGELOVE DESIRE             1
STRANGER STRANGERS             1
STRANGERS GRAFFITI             1
STREAK RIDGEMONT               1
STREETCAR INTENTIONS           1
STRICTLY SCARFACE              1
SUBMARINE BED                  1
SUGAR WONKA                    1
SUICIDES SILENCE               1
SUIT WALLS                     1
SUMMER SCARFACE                1
SUN CONFESSIONS                1
SUNDANCE INVASION              1
SUNRISE LEAGUE                 1
SUNSET RACER                   1
SUPER WYOMING                  1
SUPERFLY TRIP                  1
SUSPECTS QUILLS                1
SWARM GOLD                     1
SWEDEN SHINING                 1
SWEET BROTHERHOOD              1
SWEETHEARTS SUSPECTS           1
TADPOLE PARK                   1
STOCK GLASS                    1
STEPMOM DREAM                  1
SNOWMAN ROLLERCOASTER          1
STEERS ARMAGEDDON              1
SOLDIERS EVOLUTION             1
SOMETHING DUCK                 1
SONG HEDWIG                    1
SONS INTERVIEW                 1
SORORITY QUEEN                 1
SOUP WISDOM                    1
SOUTH WAIT                     1
SPARTACUS CHEAPER              1
SPEAKEASY DATE                 1
SPEED SUIT                     1
SPICE SORORITY                 1
SPIKING ELEMENT                1
SPINAL ROCKY                   1
SPIRIT FLINTSTONES             1
SPIRITED CASUALTIES            1
SPLASH GUMP                    1
SPLENDOR PATTON                1
SPOILERS HELLFIGHTERS          1
SPY MILE                       1
SQUAD FISH                     1
STAGE WORLD                    1
STAGECOACH ARMAGEDDON          1
STALLION SUNDANCE              1
STAMPEDE DISTURBING            1
STAR OPERATION                 1
STATE WASTELAND                1
STEEL SANTA                    1
KNOCK WARLOCK                  1
KISSING DOLLS                  1
KISS GLORY                     1
CONEHEADS SMOOCHY              1
CLOSER BANG                    1
CLUB GRAFFITI                  1
CLUE GRAIL                     1
CLUELESS BUCKET                1
CLYDE THEORY                   1
COAST RAINBOW                  1
COLDBLOODED DARLING            1
COLOR PHILADELPHIA             1
COMA HEAD                      1
COMANCHEROS ENEMY              1
COMFORTS RUSH                  1
COMMAND DARLING                1
COMMANDMENTS EXPRESS           1
CONFESSIONS MAGUIRE            1
CASUALTIES ENCINO              1
CONFIDENTIAL INTERVIEW         1
CONFUSED CANDLES               1
CONGENIALITY QUEST             1
CONNECTICUT TRAMP              1
CONNECTION MICROCOSMOS         1
CONQUERER NUTS                 1
CONSPIRACY SPIRIT              1
CONTACT ANONYMOUS              1
CONTROL ANTHEM                 1
CONVERSATION DOWNHILL          1
CORE SUIT                      1
COWBOY DOOM                    1
CRAFT OUTFIELD                 1
CLONES PINOCCHIO               1
CLOCKWORK PARADISE             1
CLERKS ANGELS                  1
CLEOPATRA DEVIL                1
CATCH AMISTAD                  1
CAUSE DATE                     1
CELEBRITY HORN                 1
CENTER DINOSAUR                1
CHAINSAW UPTOWN                1
CHAMBER ITALIAN                1
CHAMPION FLATLINERS            1
CHANCE RESURRECTION            1
CHAPLIN LICENSE                1
CHARADE DUFFEL                 1
CHARIOTS CONSPIRACY            1
CHASING FIGHT                  1
CHEAPER CLYDE                  1
CHICAGO NORTH                  1
CHICKEN HELLFIGHTERS           1
CHILL LUCK                     1
CHINATOWN GLADIATOR            1
CHISUM BEHAVIOR                1
CHITTY LOCK                    1
CHOCOLAT HARRY                 1
CHOCOLATE DUCK                 1
CHRISTMAS MOONSHINE            1
CIDER DESIRE                   1
CINCINATTI WHISPERER           1
CIRCUS YOUTH                   1
CITIZEN SHREK                  1
CLASH FREDDY                   1
CRANES RESERVOIR               1
CRAZY HOME                     1
CREATURES SHAKESPEARE          1
DEER VIRGINIAN                 1
DESERT POSEIDON                1
DESIRE ALIEN                   1
DESPERATE TRAINSPOTTING        1
DESTINATION JERK               1
DESTINY SATURDAY               1
DETAILS PACKER                 1
DETECTIVE VISION               1
DEVIL DESIRE                   1
DIARY PANIC                    1
DINOSAUR SECRETARY             1
DIRTY ACE                      1
DISCIPLE MOTHER                1
DISTURBING SCARFACE            1
DIVIDE MONSTER                 1
DIVINE RESURRECTION            1
DIVORCE SHINING                1
DOCTOR GRAIL                   1
DOGMA FAMILY                   1
DOLLS RAGE                     1
DONNIE ALLEY                   1
DOOM DANCING                   1
DOORS PRESIDENT                1
DORADO NOTTING                 1
DOUBLE WRATH                   1
DOUBTFIRE LABYRINTH            1
DOWNHILL ENOUGH                1
DOZEN LION                     1
DELIVERANCE MULHOLLAND         1
DEEP CRUSADE                   1
CREEPERS KANE                  1
DECEIVER BETRAYED              1
CROOKED FROGMEN                1
CROSSING DIVORCE               1
CROSSROADS CASUALTIES          1
CROW GREASE                    1
CROWDS TELEMARK                1
CRUELTY UNFORGIVEN             1
CRUSADE HONEY                  1
CRYSTAL BREAKING               1
CUPBOARD SINNERS               1

In [85]:
len(df_film.title.value_counts())

1000

In [86]:
df_film.columns

Index(['film_id', 'title', 'description', 'release_year', 'language_id',
       'original_language_id', 'rental_duration', 'rental_rate', 'length',
       'replacement_cost', 'rating', 'special_features', 'last_update'],
      dtype='object')

In [87]:
df_film.description.head()

0    A Epic Drama of a Feminist And a Mad Scientist...
1    A Astounding Epistle of a Database Administrat...
2    A Astounding Reflection of a Lumberjack And a ...
3    A Fanciful Documentary of a Frisbee And a Lumb...
4    A Fast-Paced Documentary of a Pastry Chef And ...
Name: description, dtype: object

In [95]:
df_film.description.unique()

array(['A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies',
       'A Astounding Epistle of a Database Administrator And a Explorer who must Find a Car in Ancient China',
       'A Astounding Reflection of a Lumberjack And a Car who must Sink a Lumberjack in A Baloon Factory',
       'A Fanciful Documentary of a Frisbee And a Lumberjack who must Chase a Monkey in A Shark Tank',
       'A Fast-Paced Documentary of a Pastry Chef And a Dentist who must Pursue a Forensic Psychologist in The Gulf of Mexico',
       'A Intrepid Panorama of a Robot And a Boy who must Escape a Sumo Wrestler in Ancient China',
       'A Touching Saga of a Hunter And a Butler who must Discover a Butler in A Jet Boat',
       'A Epic Tale of a Moose And a Girl who must Confront a Monkey in Ancient India',
       'A Thoughtful Panorama of a Database Administrator And a Mad Scientist who must Outgun a Mad Scientist in A Jet Boat',
       'A Action-Packed Tale of a Man And a Lumberjack who must Reach a Feminist in Ancient China',
       'A Boring Epistle of a Butler And a Cat who must Fight a Pastry Chef in A MySQL Convention',
       'A Fanciful Saga of a Hunter And a Pastry Chef who must Vanquish a Boy in Australia',
       'A Action-Packed Drama of a Dentist And a Crocodile who must Battle a Feminist in The Canadian Rockies',
       'A Emotional Drama of a A Shark And a Database Administrator who must Vanquish a Pioneer in Soviet Georgia',
       'A Brilliant Drama of a Cat And a Mad Scientist who must Battle a Feminist in A MySQL Convention',
       'A Fast-Paced Drama of a Robot And a Composer who must Battle a Astronaut in New Orleans',
       'A Fast-Paced Character Study of a Composer And a Dog who must Outgun a Boat in An Abandoned Fun House',
       'A Thoughtful Drama of a Composer And a Feminist who must Meet a Secret Agent in The Canadian Rockies',
       'A Emotional Display of a Pioneer And a Technical Writer who must Battle a Man in A Baloon',
       'A Boring Drama of a Woman And a Squirrel who must Conquer a Student in A Baloon',
       'A Insightful Drama of a Girl And a Astronaut who must Face a Database Administrator in A Shark Tank',
       'A Emotional Character Study of a Dentist And a Crocodile who must Meet a Sumo Wrestler in California',
       'A Lacklusture Display of a Dentist And a Dentist who must Fight a Girl in Australia',
       'A Thoughtful Display of a Explorer And a Pastry Chef who must Overcome a Feminist in The Sahara Desert',
       'A Thoughtful Display of a Woman And a Astronaut who must Battle a Robot in Berlin',
       'A Amazing Panorama of a Pastry Chef And a Boat who must Escape a Woman in An Abandoned Amusement Park',
       'A Amazing Reflection of a Database Administrator And a Astronaut who must Outrace a Database Administrator in A Shark Tank',
       'A Touching Panorama of a Waitress And a Woman who must Outrace a Dog in An Abandoned Amusement Park',
       'A Fateful Yarn of a Womanizer And a Feminist who must Succumb a Database Administrator in Ancient India',
       'A Epic Story of a Pastry Chef And a Woman who must Chase a Feminist in An Abandoned Fun House',
       'A Awe-Inspiring Reflection of a Pastry Chef And a Teacher who must Overcome a Sumo Wrestler in A U-Boat',
       'A Astounding Story of a Dog And a Squirrel who must Defeat a Woman in An Abandoned Amusement Park',
       'A Action-Packed Reflection of a Crocodile And a Explorer who must Find a Sumo Wrestler in An Abandoned Mine Shaft',
       'A Touching Epistle of a Madman And a Mad Cow who must Defeat a Student in Nigeria',
       'A Action-Packed Reflection of a Pastry Chef And a Composer who must Discover a Mad Scientist in The First Manned Space Station',
       'A Emotional Epistle of a Forensic Psychologist And a Butler who must Challenge a Waitress in An Abandoned Mine Shaft',
       'A Brilliant Panorama of a Mad Scientist And a Mad Cow who must Meet a Pioneer in A Monastery',
       'A Beautiful Yarn of a Pioneer And a Monkey who must Pursue a Explorer in The Sahara Desert',
       'A Fast-Paced Tale of a Boat And a Teacher who must Succumb a Composer in An Abandoned Mine Shaft',
       'A Boring Saga of a Database Administrator And a Womanizer who must Battle a Waitress in Nigeria',
       'A Fanciful Documentary of a Mad Cow And a Womanizer who must Find a Dentist in Berlin',
       'A Stunning Reflection of a Robot And a Moose who must Challenge a Woman in California',
       'A Thrilling Yarn of a Feminist And a Hunter who must Fight a Technical Writer in A Shark Tank',
       'A Fast-Paced Panorama of a Technical Writer And a Mad Scientist who must Find a Feminist in An Abandoned Mine Shaft',
       'A Astounding Panorama of a Composer And a Frisbee who must Reach a Husband in Ancient Japan',
       'A Beautiful Tale of a Dentist And a Mad Cow who must Battle a Moose in The Sahara Desert',
       'A Boring Character Study of a A Shark And a Girl who must Outrace a Feminist in An Abandoned Mine Shaft',
       'A Stunning Character Study of a Mad Scientist And a Mad Cow who must Kill a Car in A Monastery',
       'A Emotional Panorama of a Pioneer And a Composer who must Escape a Mad Scientist in A Jet Boat',
       'A Stunning Drama of a Forensic Psychologist And a Husband who must Overcome a Waitress in A Monastery',
       'A Insightful Panorama of a Forensic Psychologist And a Mad Cow who must Build a Mad Scientist in The First Manned Space Station',
       'A Thrilling Documentary of a Composer And a Monkey who must Find a Feminist in California',
       'A Epic Drama of a Madman And a Cat who must Face a A Shark in An Abandoned Amusement Park',
       'A Awe-Inspiring Drama of a Car And a Pastry Chef who must Chase a Crocodile in The First Manned Space Station',
       'A Awe-Inspiring Story of a Feminist And a Cat who must Conquer a Dog in A Monastery',
       'A Intrepid Story of a Cat And a Student who must Vanquish a Girl in An Abandoned Amusement Park',
       'A Stunning Epistle of a Man And a Husband who must Reach a Mad Scientist in A Jet Boat',
       'A Fateful Display of a Womanizer And a Mad Scientist who must Outgun a A Shark in Soviet Georgia',
       'A Astounding Saga of a Dog And a Boy who must Kill a Teacher in The First Manned Space Station',
       'A Awe-Inspiring Epistle of a Student And a Squirrel who must Defeat a Boy in Ancient China',
       'A Fast-Paced Display of a Composer And a Moose who must Sink a Robot in An Abandoned Mine Shaft',
       'A Astounding Panorama of a Lumberjack And a Dog who must Redeem a Woman in An Abandoned Fun House',
       'A Astounding Character Study of a Madman And a Robot who must Meet a Mad Scientist in An Abandoned Fun House',
       'A Epic Display of a Pioneer And a Student who must Challenge a Butler in The Gulf of Mexico',
       'A Unbelieveable Drama of a Student And a Husband who must Outrace a Sumo Wrestler in Berlin',
       'A Astounding Panorama of a Man And a Monkey who must Discover a Man in The First Manned Space Station',
       'A Taut Saga of a Crocodile And a Boy who must Overcome a Technical Writer in Ancient China',
       'A Emotional Character Study of a Boat And a Pioneer who must Find a Explorer in A Shark Tank',
       'A Fanciful Documentary of a Womanizer And a Boat who must Defeat a Madman in The First Manned Space Station',
       'A Astounding Drama of a Astronaut And a Cat who must Discover a Woman in The First Manned Space Station',
       'A Emotional Reflection of a Teacher And a Man who must Meet a Cat in The First Manned Space Station',
       'A Stunning Saga of a Mad Scientist And a Forensic Psychologist who must Challenge a Squirrel in A MySQL Convention',
       'A Touching Tale of a Girl And a Crocodile who must Discover a Waitress in Nigeria',
       'A Fanciful Panorama of a Husband And a Pioneer who must Outgun a Dog in A Baloon',
       'A Thrilling Documentary of a Car And a Student who must Sink a Hunter in The Canadian Rockies',
       'A Fast-Paced Saga of a Frisbee And a Astronaut who must Overcome a Feminist in Ancient India',
       'A Boring Story of a Womanizer And a Pioneer who must Face a Dog in California',
       'A Intrepid Yarn of a Pastry Chef And a Mad Scientist who must Challenge a Secret Agent in Ancient Japan',
       'A Thoughtful Character Study of a Frisbee And a Pastry Chef who must Fight a Dentist in The First Manned Space Station',
       'A Emotional Documentary of a Student And a Girl who must Build a Boat in Nigeria',
       'A Touching Drama of a Robot And a Dentist who must Meet a Hunter in A Jet Boat',
       'A Boring Drama of a Explorer And a Man who must Kill a Lumberjack in A Manhattan Penthouse',
       'A Insightful Documentary of a Boat And a Composer who must Meet a Forensic Psychologist in An Abandoned Fun House',
       'A Awe-Inspiring Story of a Waitress And a Dog who must Discover a Dentist in Ancient Japan',
       'A Fast-Paced Story of a Crocodile And a Robot who must Find a Moose in Ancient Japan',
       'A Lacklusture Character Study of a Husband And a Sumo Wrestler who must Succumb a Technical Writer in The Gulf of Mexico',
       'A Fateful Panorama of a Crocodile And a Boy who must Defeat a Monkey in The Gulf of Mexico',
       'A Touching Epistle of a Frisbee And a Husband who must Pursue a Student in Nigeria',
       'A Brilliant Epistle of a Teacher And a Sumo Wrestler who must Defeat a Man in An Abandoned Fun House',
       'A Fateful Epistle of a Moose And a Monkey who must Confront a Lumberjack in Ancient China',
       'A Thrilling Panorama of a Database Administrator And a Astronaut who must Challenge a Lumberjack in A Baloon',
       'A Fast-Paced Yarn of a Waitress And a Composer who must Outgun a Dentist in California',
       'A Amazing Epistle of a Moose And a Crocodile who must Outrace a Dog in Berlin',
       'A Insightful Story of a Dog And a Pastry Chef who must Battle a Girl in Berlin',
       'A Beautiful Reflection of a Student And a Student who must Fight a Moose in Berlin',
       'A Beautiful Display of a Secret Agent And a Monkey who must Battle a Sumo Wrestler in An Abandoned Mine Shaft',
       'A Epic Tale of a Robot And a Monkey who must Vanquish a Man in New Orleans',
       'A Fateful Yarn of a Lumberjack And a Feminist who must Conquer a Student in A Jet Boat',
       'A Fateful Saga of a A Shark And a Technical Writer who must Find a Woman in A Jet Boat',
       'A Beautiful Drama of a Dentist And a Composer who must Battle a Sumo Wrestler in The First Manned Space Station',
       'A Fateful Character Study of a Butler And a Technical Writer who must Sink a Astronaut in Ancient Japan',
       'A Awe-Inspiring Panorama of a Crocodile And a Moose who must Confront a Girl in A Baloon',
       'A Amazing Display of a Girl And a Womanizer who must Succumb a Lumberjack in A Baloon Factory',
       'A Awe-Inspiring Character Study of a Secret Agent And a Boat who must Find a Squirrel in The First Manned Space Station',
       'A Fanciful Drama of a Moose And a Squirrel who must Conquer a Pioneer in The Canadian Rockies',
       'A Amazing Display of a Mad Cow And a Pioneer who must Redeem a Sumo Wrestler in The Outback',
       'A Emotional Story of a Feminist And a Feminist who must Escape a Pastry Chef in A MySQL Convention',
       'A Lacklusture Yarn of a Feminist And a Database Administrator who must Face a Hunter in New Orleans',
       'A Fateful Story of a Girl And a Composer who must Conquer a Husband in A Shark Tank',
       'A Stunning Epistle of a Boat And a Man who must Challenge a A Shark in A Baloon Factory',
       'A Awe-Inspiring Epistle of a Woman And a Madman who must Fight a Robot in Soviet Georgia',
       'A Thrilling Drama of a Frisbee And a Lumberjack who must Sink a Man in Nigeria',
       'A Thrilling Yarn of a Database Administrator And a Robot who must Battle a Database Administrator in Ancient India',
       'A Touching Character Study of a Woman And a Waitress who must Battle a Pastry Chef in A MySQL Convention',
       'A Astounding Drama of a Crocodile And a Mad Cow who must Build a Robot in A Jet Boat',
       'A Brilliant Epistle of a Composer And a Database Administrator who must Vanquish a Mad Scientist in The First Manned Space Station',
       'A Fanciful Character Study of a Monkey And a Explorer who must Build a Astronaut in An Abandoned Fun House',
       'A Thoughtful Reflection of a Waitress And a Feminist who must Escape a Squirrel in A Manhattan Penthouse',
       'A Fateful Saga of a Moose And a Car who must Pursue a Woman in A MySQL Convention',
       'A Fanciful Tale of a Pioneer And a Technical Writer who must Outgun a Pioneer in A Shark Tank',
       'A Astounding Character Study of a Composer And a Student who must Overcome a Composer in A Monastery',
       'A Amazing Epistle of a Student And a Astronaut who must Discover a Frisbee in The Canadian Rockies',
       'A Amazing Panorama of a Crocodile And a Forensic Psychologist who must Pursue a Secret Agent in The First Manned Space Station',
       'A Intrepid Documentary of a Boat And a Crocodile who must Chase a Robot in The Sahara Desert',
       'A Intrepid Drama of a Frisbee And a Hunter who must Kill a Secret Agent in New Orleans',
       'A Insightful Yarn of a A Shark And a Pastry Chef who must Face a Boy in A Monastery',
       'A Fast-Paced Panorama of a Girl And a A Shark who must Confront a Boy in Ancient India',
       'A Boring Reflection of a Lumberjack And a Feminist who must Discover a Woman in Nigeria',
       'A Taut Tale of a Explorer And a Pastry Chef who must Conquer a Hunter in A MySQL Convention',
       'A Amazing Documentary of a Secret Agent And a Astronaut who must Vanquish a Hunter in A Shark Tank',
       'A Beautiful Character Study of a Sumo Wrestler And a Dentist who must Find a Dog in California',
       'A Beautiful Documentary of a Boy And a Robot who must Discover a Squirrel in Australia',
       'A Fateful Reflection of a Moose And a Husband who must Overcome a Monkey in Nigeria',
       'A Amazing Story of a Mad Cow And a Dog who must Kill a Husband in A Monastery',
       'A Astounding Story of a Forensic Psychologist And a Forensic Psychologist who must Overcome a Moose in Ancient China',
       'A Boring Drama of a Dog And a Forensic Psychologist who must Outrace a Explorer in Ancient India',
       'A Action-Packed Display of a Man And a Waitress who must Build a Dog in A MySQL Convention',
       'A Unbelieveable Epistle of a Robot And a Husband who must Chase a Robot in The First Manned Space Station',
       'A Astounding Saga of a Technical Writer And a Butler who must Battle a Butler in A Shark Tank',
       'A Emotional Character Study of a Pioneer And a Girl who must Discover a Dog in Ancient Japan',
       'A Fateful Yarn of a Mad Cow And a Waitress who must Battle a Student in California',
       'A Emotional Drama of a Dog And a Explorer who must Outrace a Technical Writer in Australia',
       'A Lacklusture Epistle of a Boat And a Technical Writer who must Fight a A Shark in The Canadian Rockies',
       'A Brilliant Panorama of a Technical Writer And a Lumberjack who must Escape a Butler in Ancient India',
       'A Epic Documentary of a Sumo Wrestler And a Butler who must Kill a Car in Ancient India',
       'A Boring Epistle of a Boat And a Database Administrator who must Kill a Sumo Wrestler in The First Manned Space Station',
       'A Action-Packed Epistle of a Dentist And a Moose who must Meet a Mad Cow in Ancient Japan',
       'A Unbelieveable Story of a Mad Scientist And a Technical Writer who must Discover a Composer in Ancient China',
       'A Action-Packed Epistle of a Feminist And a Astronaut who must Conquer a Boat in A Manhattan Penthouse',
       'A Stunning Character Study of a Composer And a Mad Cow who must Succumb a Cat in Soviet Georgia',
       'A Brilliant Saga of a Pastry Chef And a Hunter who must Confront a Butler in Berlin',
       'A Thoughtful Drama of a Pastry Chef And a Dentist who must Pursue a Girl in A Baloon',
       'A Fanciful Character Study of a Technical Writer And a Husband who must Redeem a Robot in The Outback',
       'A Amazing Yarn of a Composer And a Squirrel who must Escape a Astronaut in Australia',
       'A Fanciful Documentary of a Crocodile And a Technical Writer who must Fight a A Shark in A Baloon',
       'A Thrilling Display of a Sumo Wrestler And a Girl who must Confront a Man in A Baloon',
       'A Insightful Documentary of a Technical Writer And a Feminist who must Challenge a Cat in A Baloon',
       'A Amazing Drama of a Car And a Robot who must Pursue a Dentist in New Orleans',
       'A Unbelieveable Panorama of a Frisbee And a Hunter who must Vanquish a Monkey in Ancient India',
       'A Epic Tale of a Pioneer And a Hunter who must Escape a Girl in A U-Boat',
       'A Taut Tale of a Butler And a Mad Scientist who must Build a Crocodile in Ancient China',
       'A Taut Tale of a Car And a Pioneer who must Conquer a Sumo Wrestler in An Abandoned Fun House',
       'A Beautiful Yarn of a Astronaut And a Frisbee who must Overcome a Explorer in A Jet Boat',
       'A Astounding Documentary of a Mad Cow And a Pioneer who must Challenge a Butler in The Sahara Desert',
       'A Brilliant Panorama of a Dentist And a Moose who must Find a Student in The Gulf of Mexico',
       'A Thoughtful Panorama of a Car And a Crocodile who must Sink a Monkey in The Sahara Desert',
       'A Awe-Inspiring Drama of a Boy And a Frisbee who must Escape a Pastry Chef in California',
       'A Boring Saga of a Lumberjack And a Monkey who must Find a Monkey in The Gulf of Mexico',
       'A Unbelieveable Panorama of a Pioneer And a Husband who must Meet a Mad Cow in An Abandoned Mine Shaft',
       'A Awe-Inspiring Tale of a Forensic Psychologist And a Woman who must Challenge a Database Administrator in Ancient Japan',
       'A Fanciful Saga of a Student And a Mad Scientist who must Battle a Hunter in An Abandoned Mine Shaft',
       'A Touching Story of a Womanizer And a Composer who must Pursue a Husband in Nigeria',
       'A Insightful Story of a Car And a Boy who must Battle a Technical Writer in A Baloon',
       'A Stunning Reflection of a Cat And a Woman who must Find a Astronaut in Ancient Japan',
       'A Stunning Epistle of a Cat And a Forensic Psychologist who must Confront a Pioneer in A Baloon',
       'A Touching Documentary of a Cat And a Pastry Chef who must Find a Lumberjack in A Baloon',
       'A Unbelieveable Drama of a Crocodile And a Mad Cow who must Reach a Dentist in A Shark Tank',
       'A Fateful Documentary of a Crocodile And a Husband who must Face a Husband in The First Manned Space Station',
       'A Taut Drama of a Mad Scientist And a Man who must Escape a Pioneer in An Abandoned Mine Shaft',
       'A Awe-Inspiring Story of a Student And a Frisbee who must Conquer a Crocodile in An Abandoned Mine Shaft',
       'A Insightful Display of a A Shark And a Monkey who must Face a Database Administrator in Ancient India',
       'A Fateful Documentary of a Robot And a Student who must Battle a Cat in A Monastery',
       'A Taut Character Study of a Husband And a Waitress who must Sink a Squirrel in A MySQL Convention',
       'A Unbelieveable Tale of a Car And a Explorer who must Confront a Boat in A Manhattan Penthouse',
       'A Astounding Drama of a Boy And a Lumberjack who must Fight a Butler in A Baloon',
       'A Lacklusture Display of a Explorer And a Hunter who must Succumb a Database Administrator in A Baloon Factory',
       'A Fanciful Documentary of a Teacher And a Dog who must Outgun a Forensic Psychologist in A Baloon Factory',
       'A Fanciful Panorama of a Boy And a Woman who must Vanquish a Database Administrator in The Outback',

In [98]:
df_film.description.value_counts().head()

A Epic Drama of a Feminist And a Mad Scientist who must Battle a Teacher in The Canadian Rockies                   1
A Thrilling Yarn of a Dog And a Dog who must Build a Husband in A Baloon                                           1
A Taut Epistle of a Sumo Wrestler And a Girl who must Face a Husband in Ancient Japan                              1
A Fateful Display of a Technical Writer And a Butler who must Battle a Sumo Wrestler in An Abandoned Mine Shaft    1
A Intrepid Tale of a Madman And a Astronaut who must Challenge a Hunter in A Monastery                             1
Name: description, dtype: int64

In [99]:
df_film.release_year.head()

0    2006
1    2006
2    2006
3    2006
4    2006
Name: release_year, dtype: int64

In [100]:
df_film.drop(['release_year'], axis=1, inplace = True)

In [102]:
df_film.columns

Index(['film_id', 'title', 'description', 'language_id',
       'original_language_id', 'rental_duration', 'rental_rate', 'length',
       'replacement_cost', 'rating', 'special_features', 'last_update'],
      dtype='object')

In [103]:
df_film.language_id.head()

0    1
1    1
2    1
3    1
4    1
Name: language_id, dtype: int64

In [104]:
df_film.language_id.unique()

array([1], dtype=int64)

In [105]:
df_film.language_id.value_counts()

1    1000
Name: language_id, dtype: int64

In [106]:
df_film.head()

,film_id,title,description,language_id,original_language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,1,NaN,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,1,NaN,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,1,NaN,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,1,NaN,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,1,NaN,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [107]:
df_film.original_language_id.unique()

array([nan])

In [108]:
df_film.drop(['original_language_id'], axis=1, inplace = True)

In [109]:
df_film.head()

,film_id,title,description,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features,last_update
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes",2006-02-15 05:03:42
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes",2006-02-15 05:03:42
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes",2006-02-15 05:03:42
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes",2006-02-15 05:03:42
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,1,6,2.99,130,22.99,G,Deleted Scenes,2006-02-15 05:03:42

In [110]:
df_film.rental_duration.unique()

array([6, 3, 7, 5, 4], dtype=int64)

In [111]:
df_film.rental_duration.value_counts()

6    212
3    203
4    203
7    191
5    191
Name: rental_duration, dtype: int64

In [112]:
df_film.length.unique()

array([ 86,  48,  50, 117, 130, 169,  62,  54, 114,  63, 126, 136, 150,
        94,  46, 180,  82,  57, 113,  79, 129,  85,  92, 181,  74, 179,
        91, 168, 119, 153, 147, 127, 121,  68,  99, 148, 137, 170,  83,
       108, 118, 162, 182,  75, 173,  87,  65,  90, 122, 160,  89, 175,
       106,  73, 151, 100,  53,  77, 142,  93, 163, 103,  61,  71, 102,
        76,  98,  72, 176, 123,  56, 161,  60, 133, 125,  67,  52, 120,
       167,  70, 135, 112, 183, 110, 152,  51, 146,  66, 185, 124, 107,
       101, 132, 143, 165,  81, 164,  58,  95, 139,  55, 149, 109,  59,
       172, 115, 184, 166,  64, 104,  69,  84, 144,  88, 141,  47,  49,
       177, 154, 159, 178,  96, 116, 171, 140, 155, 158, 174, 138,  97,
       131, 156,  80, 145, 111, 128, 157,  78, 105, 134], dtype=int64)

In [113]:
df_film.length.value_counts().head()

85     17
179    13
112    13
84     13
73     12
Name: length, dtype: int64

In [114]:
df_film.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 11 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1000 non-null   int64
 1   title             1000 non-null   object
 2   description       1000 non-null   object
 3   language_id       1000 non-null   int64
 4   rental_duration   1000 non-null   int64
 5   rental_rate       1000 non-null   float64
 6   length            1000 non-null   int64
 7   replacement_cost  1000 non-null   float64
 8   rating            1000 non-null   object
 9   special_features  1000 non-null   object
 10  last_update       1000 non-null   object
dtypes: float64(2), int64(4), object(5)
memory usage: 479.7 KB

In [115]:
df_film.replacement_cost.unique()

array([20.99, 12.99, 18.99, 26.99, 22.99, 17.99, 28.99, 15.99, 21.99,
       24.99, 16.99, 23.99, 10.99, 14.99, 27.99,  9.99, 19.99, 11.99,
       29.99, 25.99, 13.99])

In [116]:
df_film.replacement_cost.value_counts().head()

20.99    57
22.99    55
12.99    55
21.99    55
13.99    55
Name: replacement_cost, dtype: int64

In [117]:
df_film.rating.unique()

array(['PG', 'G', 'NC-17', 'PG-13', 'R'], dtype=object)

In [118]:
df_film.rating.value_counts()

PG-13    223
NC-17    210
R        195
PG       194
G        178
Name: rating, dtype: int64

In [119]:
df_film.special_features.unique()

array(['Deleted Scenes,Behind the Scenes', 'Trailers,Deleted Scenes',
       'Commentaries,Behind the Scenes', 'Deleted Scenes', 'Trailers',
       'Commentaries,Deleted Scenes',
       'Trailers,Deleted Scenes,Behind the Scenes',
       'Trailers,Commentaries,Behind the Scenes', 'Trailers,Commentaries',
       'Trailers,Behind the Scenes',
       'Commentaries,Deleted Scenes,Behind the Scenes',
       'Trailers,Commentaries,Deleted Scenes',
       'Trailers,Commentaries,Deleted Scenes,Behind the Scenes',
       'Behind the Scenes', 'Commentaries'], dtype=object)

In [120]:
df_film.special_features.value_counts()

Trailers,Commentaries,Behind the Scenes                   79
Trailers                                                  72
Trailers,Commentaries                                     72
Trailers,Behind the Scenes                                72
Deleted Scenes,Behind the Scenes                          71
Commentaries,Behind the Scenes                            70
Behind the Scenes                                         70
Trailers,Deleted Scenes                                   66
Commentaries,Deleted Scenes,Behind the Scenes             66
Commentaries,Deleted Scenes                               65
Trailers,Commentaries,Deleted Scenes                      64
Commentaries                                              62
Deleted Scenes                                            61
Trailers,Commentaries,Deleted Scenes,Behind the Scenes    61
Trailers,Deleted Scenes,Behind the Scenes                 49
Name: special_features, dtype: int64

In [121]:
df_film.last_update.unique()

array(['2006-02-15 05:03:42'], dtype=object)

In [122]:
df_film.drop(['last_update'], axis=1, inplace = True)

In [123]:
df_film.head()

,film_id,title,description,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes"
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes"
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes"
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,1,6,2.99,130,22.99,G,Deleted Scenes

### limpieza csv inventory

In [125]:
df_inv_ori = pd.read_csv(r'C:\Users\david\Proyectos\w3-database-project\data\inventory.csv')

In [126]:
df_inv_ori.head()

   inventory_id  film_id  store_id          last_update
0             1        1         1  2006-02-15 05:09:17
1             2        1         1  2006-02-15 05:09:17
2             3        1         1  2006-02-15 05:09:17
3             4        1         1  2006-02-15 05:09:17
4             5        1         2  2006-02-15 05:09:17

In [127]:
df_inv=df_inv_ori.copy()

In [128]:
df_inv.shape

(1000, 4)

In [129]:
df_finv_dim_orig=df_inv.shape

In [130]:
df_inv.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 4 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   inventory_id  1000 non-null   int64
 1   film_id       1000 non-null   int64
 2   store_id      1000 non-null   int64
 3   last_update   1000 non-null   object
dtypes: int64(3), object(1)
memory usage: 97.8 KB

In [131]:
df_inv.drop_duplicates().shape==df_inv.shape

True

In [132]:
df_inv.inventory_id.value_counts()

1       1
672     1
659     1
660     1
661     1
662     1
663     1
664     1
665     1
666     1
667     1
668     1
669     1
670     1
671     1
673     1
688     1
674     1
675     1
676     1
677     1
678     1
679     1
680     1
681     1
682     1
683     1
684     1
685     1
686     1
658     1
657     1
656     1
655     1
628     1
629     1
630     1
631     1
632     1
633     1
634     1
635     1
636     1
637     1
638     1
639     1
640     1
641     1
642     1
643     1
644     1
645     1
646     1
647     1
648     1
649     1
650     1
651     1
652     1
653     1
654     1
687     1
689     1
2       1
735     1
722     1
723     1
724     1
725     1
726     1
727     1
728     1
729     1
730     1
731     1
732     1
733     1
734     1
736     1
690     1
737     1
738     1
739     1
740     1
741     1
742     1
743     1
744     1
745     1
746     1
747     1
748     1
749     1
721     1
720     1
719     1
718     1
691     1
692     1
693     1
694     1
695     1
696     1
697     1
698     1
699     1
700     1
701     1
702     1
703     1
704     1
705     1
706     1
707     1
708     1
709     1
710     1
711     1
712     1
713     1
714     1
715     1
716     1
717     1
627     1
626     1
625     1
547     1
534     1
535     1
536     1
537     1
538     1
539     1
540     1
541     1
542     1
543     1
544     1
545     1
546     1
548     1
624     1
549     1
550     1
551     1
552     1
553     1
554     1
555     1
556     1
557     1
558     1
559     1
560     1
561     1
533     1
532     1
531     1
530     1
503     1
504     1
505     1
506     1
507     1
508     1
509     1
510     1
511     1
512     1
513     1
514     1
515     1
516     1
517     1
518     1
519     1
520     1
521     1
522     1
523     1
524     1
525     1
526     1
527     1
528     1
529     1
562     1
563     1
564     1
595     1
597     1
598     1
599     1
600     1
601     1
602     1
603     1
604     1
605     1
606     1
607     1
608     1
609     1
610     1
611     1
612     1
613     1
614     1
615     1
616     1
617     1
618     1
619     1
620     1
621     1
622     1
623     1
596     1
594     1
565     1
593     1
566     1
567     1
568     1
569     1
570     1
571     1
572     1
573     1
574     1
575     1
576     1
577     1
578     1
579     1
580     1
581     1
582     1
583     1
584     1
585     1
586     1
587     1
588     1
589     1
590     1
591     1
592     1
750     1
751     1
752     1
923     1
910     1
911     1
912     1
913     1
914     1
915     1
916     1
917     1
918     1
919     1
920     1
921     1
922     1
924     1
877     1
925     1
926     1
927     1
928     1
929     1
930     1
931     1
932     1
933     1
934     1
935     1
936     1
937     1
909     1
908     1
907     1
906     1
879     1
880     1
881     1
882     1
883     1
884     1
885     1
886     1
887     1
888     1
889     1
890     1
891     1
892     1
893     1
894     1
895     1
896     1
897     1
898     1
899     1
900     1
901     1
902     1
903     1
904     1
905     1
938     1
939     1
940     1
971     1
973     1
974     1
975     1
976     1
977     1
978     1
979     1
980     1
981     1
982     1
983     1
984     1
985     1
986     1
987     1
988     1
989     1
990     1
991     1
992     1
993     1
994     1
995     1
996     1
997     1
998     1
999     1
972     1
970     1
941     1
969     1
942     1
943     1
944     1
945     1
946     1
947     1
948     1
949     1
950     1
951     1
952     1
953     1
954     1
955     1
956     1
957     1
958     1
959     1
960     1
961     1
962     1
963     1
964     1
965     1
966     1
967     1
968     1
878     1
876     1
753     1
798     1
785     1
786     1
787     1
788     1
789     1
790     1
791     1
792     1
793     1
794     1
795     1
796     1
797     1
799     1
875     1
800     1
801     1
802     1
803     1
804     1
805     1
806     1
807     1
808     1
809     1
810     1
811     1
812     1
784     1
783     1
782     1
781     1
754     1
755     1
756     1
757     1
758     1
759     1
760     1
761     1
762     1
763     1
764     1
765     1
766     1
767     1
768     1
769     1
770     1
771     1
772     1
773     1
774     1
775     1
776     1
777     1
778     1
779     1
780     1
813     1
814     1
815     1
846     1
848     1
849     1
850     1
851     1
852     1
853     1
854     1
855     1
856     1
857     1
858     1
859     1
860     1
861     1
862     1
863     1
864     1
865     1
866     1
867     1
868     1
869     1
870     1
871     1
872     1
873     1
874     1
847     1
845     1
816     1
844     1
817     1
818     1
819     1
820     1
821     1
822     1
823     1
824     1
825     1
826     1
827     1
828     1
829     1
830     1
831     1
832     1
833     1
834     1
835     1
836     1
837     1
838     1
839     1
840     1
841     1
842     1
843     1
502     1
501     1
500     1
172     1
159     1
160     1
161     1
162     1
163     1
164     1
165     1
166     1
167     1
168     1
169     1
170     1
171     1
173     1
126     1
174     1
175     1
176     1
177     1
178     1
179     1
180     1
181     1
182     1
183     1
184     1
185     1
186     1
158     1
157     1
156     1
155     1
128     1
129     1
130     1
131     1
132     1
133     1
134     1
135     1
136     1
137     1
138     1
139     1
140     1
141     1
142     1
143     1
144     1
145     1
146     1
147     1
148     1
149     1
150     1
151     1
152     1
153     1
154     1
187     1
188     1
189     1
220     1
222     1
223     1
224     1
225     1
226     1
227     1
228     1
229     1
230     1
231     1
232     1
233     1
234     1
235     1
236     1
237     1
238     1
239     1
240     1
241     1
242     1
243     1
244     1
245     1
246     1
247     1
248     1
221     1
219     1
190     1
218     1
191     1
192     1
193     1
194     1
195     1
196     1
197     1
198     1
199     1
200     1
201     1
202     1
203     1
204     1
205     1
206     1
207     1
208     1
209     1
210     1
211     1
212     1
213     1
214     1
215     1
216     1
217     1
127     1
125     1
250     1
47      1
34      1
35      1
36      1
37      1
38      1
39      1
40      1
41      1
42      1
43      1
44      1
45      1
46      1
48      1
124     1
49      1
50      1
51      1
52      1
53      1
54      1
55      1
56      1
57      1
58      1
59      1
60      1
61      1
33      1
32      1
31      1
30      1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      1
22      1
23      1
24      1
25      1
26      1
27      1
28      1
29      1
62      1
63      1
64      1
95      1
97      1
98      1
99      1
100     1
101     1
102     1
103     1
104     1
105     1
106     1
107     1
108     1
109     1
110     1
111     1
112     1
113     1
114     1
115     1
116     1
117     1
118     1
119     1
120     1
121     1
122     1
123     1
96      1
94      1
65      1
93      1
66      1
67      1
68      1
69      1
70      1
71      1
72      1
73      1
74      1
75      1
76      1
77      1
78      1
79      1
80      1
81      1
82      1
83      1
84      1
85      1
86      1
87      1
88      1
89      1
90      1
91      1
92      1
249     1
251     1
499     1
422     1
409     1
410     1
411     1
412     1
413     1
414     1
415     1
416     1
417     1
418     1
419     1
420     1
421     1
423     1
376     1
424     1
425     1
426     1
427     1
428     1
429     1
430     1
431     1
432     1
433     1
434     1
435     1
436     1
408     1
407     1
406     1
405     1
378     1
379     1
380     1
381     1
382     1
383     1
384     1
385     1
386     1
387     1
388     1
389     1
390     1
391     1
392     1
393     1
394     1
395     1
396     1
397     1
398     1
399     1
400     1
401     1
402     1
403     1
404     1
437     1
438     1
439     1
470     1
472     1
473     1
474     1
475     1
476     1
477     1
478     1
479     1
480     1
481     1
482     1
483     1
484     1
485     1
486     1
487     1
488     1
489     1
490     1
491     1
492     1
493     1
494     1
495     1
496     1
497     1
498     1
471     1
469     1
440     1
468     1
441     1
442     1
443     1
444     1
445     1
446     1
447     1
448     1
449     1
450     1
451     1
452     1
453     1
454     1
455     1
456     1
457     1
458     1
459     1
460     1
461     1
462     1
463     1
464     1
465     1
466     1
467     1
377     1
375     1
252     1
297     1
284     1
285     1
286     1
287     1
288     1
289     1
290     1
291     1
292     1
293     1
294     1
295     1
296     1
298     1
374     1
299     1
300     1
301     1
302     1
303     1
304     1
305     1
306     1
307     1
308     1
309     1
310     1
311     1
283     1
282     1
281     1
280     1
253     1
254     1
255     1
256     1
257     1
258     1
259     1
260     1
261     1
262     1
263     1
264     1
265     1
266     1
267     1
268     1
269     1
270     1
271     1
272     1
273     1
274     1
275     1
276     1
277     1
278     1
279     1
312     1
313     1
314     1
345     1
347     1
348     1
349     1
350     1
351     1
352     1
353     1
354     1
355     1
356     1
357     1
358     1
359     1
360     1
361     1
362     1
363     1
364     1
365     1
366     1
367     1
368     1
369     1
370     1
371     1
372     1
373     1
346     1
344     1
315     1
343     1
316     1
317     1
318     1
319     1
320     1
321     1
322     1
323     1
324     1
325     1
326     1
327     1
328     1
329     1
330     1
331     1
332     1
333     1
334     1
335     1
336     1
337     1
338     1
339     1
340     1
341     1
342     1
1000    1
Name: inventory_id, dtype: int64

In [133]:
len(df_inv.inventory_id.value_counts())

1000

In [134]:
df_inv.film_id.value_counts()

1      8
127    8
73     8
174    8
86     8
193    8
91     8
199    8
200    8
103    8
69     8
206    8
31     8
109    8
220    8
12     7
172    7
57     7
143    7
43     7
10     7
154    7
39     7
37     7
35     7
11     7
218    7
112    7
159    7
114    7
115    7
78     7
162    7
4      7
22     7
119    7
181    7
135    7
122    7
167    7
166    6
129    6
170    6
90     6
79     6
77     6
89     6
101    6
139    6
132    6
97     6
131    6
130    6
99     6
100    6
150    6
149    6
116    6
117    6
118    6
147    6
121    6
72     6
176    6
21     6
61     6
49     6
204    6
215    6
51     6
15     6
55     6
17     6
18     6
191    6
45     6
222    6
6      6
67     6
25     6
189    6
19     6
183    6
105    5
155    5
175    5
23     5
26     5
141    5
142    5
44     5
123    5
212    5
216    5
138    5
9      5
59     5
74     5
173    5
184    5
140    5
7      5
83     5
56     5
158    5
165    5
54     5
164    5
160    5
50     5
95     5
219    4
137    4
214    4
213    4
209    4
207    4
151    4
205    4
152    4
153    4
201    4
194    4
169    4
190    4
186    4
179    4
203    4
111    4
71     4
84     4
88     4
92     4
27     4
24     4
65     4
81     4
63     4
70     4
16     4
13     4
80     4
8      4
68     4
110    4
113    4
58     4
34     4
40     4
48     4
3      4
42     4
133    4
85     4
177    3
134    3
136    3
66     3
210    3
64     3
188    3
208    3
60     3
187    3
28     3
75     3
157    3
126    3
124    3
145    3
146    3
120    3
2      3
5      3
104    3
98     3
96     3
20     3
93     3
163    3
202    3
76     3
46     3
211    2
29     2
30     2
32     2
180    2
47     2
168    2
125    2
107    2
106    2
102    2
156    2
94     2
161    2
82     2
197    2
178    2
182    2
185    2
62     2
53     2
52     2
196    2
223    2
Name: film_id, dtype: int64

In [135]:
df_inv.store_id.value_counts()

1    503
2    497
Name: store_id, dtype: int64

In [136]:
df_inv.last_update.value_counts()

2006-02-15 05:09:17    1000
Name: last_update, dtype: int64

In [137]:
df_inv.drop(['last_update'], axis=1, inplace = True)

In [138]:
df_inv.head()

   inventory_id  film_id  store_id
0             1        1         1
1             2        1         1
2             3        1         1
3             4        1         1
4             5        1         2

### limpieza csv language

In [8]:
df_lang_ori = pd.read_csv(r'C:\Users\david\Proyectos\Github\w3-database-project\data\language.csv')

In [140]:
df_lang_ori

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19

In [146]:
df_lang=df_lang_ori.copy()

In [147]:
df_lang.shape

(6, 3)

In [148]:
df_lang_dim_orig=df_lang.shape

In [149]:
df_lang.drop(['last_update'], axis=1, inplace = True)

In [150]:
df_lang_ori

   language_id      name          last_update
0            1   English  2006-02-15 05:02:19
1            2   Italian  2006-02-15 05:02:19
2            3  Japanese  2006-02-15 05:02:19
3            4  Mandarin  2006-02-15 05:02:19
4            5    French  2006-02-15 05:02:19
5            6    German  2006-02-15 05:02:19

### limpieza csv rental

In [9]:
df_ren_ori = pd.read_csv(r'C:\Users\david\Proyectos\Github\w3-database-project\data\rental.csv')

In [153]:
df_ren_ori.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id,last_update
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1,2006-02-15 21:30:53
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1,2006-02-15 21:30:53
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1,2006-02-15 21:30:53
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2,2006-02-15 21:30:53
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1,2006-02-15 21:30:53

In [154]:
df_ren=df_ren_ori.copy()

In [155]:
df_ren.shape

(1000, 7)

In [156]:
df_ren_dim_orig=df_ren.shape

In [157]:
df_ren.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   rental_id     1000 non-null   int64
 1   rental_date   1000 non-null   object
 2   inventory_id  1000 non-null   int64
 3   customer_id   1000 non-null   int64
 4   return_date   1000 non-null   object
 5   staff_id      1000 non-null   int64
 6   last_update   1000 non-null   object
dtypes: int64(4), object(3)
memory usage: 254.0 KB

In [158]:
df_ren.drop_duplicates().shape==df_ren.shape

True

In [159]:
df_ren.rental_id.value_counts()

1       1
673     1
660     1
661     1
662     1
663     1
664     1
665     1
666     1
667     1
668     1
669     1
670     1
671     1
672     1
674     1
689     1
675     1
676     1
677     1
678     1
679     1
680     1
681     1
682     1
683     1
684     1
685     1
686     1
687     1
659     1
658     1
657     1
656     1
629     1
630     1
631     1
632     1
633     1
634     1
635     1
636     1
637     1
638     1
639     1
640     1
641     1
642     1
643     1
644     1
645     1
646     1
647     1
648     1
649     1
650     1
651     1
652     1
653     1
654     1
655     1
688     1
690     1
2       1
736     1
723     1
724     1
725     1
726     1
727     1
728     1
729     1
730     1
731     1
732     1
733     1
734     1
735     1
737     1
691     1
738     1
739     1
740     1
741     1
742     1
743     1
744     1
745     1
746     1
747     1
748     1
749     1
750     1
722     1
721     1
720     1
719     1
692     1
693     1
694     1
695     1
696     1
697     1
698     1
699     1
700     1
701     1
702     1
703     1
704     1
705     1
706     1
707     1
708     1
709     1
710     1
711     1
712     1
713     1
714     1
715     1
716     1
717     1
718     1
628     1
627     1
626     1
548     1
535     1
536     1
537     1
538     1
539     1
540     1
541     1
542     1
543     1
544     1
545     1
546     1
547     1
549     1
625     1
550     1
551     1
552     1
553     1
554     1
555     1
556     1
557     1
558     1
559     1
560     1
561     1
562     1
534     1
533     1
532     1
531     1
504     1
505     1
506     1
507     1
508     1
509     1
510     1
511     1
512     1
513     1
514     1
515     1
516     1
517     1
518     1
519     1
520     1
521     1
522     1
523     1
524     1
525     1
526     1
527     1
528     1
529     1
530     1
563     1
564     1
565     1
596     1
598     1
599     1
600     1
601     1
602     1
603     1
604     1
605     1
606     1
607     1
608     1
609     1
610     1
611     1
612     1
613     1
614     1
615     1
616     1
617     1
618     1
619     1
620     1
621     1
622     1
623     1
624     1
597     1
595     1
566     1
594     1
567     1
568     1
569     1
570     1
571     1
572     1
573     1
574     1
575     1
576     1
577     1
578     1
579     1
580     1
581     1
582     1
583     1
584     1
585     1
586     1
587     1
588     1
589     1
590     1
591     1
592     1
593     1
751     1
752     1
753     1
924     1
911     1
912     1
913     1
914     1
915     1
916     1
917     1
918     1
919     1
920     1
921     1
922     1
923     1
925     1
878     1
926     1
927     1
928     1
929     1
930     1
931     1
932     1
933     1
934     1
935     1
936     1
937     1
938     1
910     1
909     1
908     1
907     1
880     1
881     1
882     1
883     1
884     1
885     1
886     1
887     1
888     1
889     1
890     1
891     1
892     1
893     1
894     1
895     1
896     1
897     1
898     1
899     1
900     1
901     1
902     1
903     1
904     1
905     1
906     1
939     1
940     1
941     1
972     1
974     1
975     1
976     1
977     1
978     1
979     1
980     1
981     1
982     1
983     1
984     1
985     1
986     1
987     1
988     1
989     1
990     1
991     1
992     1
993     1
994     1
995     1
996     1
997     1
998     1
999     1
1000    1
973     1
971     1
942     1
970     1
943     1
944     1
945     1
946     1
947     1
948     1
949     1
950     1
951     1
952     1
953     1
954     1
955     1
956     1
957     1
958     1
959     1
960     1
961     1
962     1
963     1
964     1
965     1
966     1
967     1
968     1
969     1
879     1
877     1
754     1
799     1
786     1
787     1
788     1
789     1
790     1
791     1
792     1
793     1
794     1
795     1
796     1
797     1
798     1
800     1
876     1
801     1
802     1
803     1
804     1
805     1
806     1
807     1
808     1
809     1
810     1
811     1
812     1
813     1
785     1
784     1
783     1
782     1
755     1
756     1
757     1
758     1
759     1
760     1
761     1
762     1
763     1
764     1
765     1
766     1
767     1
768     1
769     1
770     1
771     1
772     1
773     1
774     1
775     1
776     1
777     1
778     1
779     1
780     1
781     1
814     1
815     1
816     1
847     1
849     1
850     1
851     1
852     1
853     1
854     1
855     1
856     1
857     1
858     1
859     1
860     1
861     1
862     1
863     1
864     1
865     1
866     1
867     1
868     1
869     1
870     1
871     1
872     1
873     1
874     1
875     1
848     1
846     1
817     1
845     1
818     1
819     1
820     1
821     1
822     1
823     1
824     1
825     1
826     1
827     1
828     1
829     1
830     1
831     1
832     1
833     1
834     1
835     1
836     1
837     1
838     1
839     1
840     1
841     1
842     1
843     1
844     1
503     1
502     1
501     1
172     1
159     1
160     1
161     1
162     1
163     1
164     1
165     1
166     1
167     1
168     1
169     1
170     1
171     1
173     1
126     1
174     1
175     1
176     1
177     1
178     1
179     1
180     1
181     1
182     1
183     1
184     1
185     1
186     1
158     1
157     1
156     1
155     1
128     1
129     1
130     1
131     1
132     1
133     1
134     1
135     1
136     1
137     1
138     1
139     1
140     1
141     1
142     1
143     1
144     1
145     1
146     1
147     1
148     1
149     1
150     1
151     1
152     1
153     1
154     1
187     1
188     1
189     1
220     1
222     1
223     1
224     1
225     1
226     1
227     1
228     1
229     1
230     1
231     1
232     1
233     1
234     1
235     1
236     1
237     1
238     1
239     1
240     1
241     1
242     1
243     1
244     1
245     1
246     1
247     1
248     1
221     1
219     1
190     1
218     1
191     1
192     1
193     1
194     1
195     1
196     1
197     1
198     1
199     1
200     1
201     1
202     1
203     1
204     1
205     1
206     1
207     1
208     1
209     1
210     1
211     1
212     1
213     1
214     1
215     1
216     1
217     1
127     1
125     1
250     1
47      1
34      1
35      1
36      1
37      1
38      1
39      1
40      1
41      1
42      1
43      1
44      1
45      1
46      1
48      1
124     1
49      1
50      1
51      1
52      1
53      1
54      1
55      1
56      1
57      1
58      1
59      1
60      1
61      1
33      1
32      1
31      1
30      1
3       1
4       1
5       1
6       1
7       1
8       1
9       1
10      1
11      1
12      1
13      1
14      1
15      1
16      1
17      1
18      1
19      1
20      1
21      1
22      1
23      1
24      1
25      1
26      1
27      1
28      1
29      1
62      1
63      1
64      1
95      1
97      1
98      1
99      1
100     1
101     1
102     1
103     1
104     1
105     1
106     1
107     1
108     1
109     1
110     1
111     1
112     1
113     1
114     1
115     1
116     1
117     1
118     1
119     1
120     1
121     1
122     1
123     1
96      1
94      1
65      1
93      1
66      1
67      1
68      1
69      1
70      1
71      1
72      1
73      1
74      1
75      1
76      1
77      1
78      1
79      1
80      1
81      1
82      1
83      1
84      1
85      1
86      1
87      1
88      1
89      1
90      1
91      1
92      1
249     1
251     1
500     1
423     1
410     1
411     1
412     1
413     1
414     1
415     1
416     1
417     1
418     1
419     1
420     1
421     1
422     1
424     1
377     1
425     1
426     1
427     1
428     1
429     1
430     1
431     1
432     1
433     1
434     1
435     1
436     1
437     1
409     1
408     1
407     1
406     1
379     1
380     1
381     1
382     1
383     1
384     1
385     1
386     1
387     1
388     1
389     1
390     1
391     1
392     1
393     1
394     1
395     1
396     1
397     1
398     1
399     1
400     1
401     1
402     1
403     1
404     1
405     1
438     1
439     1
440     1
471     1
473     1
474     1
475     1
476     1
477     1
478     1
479     1
480     1
481     1
482     1
483     1
484     1
485     1
486     1
487     1
488     1
489     1
490     1
491     1
492     1
493     1
494     1
495     1
496     1
497     1
498     1
499     1
472     1
470     1
441     1
469     1
442     1
443     1
444     1
445     1
446     1
447     1
448     1
449     1
450     1
451     1
452     1
453     1
454     1
455     1
456     1
457     1
458     1
459     1
460     1
461     1
462     1
463     1
464     1
465     1
466     1
467     1
468     1
378     1
376     1
252     1
297     1
284     1
285     1
286     1
287     1
288     1
289     1
290     1
291     1
292     1
293     1
294     1
295     1
296     1
298     1
375     1
299     1
300     1
301     1
302     1
303     1
304     1
305     1
306     1
307     1
308     1
309     1
310     1
311     1
283     1
282     1
281     1
280     1
253     1
254     1
255     1
256     1
257     1
258     1
259     1
260     1
261     1
262     1
263     1
264     1
265     1
266     1
267     1
268     1
269     1
270     1
271     1
272     1
273     1
274     1
275     1
276     1
277     1
278     1
279     1
312     1
313     1
314     1
346     1
348     1
349     1
350     1
351     1
352     1
353     1
354     1
355     1
356     1
357     1
358     1
359     1
360     1
361     1
362     1
363     1
364     1
365     1
366     1
367     1
368     1
369     1
370     1
371     1
372     1
373     1
374     1
347     1
345     1
315     1
344     1
316     1
317     1
318     1
319     1
320     1
322     1
323     1
324     1
325     1
326     1
327     1
328     1
329     1
330     1
331     1
332     1
333     1
334     1
335     1
336     1
337     1
338     1
339     1
340     1
341     1
342     1
343     1
1001    1
Name: rental_id, dtype: int64

In [160]:
df_ren.rental_date.value_counts()

2005-05-30 14:47:31    2
2005-05-28 22:07:30    1
2005-05-28 20:53:31    1
2005-05-28 21:01:25    1
2005-05-28 21:09:31    1
2005-05-28 21:23:02    1
2005-05-28 21:31:08    1
2005-05-28 21:38:39    1
2005-05-28 21:48:51    1
2005-05-28 21:49:02    1
2005-05-28 21:54:45    1
2005-05-28 22:03:25    1
2005-05-28 22:04:03    1
2005-05-28 22:04:30    1
2005-05-28 22:05:29    1
2005-05-28 22:11:35    1
2005-05-29 00:45:24    1
2005-05-28 22:22:44    1
2005-05-28 22:27:51    1
2005-05-28 23:00:08    1
2005-05-28 23:15:48    1
2005-05-28 23:24:57    1
2005-05-28 23:27:26    1
2005-05-28 23:39:44    1
2005-05-28 23:53:18    1
2005-05-29 00:09:48    1
2005-05-29 00:13:15    1
2005-05-29 00:17:51    1
2005-05-29 00:27:10    1
2005-05-29 00:32:09    1
2005-05-28 20:27:53    1
2005-05-24 22:53:30    1
2005-05-28 20:23:09    1
2005-05-28 20:18:24    1
2005-05-28 17:19:15    1
2005-05-28 17:24:51    1
2005-05-28 17:36:32    1
2005-05-28 17:37:50    1
2005-05-28 17:37:59    1
2005-05-28 17:40:35    1
2005-05-28 17:46:57    1
2005-05-28 17:47:58    1
2005-05-28 18:14:29    1
2005-05-28 18:24:43    1
2005-05-28 18:25:02    1
2005-05-28 18:43:26    1
2005-05-28 18:45:47    1
2005-05-28 18:49:12    1
2005-05-28 18:52:11    1
2005-05-28 18:59:12    1
2005-05-28 19:14:09    1
2005-05-28 19:16:14    1
2005-05-28 19:22:52    1
2005-05-28 19:25:54    1
2005-05-28 19:35:45    1
2005-05-28 19:45:40    1
2005-05-28 19:46:50    1
2005-05-28 20:08:47    1
2005-05-28 20:12:20    1
2005-05-28 20:15:30    1
2005-05-28 20:16:20    1
2005-05-28 20:23:23    1
2005-05-29 00:46:53    1
2005-05-28 17:04:43    1
2005-05-29 08:08:13    1
2005-05-29 05:30:31    1
2005-05-29 05:34:44    1
2005-05-29 05:53:23    1
2005-05-29 06:03:41    1
2005-05-29 06:05:29    1
2005-05-29 06:08:15    1
2005-05-29 06:12:38    1
2005-05-29 06:35:13    1
2005-05-29 07:00:59    1
2005-05-29 07:25:16    1
2005-05-29 07:32:51    1
2005-05-29 07:35:21    1
2005-05-29 07:38:52    1
2005-05-29 08:10:07    1
2005-05-29 00:54:53    1
2005-05-29 08:11:31    1
2005-05-29 08:20:08    1
2005-05-29 08:28:18    1
2005-05-29 08:30:36    1
2005-05-29 08:35:49    1
2005-05-29 08:36:30    1
2005-05-29 08:39:02    1
2005-05-29 09:13:08    1
2005-05-29 09:22:57    1
2005-05-29 09:25:10    1
2005-05-29 09:26:34    1
2005-05-29 09:27:00    1
2005-05-29 09:33:33    1
2005-05-29 05:28:47    1
2005-05-29 05:17:30    1
2005-05-29 05:16:05    1
2005-05-29 04:52:23    1
2005-05-29 01:01:26    1
2005-05-29 01:32:10    1
2005-05-29 01:42:31    1
2005-05-29 01:49:43    1
2005-05-29 01:50:53    1
2005-05-29 01:59:10    1
2005-05-29 02:04:04    1
2005-05-29 02:10:52    1
2005-05-29 02:11:44    1
2005-05-29 02:18:54    1
2005-05-29 02:26:27    1
2005-05-29 02:27:30    1
2005-05-29 02:29:36    1
2005-05-29 02:44:43    1
2005-05-29 02:48:52    1
2005-05-29 03:05:49    1
2005-05-29 03:18:19    1
2005-05-29 03:23:47    1
2005-05-29 03:48:01    1
2005-05-29 03:48:36    1
2005-05-29 03:49:03    1
2005-05-29 04:02:24    1
2005-05-29 04:10:17    1
2005-05-29 04:15:21    1
2005-05-29 04:22:41    1
2005-05-29 04:35:29    1
2005-05-29 04:37:44    1
2005-05-28 17:05:46    1
2005-05-28 16:58:09    1
2005-05-29 09:55:43    1
2005-05-28 07:34:56    1
2005-05-28 06:16:32    1
2005-05-28 06:17:33    1
2005-05-28 06:20:55    1
2005-05-28 06:21:05    1
2005-05-28 06:26:16    1
2005-05-28 06:40:25    1
2005-05-28 06:41:58    1
2005-05-28 06:42:13    1
2005-05-28 06:43:34    1
2005-05-28 07:03:00    1
2005-05-28 07:10:20    1
2005-05-28 07:16:25    1
2005-05-28 07:24:28    1
2005-05-28 07:35:37    1
2005-05-28 16:35:46    1
2005-05-28 07:39:16    1
2005-05-28 07:44:18    1
2005-05-28 07:53:38    1
2005-05-28 08:14:44    1
2005-05-28 08:23:16    1
2005-05-28 08:31:14    1
2005-05-28 08:31:36    1
2005-05-28 08:36:22    1
2005-05-28 08:38:43    1
2005-05-28 08:39:02    1
2005-05-28 08:53:02    1
2005-05-28 08:54:06    1
2005-05-28 09:01:21    1
2005-05-28 06:15:25    1
2005-05-28 06:14:46    1
2005-05-28 05:36:58    1
2005-05-28 05:23:38    1
2005-05-28 02:05:34    1
2005-05-28 02:06:37    1
2005-05-28 02:09:19    1
2005-05-28 02:31:19    1
2005-05-28 02:40:50    1
2005-05-28 02:51:12    1
2005-05-28 02:52:14    1
2005-05-28 03:04:04    1
2005-05-28 03:07:50    1
2005-05-28 03:08:10    1
2005-05-28 03:09:28    1
2005-05-28 03:10:10    1
2005-05-28 03:11:47    1
2005-05-28 03:17:57    1
2005-05-28 03:18:02    1
2005-05-28 03:22:33    1
2005-05-28 03:27:37    1
2005-05-28 03:32:22    1
2005-05-28 03:33:20    1
2005-05-28 03:53:26    1
2005-05-28 03:57:28    1
2005-05-28 04:25:33    1
2005-05-28 04:27:37    1
2005-05-28 04:28:38    1
2005-05-28 04:30:05    1
2005-05-28 04:34:17    1
2005-05-28 05:13:01    1
2005-05-28 09:10:49    1
2005-05-28 09:12:09    1
2005-05-28 09:26:31    1
2005-05-28 14:00:03    1
2005-05-28 14:04:50    1
2005-05-28 14:05:57    1
2005-05-28 14:08:19    1
2005-05-28 14:08:22    1
2005-05-28 14:15:54    1
2005-05-28 14:27:51    1
2005-05-28 14:37:07    1
2005-05-28 14:39:10    1
2005-05-28 14:48:39    1
2005-05-28 15:02:41    1
2005-05-28 15:03:44    1
2005-05-28 15:04:02    1
2005-05-28 15:15:25    1
2005-05-28 15:18:18    1
2005-05-28 15:24:54    1
2005-05-28 15:27:22    1
2005-05-28 15:33:28    1
2005-05-28 15:35:52    1
2005-05-28 15:45:39    1
2005-05-28 15:49:14    1
2005-05-28 15:50:07    1
2005-05-28 15:52:26    1
2005-05-28 15:54:45    1
2005-05-28 15:58:12    1
2005-05-28 15:58:22    1
2005-05-28 16:01:28    1
2005-05-28 16:13:22    1
2005-05-28 14:01:02    1
2005-05-28 13:59:54    1
2005-05-28 09:51:39    1
2005-05-28 13:41:56    1
2005-05-28 09:56:20    1
2005-05-28 09:57:36    1
2005-05-28 10:12:41    1
2005-05-28 10:15:04    1
2005-05-28 10:17:41    1
2005-05-28 10:30:13    1
2005-05-28 10:35:23    1
2005-05-28 10:44:28    1
2005-05-28 10:56:09    1
2005-05-28 10:56:10    1
2005-05-28 11:09:14    1
2005-05-28 11:15:48    1
2005-05-28 11:19:23    1
2005-05-28 11:19:53    1
2005-05-28 11:20:29    1
2005-05-28 11:33:46    1
2005-05-28 11:48:55    1
2005-05-28 11:49:00    1
2005-05-28 11:50:45    1
2005-05-28 12:03:00    1
2005-05-28 12:05:33    1
2005-05-28 12:08:37    1
2005-05-28 12:27:50    1
2005-05-28 13:06:50    1
2005-05-28 13:11:04    1
2005-05-28 13:21:08    1
2005-05-28 13:33:23    1
2005-05-29 09:41:40    1
2005-05-29 10:14:15    1
2005-05-28 01:34:43    1
2005-05-30 11:55:55    1
2005-05-30 10:43:38    1
2005-05-30 10:46:16    1
2005-05-30 10:50:22    1
2005-05-30 10:58:33    1
2005-05-30 11:04:58    1
2005-05-30 11:06:00    1
2005-05-30 11:20:27    1
2005-05-30 11:25:01    1
2005-05-30 11:27:06    1
2005-05-30 11:32:24    1
2005-05-30 11:35:06    1
2005-05-30 11:44:01    1
2005-05-30 11:53:09    1
2005-05-30 11:58:50    1
2005-05-29 10:16:42    1
2005-05-30 12:10:59    1
2005-05-30 12:13:52    1
2005-05-30 12:15:54    1
2005-05-30 12:16:40    1
2005-05-30 12:27:14    1
2005-05-30 12:32:39    1
2005-05-30 12:44:57    1
2005-05-30 12:53:01    1
2005-05-30 12:55:36    1
2005-05-30 13:08:45    1
2005-05-30 13:24:46    1
2005-05-30 13:29:36    1
2005-05-30 13:52:49    1
2005-05-30 10:38:37    1
2005-05-30 10:37:27    1
2005-05-30 10:30:38    1
2005-05-30 10:25:00    1
2005-05-30 05:49:13    1
2005-05-30 05:49:42    1
2005-05-30 06:12:33    1
2005-05-30 06:15:36    1
2005-05-30 06:16:06    1
2005-05-30 06:21:05    1
2005-05-30 06:41:32    1
2005-05-30 06:54:28    1
2005-05-30 06:54:51    1
2005-05-30 07:10:00    1
2005-05-30 07:13:14    1
2005-05-30 07:14:53    1
2005-05-30 07:43:04    1
2005-05-30 07:43:12    1
2005-05-30 08:02:56    1
2005-05-30 08:06:59    1
2005-05-30 08:31:31    1
2005-05-30 08:50:43    1
2005-05-30 09:03:52    1
2005-05-30 09:10:01    1
2005-05-30 09:26:19    1
2005-05-30 09:29:30    1
2005-05-30 09:38:41    1
2005-05-30 09:40:40    1
2005-05-30 09:53:36    1
2005-05-30 10:11:29    1
2005-05-30 10:19:42    1
2005-05-30 14:49:34    1
2005-05-30 15:01:02    1
2005-05-30 15:02:25    1
2005-05-30 20:21:07    1
2005-05-30 20:28:42    1
2005-05-30 21:07:15    1
2005-05-30 21:11:19    1
2005-05-30 21:22:26    1
2005-05-30 21:30:52    1
2005-05-30 21:37:11    1
2005-05-30 21:45:19    1
2005-05-30 21:52:42    1
2005-05-30 22:15:24    1
2005-05-30 22:15:51    1
2005-05-30 22:17:17    1
2005-05-30 22:18:35    1
2005-05-30 22:22:52    1
2005-05-30 22:59:12    1
2005-05-30 23:08:03    1
2005-05-30 23:11:51    1
2005-05-30 23:25:14    1
2005-05-30 23:29:22    1
2005-05-30 23:47:56    1
2005-05-30 23:54:19    1
2005-05-30 23:55:36    1
2005-05-31 00:06:02    1
2005-05-31 00:06:20    1
2005-05-31 00:08:25    1
2005-05-31 00:16:57    1
2005-05-31 00:25:10    1
2005-05-31 00:25:56    1
2005-05-30 20:27:45    1
2005-05-30 20:10:52    1
2005-05-30 15:05:47    1
2005-05-30 19:50:28    1
2005-05-30 15:20:19    1
2005-05-30 15:26:24    1
2005-05-30 15:33:17    1
2005-05-30 15:35:08    1
2005-05-30 15:36:57    1
2005-05-30 15:44:27    1
2005-05-30 15:50:39    1
2005-05-30 16:06:08    1
2005-05-30 16:10:35    1
2005-05-30 16:28:07    1
2005-05-30 16:34:02    1
2005-05-30 16:57:29    1
2005-05-30 16:59:03    1
2005-05-30 17:30:28    1
2005-05-30 17:53:29    1
2005-05-30 17:58:03    1
2005-05-30 18:07:00    1
2005-05-30 18:13:23    1
2005-05-30 18:16:44    1
2005-05-30 18:45:17    1
2005-05-30 18:52:53    1
2005-05-30 18:53:21    1
2005-05-30 19:00:14    1
2005-05-30 19:00:37    1
2005-05-30 19:12:06    1
2005-05-30 19:20:03    1
2005-05-30 19:23:48    1
2005-05-30 05:48:59    1
2005-05-30 05:41:22    1
2005-05-30 05:38:24    1
2005-05-29 14:41:18    1
2005-05-29 15:08:41    1
2005-05-29 15:17:28    1
2005-05-29 16:03:03    1
2005-05-29 16:13:55    1
2005-05-29 16:17:07    1
2005-05-29 16:19:29    1
2005-05-29 16:30:42    1
2005-05-29 16:32:10    1
2005-05-29 16:44:08    1
2005-05-29 16:44:11    1
2005-05-29 16:57:39    1
2005-05-29 16:59:44    1
2005-05-29 17:12:17    1
2005-05-29 17:23:43    1
2005-05-29 17:24:48    1
2005-05-29 17:28:12    1
2005-05-29 17:35:50    1
2005-05-29 17:38:59    1
2005-05-29 17:52:30    1
2005-05-29 18:10:24    1
2005-05-29 18:18:18    1
2005-05-29 18:31:30    1
2005-05-29 18:50:50    1
2005-05-29 19:08:20    1
2005-05-29 19:10:20    1
2005-05-29 19:12:04    1
2005-05-29 19:30:42    1
2005-05-29 14:44:22    1
2005-05-29 14:38:57    1
2005-05-29 20:14:34    1
2005-05-29 14:23:58    1
2005-05-29 10:18:59    1
2005-05-29 10:26:29    1
2005-05-29 10:28:45    1
2005-05-29 10:29:47    1
2005-05-29 10:31:56    1
2005-05-29 10:57:57    1
2005-05-29 11:07:25    1
2005-05-29 11:09:01    1
2005-05-29 11:15:51    1
2005-05-29 11:32:15    1
2005-05-29 11:37:35    1
2005-05-29 11:38:34    1
2005-05-29 11:47:02    1
2005-05-29 12:20:19    1
2005-05-29 12:30:46    1
2005-05-29 12:51:44    1
2005-05-29 12:56:50    1
2005-05-29 12:59:14    1
2005-05-29 13:08:06    1
2005-05-29 13:18:05    1
2005-05-29 13:19:43    1
2005-05-29 13:23:26    1
2005-05-29 13:35:35    1
2005-05-29 14:07:58    1
2005-05-29 14:09:53    1
2005-05-29 14:17:17    1
2005-05-29 14:18:32    1
2005-05-29 20:00:30    1
2005-05-29 20:16:12    1
2005-05-30 05:36:21    1
2005-05-30 01:17:25    1
2005-05-30 01:18:15    1
2005-05-30 01:19:53    1
2005-05-30 01:23:07    1
2005-05-30 01:35:12    1
2005-05-30 01:35:15    1
2005-05-30 01:36:57    1
2005-05-30 01:43:31    1
2005-05-30 01:56:11    1
2005-05-30 02:00:28    1
2005-05-30 02:01:21    1
2005-05-30 02:01:23    1
2005-05-30 02:10:32    1
2005-05-30 02:36:20    1
2005-05-30 02:45:16    1
2005-05-30 02:48:32    1
2005-05-30 03:09:11    1
2005-05-30 03:14:59    1
2005-05-30 03:27:17    1
2005-05-30 03:39:44    1
2005-05-30 03:43:54    1
2005-05-30 03:54:43    1
2005-05-30 04:19:55    1
2005-05-30 04:22:06    1
2005-05-30 04:25:47    1
2005-05-30 05:01:30    1
2005-05-30 05:03:04    1
2005-05-30 05:15:20    1
2005-05-30 01:17:45    1
2005-05-30 00:58:20    1
2005-05-29 20:24:28    1
2005-05-30 00:44:24    1
2005-05-29 20:26:39    1
2005-05-29 20:39:14    1
2005-05-29 20:47:53    1
2005-05-29 21:00:32    1
2005-05-29 21:07:22    1
2005-05-29 21:31:12    1
2005-05-29 21:36:00    1
2005-05-29 21:39:37    1
2005-05-29 21:45:32    1
2005-05-29 21:49:41    1
2005-05-29 21:56:15    1
2005-05-29 21:58:43    1
2005-05-29 22:14:55    1
2005-05-29 22:16:42    1
2005-05-29 22:43:55    1
2005-05-29 22:50:25    1
2005-05-29 22:51:20    1
2005-05-29 23:21:56    1
2005-05-29 23:24:30    1
2005-05-29 23:37:00    1
2005-05-29 23:56:42    1
2005-05-30 00:02:08    1
2005-05-30 00:27:57    1
2005-05-30 00:28:12    1
2005-05-30 00:28:41    1
2005-05-30 00:31:17    1
2005-05-30 00:32:04    1
2005-05-28 01:35:25    1
2005-05-28 01:09:36    1
2005-05-24 22:54:33    1
2005-05-26 03:17:42    1
2005-05-26 01:34:28    1
2005-05-26 01:46:20    1
2005-05-26 01:51:48    1
2005-05-26 02:02:05    1
2005-05-26 02:26:23    1
2005-05-26 02:26:49    1
2005-05-26 02:28:36    1
2005-05-26 02:49:11    1
2005-05-26 02:50:31    1
2005-05-26 03:07:43    1
2005-05-26 03:09:30    1
2005-05-26 03:11:12    1
2005-05-26 03:14:15    1
2005-05-26 03:42:10    1
2005-05-25 21:07:59    1
2005-05-26 03:44:10    1
2005-05-26 03:46:26    1
2005-05-26 03:47:39    1
2005-05-26 04:14:29    1
2005-05-26 04:21:46    1
2005-05-26 04:26:06    1
2005-05-26 04:46:23    1
2005-05-26 04:47:06    1
2005-05-26 04:49:17    1
2005-05-26 05:01:18    1
2005-05-26 05:29:49    1
2005-05-26 05:30:03    1
2005-05-26 05:32:52    1
2005-05-26 01:27:11    1
2005-05-26 01:25:21    1
2005-05-26 01:19:05    1
2005-05-26 01:15:05    1
2005-05-25 21:19:53    1
2005-05-25 21:20:03    1
2005-05-25 21:21:56    1
2005-05-25 21:42:46    1
2005-05-25 21:46:54    1
2005-05-25 21:48:30    1
2005-05-25 21:48:41    1
2005-05-25 21:58:58    1
2005-05-25 22:02:30    1
2005-05-25 22:25:18    1
2005-05-25 22:48:22    1
2005-05-25 23:00:21    1
2005-05-25 23:34:22    1
2005-05-25 23:34:53    1
2005-05-25 23:43:47    1
2005-05-25 23:45:52    1
2005-05-25 23:49:56    1
2005-05-25 23:59:03    1
2005-05-26 00:07:11    1
2005-05-26 00:17:50    1
2005-05-26 00:25:23    1
2005-05-26 00:28:05    1
2005-05-26 00:28:39    1
2005-05-26 00:37:28    1
2005-05-26 00:41:10    1
2005-05-26 00:47:47    1
2005-05-26 00:55:56    1
2005-05-26 05:42:37    1
2005-05-26 05:47:12    1
2005-05-26 06:01:41    1
2005-05-26 10:06:49    1
2005-05-26 10:14:38    1
2005-05-26 10:15:23    1
2005-05-26 10:18:27    1
2005-05-26 10:27:50    1
2005-05-26 10:44:04    1
2005-05-26 10:51:46    1
2005-05-26 10:54:28    1
2005-05-26 11:19:20    1
2005-05-26 11:31:50    1
2005-05-26 11:31:59    1
2005-05-26 11:38:05    1
2005-05-26 11:43:44    1
2005-05-26 11:47:20    1
2005-05-26 11:51:09    1
2005-05-26 11:53:49    1
2005-05-26 12:15:13    1
2005-05-26 12:30:22    1
2005-05-26 12:30:26    1
2005-05-26 12:40:23    1
2005-05-26 12:49:01    1
2005-05-26 13:05:08    1
2005-05-26 13:06:05    1
2005-05-26 13:40:40    1
2005-05-26 13:46:59    1
2005-05-26 13:57:07    1
2005-05-26 14:01:05    1
2005-05-26 14:07:58    1
2005-05-26 10:14:09    1
2005-05-26 09:41:45    1
2005-05-26 06:11:28    1
2005-05-26 09:27:09    1
2005-05-26 06:14:06    1
2005-05-26 06:20:37    1
2005-05-26 06:41:48    1
2005-05-26 06:52:33    1
2005-05-26 06:52:36    1
2005-05-26 06:55:58    1
2005-05-26 06:59:21    1
2005-05-26 07:03:49    1
2005-05-26 07:11:58    1
2005-05-26 07:12:21    1
2005-05-26 07:13:45    1
2005-05-26 07:27:36    1
2005-05-26 07:27:57    1
2005-05-26 07:30:37    1
2005-05-26 07:59:37    1
2005-05-26 08:01:54    1
2005-05-26 08:04:38    1
2005-05-26 08:10:22    1
2005-05-26 08:14:01    1
2005-05-26 08:14:15    1
2005-05-26 08:33:10    1
2005-05-26 08:34:41    1
2005-05-26 08:44:08    1
2005-05-26 08:48:49    1
2005-05-26 09:02:47    1
2005-05-26 09:17:43    1
2005-05-26 09:24:26    1
2005-05-25 21:10:40    1
2005-05-25 20:48:50    1
2005-05-26 14:30:24    1
2005-05-25 06:05:20    1
2005-05-25 04:19:28    1
2005-05-25 04:24:36    1
2005-05-25 04:36:26    1
2005-05-25 04:44:31    1
2005-05-25 04:47:44    1
2005-05-25 04:51:46    1
2005-05-25 05:09:04    1
2005-05-25 05:12:29    1
2005-05-25 05:24:58    1
2005-05-25 05:39:25    1
2005-05-25 05:53:23    1
2005-05-25 05:59:39    1
2005-05-25 06:04:08    1
2005-05-25 06:20:46    1
2005-05-25 20:46:11    1
2005-05-25 06:39:35    1
2005-05-25 06:44:53    1
2005-05-25 06:49:10    1
2005-05-25 06:51:29    1
2005-05-25 07:19:16    1
2005-05-25 07:23:25    1
2005-05-25 08:26:13    1
2005-05-25 08:28:11    1
2005-05-25 08:43:32    1
2005-05-25 08:53:14    1
2005-05-25 08:56:42    1
2005-05-25 08:58:25    1
2005-05-25 09:01:57    1
2005-05-25 04:18:51    1
2005-05-25 04:06:21    1
2005-05-25 04:05:17    1
2005-05-25 04:01:32    1
2005-05-24 23:03:39    1
2005-05-24 23:04:41    1
2005-05-24 23:05:21    1
2005-05-24 23:08:07    1
2005-05-24 23:11:53    1
2005-05-24 23:31:46    1
2005-05-25 00:00:40    1
2005-05-25 00:02:21    1
2005-05-25 00:09:02    1
2005-05-25 00:19:27    1
2005-05-25 00:22:55    1
2005-05-25 00:31:15    1
2005-05-25 00:39:22    1
2005-05-25 00:43:11    1
2005-05-25 01:06:36    1
2005-05-25 01:10:47    1
2005-05-25 01:17:24    1
2005-05-25 01:48:41    1
2005-05-25 01:59:46    1
2005-05-25 02:19:23    1
2005-05-25 02:40:21    1
2005-05-25 02:53:02    1
2005-05-25 03:21:20    1
2005-05-25 03:36:50    1
2005-05-25 03:41:50    1
2005-05-25 03:42:37    1
2005-05-25 03:47:12    1
2005-05-25 09:18:52    1
2005-05-25 09:19:16    1
2005-05-25 09:21:29    1
2005-05-25 16:12:52    1
2005-05-25 16:34:24    1
2005-05-25 16:48:24    1
2005-05-25 16:50:20    1
2005-05-25 16:50:28    1
2005-05-25 17:17:04    1
2005-05-25 17:22:10    1
2005-05-25 17:30:42    1
2005-05-25 17:46:33    1
2005-05-25 17:54:12    1
2005-05-25 18:18:19    1
2005-05-25 18:28:09    1
2005-05-25 18:30:05    1
2005-05-25 18:40:20    1
2005-05-25 18:43:49    1
2005-05-25 18:45:19    1
2005-05-25 18:57:24    1
2005-05-25 19:07:40    1
2005-05-25 19:12:42    1
2005-05-25 19:13:25    1
2005-05-25 19:27:51    1
2005-05-25 19:30:46    1
2005-05-25 19:31:18    1
2005-05-25 19:37:02    1
2005-05-25 19:37:47    1
2005-05-25 19:41:29    1
2005-05-25 19:46:21    1
2005-05-25 20:26:42    1
2005-05-25 16:32:19    1
2005-05-25 16:03:42    1
2005-05-25 09:32:03    1
2005-05-25 15:54:16    1
2005-05-25 09:35:12    1
2005-05-25 09:41:01    1
2005-05-25 09:47:31    1
2005-05-25 10:10:14    1
2005-05-25 10:15:23    1
2005-05-25 10:26:39    1
2005-05-25 10:52:13    1
2005-05-25 11:00:07    1
2005-05-25 11:09:48    1
2005-05-25 11:13:34    1
2005-05-25 11:30:37    1
2005-05-25 11:31:59    1
2005-05-25 11:35:18    1
2005-05-25 12:11:07    1
2005-05-25 12:12:07    1
2005-05-25 12:15:19    1
2005-05-25 12:17:46    1
2005-05-25 12:30:15    1
2005-05-25 12:36:30    1
2005-05-25 13:05:34    1
2005-05-25 13:36:12    1
2005-05-25 13:52:43    1
2005-05-25 14:13:54    1
2005-05-25 14:28:29    1
2005-05-25 14:31:25    1
2005-05-25 14:57:22    1
2005-05-25 15:38:46    1
2005-05-26 14:19:09    1
2005-05-26 14:35:40    1
2005-05-28 01:05:25    1
2005-05-27 15:32:57    1
2005-05-27 14:11:22    1
2005-05-27 14:14:14    1
2005-05-27 14:17:23    1
2005-05-27 14:45:37    1
2005-05-27 14:48:20    1
2005-05-27 14:51:45    1
2005-05-27 15:02:10    1
2005-05-27 15:07:27    1
2005-05-27 15:13:17    1
2005-05-27 15:15:11    1
2005-05-27 15:19:38    1
2005-05-27 15:30:13    1
2005-05-27 15:31:55    1
2005-05-27 15:34:01    1
2005-05-27 09:04:05    1
2005-05-27 15:51:30    1
2005-05-27 15:56:57    1
2005-05-27 16:10:04    1
2005-05-27 16:10:58    1
2005-05-27 16:21:26    1
2005-05-27 16:22:10    1
2005-05-27 16:31:05    1
2005-05-27 16:40:29    1
2005-05-27 16:40:40    1
2005-05-27 16:54:27    1
2005-05-27 17:17:09    1
2005-05-27 17:21:04    1
2005-05-27 17:47:22    1
2005-05-27 14:10:58    1
2005-05-27 13:57:39    1
2005-05-27 13:57:38    1
2005-05-27 13:46:46    1
2005-05-27 09:25:32    1
2005-05-27 09:34:39    1
2005-05-27 09:43:25    1
2005-05-27 10:12:00    1
2005-05-27 10:12:20    1
2005-05-27 10:18:20    1
2005-05-27 10:23:25    1
2005-05-27 10:26:31    1
2005-05-27 10:35:27    1
2005-05-27 10:37:27    1
2005-05-27 10:45:41    1
2005-05-27 11:02:26    1
2005-05-27 11:03:55    1
2005-05-27 11:14:42    1
2005-05-27 11:18:25    1
2005-05-27 11:26:11    1

In [161]:
df_ren.inventory_id.value_counts()

367     1
1769    1
1414    1
2247    1
2968    1
3997    1
87      1
1012    1
3075    1
797     1
3528    1
3677    1
227     1
1027    1
697     1
1150    1
742     1
1273    1
2329    1
4558    1
3741    1
907     1
4147    1
3346    1
3160    1
2038    1
3242    1
1385    1
2441    1
1731    1
1382    1
3226    1
848     1
2846    1
1527    1
1254    1
2465    1
1287    1
58      1
2630    1
1648    1
4213    1
1581    1
2685    1
4204    1
495     1
3548    1
140     1
3105    1
4304    1
3128    1
1922    1
3435    1
3476    1
1781    1
4384    1
739     1
1201    1
126     1
2312    1
331     1
4135    1
2646    1
1525    1
3689    1
3407    1
3770    1
4088    1
933     1
1629    1
242     1
1688    1
3473    1
4124    1
2530    1
2951    1
3084    1
3421    1
769     1
4034    1
2284    1
1183    1
600     1
3189    1
273     1
2528    1
3722    1
581     1
4272    1
1993    1
2803    1
1146    1
730     1
4540    1
1116    1
3687    1
267     1
800     1
635     1
592     1
4276    1
2076    1
3949    1
1412    1
130     1
500     1
372     1
2556    1
1123    1
2628    1
2809    1
2278    1
819     1
3133    1
2459    1
194     1
4581    1
4191    1
3664    1
2010    1
2030    1
85      1
1383    1
1736    1
2513    1
425     1
452     1
3704    1
4209    1
2962    1
3095    1
2262    1
3427    1
3321    1
1662    1
4444    1
530     1
2964    1
1086    1
487     1
2065    1
1818    1
2889    1
3632    1
3119    1
23      1
1349    1
1951    1
4397    1
1814    1
158     1
4163    1
1227    1
644     1
928     1
3390    1
992     1
4306    1
2793    1
1113    1
2086    1
71      1
667     1
3621    1
4179    1
3416    1
4338    1
3827    1
2176    1
225     1
1697    1
3369    1
4357    1
234     1
4087    1
3564    1
3845    1
2397    1
3195    1
1905    1
1962    1
1817    1
1387    1
266     1
1655    1
2624    1
3332    1
53      1
2973    1
1494    1
821     1
599     1
4136    1
1567    1
3225    1
1300    1
3248    1
1585    1
4232    1
3509    1
2561    1
4254    1
2944    1
3642    1
1230    1
2180    1
270     1
280     1
3397    1
989     1
4142    1
4445    1
2482    1
2444    1
1144    1
2363    1
1222    1
3660    1
4469    1
595     1
4330    1
2766    1
3308    1
2232    1
4534    1
1122    1
4250    1
1899    1
4020    1
3883    1
4451    1
1866    1
375     1
2938    1
3481    1
3515    1
1380    1
4579    1
2679    1
1833    1
3544    1
898     1
1413    1
95      1
4231    1
473     1
377     1
638     1
1810    1
2711    1
1720    1
1021    1
3279    1
1404    1
3200    1
3213    1
1393    1
1859    1
1290    1
3629    1
818     1
4052    1
3860    1
1827    1
2442    1
1884    1
3203    1
4265    1
4327    1
1158    1
246     1
4296    1
2835    1
3384    1
719     1
3672    1
3595    1
2421    1
901     1
1054    1
1521    1
2601    1
3775    1
4427    1
3320    1
1819    1
602     1
3841    1
2271    1
4079    1
646     1
4356    1
2727    1
387     1
1299    1
1464    1
2611    1
471     1
3260    1
1118    1
2744    1
2817    1
1334    1
3497    1
1096    1
3543    1
760     1
1514    1
2423    1
2466    1
4372    1
1862    1
1314    1
1278    1
3630    1
2       1
2617    1
3109    1
2290    1
2029    1
407     1
3917    1
4169    1
2913    1
3560    1
63      1
2305    1
1573    1
4045    1
390     1
1364    1
4388    1
4171    1
2863    1
3572    1
2080    1
2798    1
17      1
2075    1
4243    1
3395    1
4433    1
1774    1
1914    1
2911    1
4279    1
1520    1
3737    1
151     1
1441    1
1264    1
4478    1
585     1
2202    1
491     1
1395    1
4389    1
2194    1
1231    1
4140    1
647     1
4428    1
548     1
3108    1
1966    1
3293    1
4535    1
1921    1
657     1
3363    1
1294    1
1954    1
119     1
443     1
4021    1
886     1
734     1
1713    1
2637    1
3919    1
763     1
708     1
2858    1
1554    1
2841    1
379     1
1995    1
609     1
2697    1
1446    1
1102    1
441     1
1471    1
1642    1
785     1
1602    1
3909    1
3132    1
2386    1
2195    1
1928    1
2114    1
2533    1
4419    1
1099    1
4554    1
39      1
2936    1
3046    1
2255    1
3090    1
3152    1
1067    1
1191    1
2367    1
3250    1
2342    1
3683    1
2022    1
1069    1
515     1
2154    1
687     1
2895    1
1523    1
2491    1
353     1
3319    1
245     1
1188    1
1197    1
4339    1
451     1
1816    1
533     1
1919    1
88      1
1572    1
3757    1
630     1
4387    1
2424    1
2390    1
2780    1
1622    1
3693    1
921     1
2527    1
3969    1
2569    1
1258    1
3032    1
578     1
3711    1
1186    1
3999    1
2777    1
3183    1
2867    1
3389    1
3604    1
3399    1
2903    1
4573    1
3904    1
4568    1
363     1
1428    1
1363    1
938     1
186     1
2001    1
4106    1
623     1
2584    1
3380    1
2634    1
3249    1
3518    1
712     1
2263    1
62      1
2468    1
1684    1
3464    1
3912    1
1381    1
2898    1
3628    1
299     1
3140    1
977     1
2859    1
1886    1
4049    1
4318    1
2328    1
2214    1
536     1
3005    1
3131    1
601     1
2873    1
3453    1
1885    1
2941    1
1229    1
2306    1
1070    1
2735    1
3894    1
865     1
2714    1
1758    1
3688    1
4483    1
3596    1
2047    1
3954    1
4346    1
851     1
3545    1
1489    1
2575    1
2752    1
2417    1
4396    1
2877    1
1970    1
2598    1
1799    1
2395    1
887     1
3193    1
288     1
4322    1
4154    1
3990    1
815     1
3367    1
399     1
2272    1
103     1
2296    1
2591    1
4134    1
327     1
655     1
811     1
4407    1
847     1
1689    1
3905    1
1431    1
633     1
4252    1
1084    1
909     1
2942    1
2622    1
3888    1
1354    1
4004    1
3342    1
984     1
1259    1
2745    1
3121    1
4285    1
651     1
4181    1
214     1
511     1
1131    1
1085    1
4032    1
2945    1
715     1
1321    1
3537    1
1265    1
241     1
503     1
131     1
3420    1
4438    1
2095    1
1721    1
1041    1
3045    1
2829    1
4095    1
1913    1
3578    1
3074    1
3962    1
2291    1
4365    1
1897    1
3900    1
1337    1
506     1
190     1
4212    1
1789    1
2135    1
3926    1
776     1
674     1
3374    1
1842    1
303     1
1717    1
102     1
3669    1
729     1
1801    1
4005    1
764     1
1505    1
1453    1
679     1
1398    1
4395    1
2026    1
952     1
368     1
2211    1
2613    1
1286    1
1308    1
403     1
2540    1
4466    1
2638    1
1761    1
380     1
2578    1
3098    1
1853    1
3318    1
1780    1
212     1
2965    1
1983    1
1257    1
4017    1
1255    1
2787    1
1139    1
1352    1
3938    1
3050    1
2884    1
330     1
4210    1
1681    1
3832    1
4482    1
3744    1
1711    1
2452    1
2079    1
2792    1
3995    1
2346    1
2580    1
1824    1
4443    1
1584    1
2294    1
2701    1
3049    1
389     1
830     1
3376    1
1941    1
3517    1
146     1
727     1
4441    1
3273    1
3961    1
4371    1
1225    1
4068    1
611     1
261     1
4008    1
79      1
178     1
1283    1
2970    1
535     1
2599    1
617     1
373     1
3343    1
4281    1
794     1
3627    1
2833    1
3289    1
1044    1
4108    1
3725    1
2153    1
2963    1
4502    1
749     1
4453    1
4278    1
872     1
1359    1
37      1
1053    1
2908    1
1795    1
3418    1
1675    1
3552    1
4360    1
1162    1
239     1
4029    1
3207    1
2168    1
2408    1
2260    1
517     1
1744    1
3393    1
3021    1
1303    1
4067    1
3299    1
2478    1
2610    1
1388    1
466     1
1829    1
470     1
2275    1
1586    1
2221    1
2181    1
2984    1
139     1
775     1
2428    1
4352    1
4500    1
1783    1
4010    1
1434    1
1400    1
3516    1
1019    1
3698    1
2371    1
2253    1
3063    1
2514    1
619     1
2985    1
1152    1
2815    1
3012    1
1518    1
1103    1
1677    1
3349    1
129     1
1920    1
4507    1
1119    1
4364    1
3360    1
3328    1
4317    1
1800    1
3652    1
1438    1
1077    1
2136    1
3462    1
1777    1
2748    1
4358    1
955     1
910     1
1565    1
1288    1
2684    1
434     1
691     1
3759    1
2193    1
263     1
145     1
1890    1
752     1
1020    1
4193    1
1686    1
553     1
258     1
2179    1
461     1
3983    1
1293    1
4090    1
4260    1
354     1
4452    1
2872    1
802     1
1474    1
2520    1
2451    1
2437    1
424     1
2060    1
2108    1
72      1
4178    1
1510    1
3115    1
2392    1
1822    1
3774    1
393     1
1940    1
3524    1
1326    1
1999    1
184     1
1850    1
1007    1
1785    1
2636    1
458     1
2381    1
1338    1
1613    1
1578    1
4463    1
1457    1
2021    1
723     1
1757    1
1955    1
3890    1
2671    1
2469    1
1343    1
205     1
2993    1
4425    1
3499    1
3344    1
1699    1
2368    1
3350    1
597     1
4238    1
2077    1
2314    1
826     1
1313    1
20      1
1786    1
339     1
2656    1
2242    1
3197    1
1203    1
1594    1
350     1
2486    1
314     1
3631    1
3546    1
2449    1
2776    1
485     1
4264    1
1828    1
2751    1
4030    1
3878    1
1083    1
1815    1
4376    1
249     1
3448    1
2921    1
1111    1
1701    1
2665    1
2781    1
1097    1
187     1
1946    1
593     1
2830    1
3530    1
4486    1
1208    1
1896    1
2969    1
1835    1
3264    1
3194    1
2570    1
3534    1
30      1
435     1
1369    1
4261    1
1160    1
2069    1
2276    1
3303    1
1206    1
1714    1
3501    1
207     1
2388    1
971     1
1590    1
656     1
1718    1
1221    1
1409    1
182     1
661     1
2008    1
4156    1
2851    1
4319    1
1825    1
2920    1
2756    1
3371    1
4369    1
3989    1
2058    1
141     1
2868    1
4417    1
1925    1
1156    1
3489    1
6       1
2324    1
4282    1
833     1
2887    1
360     1
3437    1
1247    1
944     1
3347    1
1235    1
4089    1
1649    1
4420    1
1625    1
1396    1
2847    1
2327    1
3828    1
26      1
2559    1
3024    1
1090    1
4556    1
2362    1
3364    1
2510    1
3979    1
2678    1
2524    1
2659    1
1536    1
1872    1
1529    1
4001    1
3973    1
1411    1
1811    1
751     1
2596    1
2410    1
946     1
4168    1
4019    1
3301    1
1498    1
Name: inventory_id, dtype: int64

In [162]:
df_ren.customer_id.value_counts()

197    8
245    6
596    6
274    6
371    6
19     6
575    5
207    5
391    5
528    5
44     5
53     5
161    5
506    5
468    5
269    5
77     5
429    5
14     5
105    4
256    4
176    4
569    4
313    4
250    4
368    4
159    4
296    4
551    4
246    4
109    4
56     4
472    4
375    4
288    4
198    4
400    4
311    4
307    4
249    4
7      4
469    4
369    4
261    4
535    4
222    4
502    4
239    4
184    3
319    3
247    3
22     3
412    3
439    3
240    3
337    3
437    3
584    3
185    3
134    3
46     3
500    3
201    3
503    3
242    3
84     3
196    3
54     3
436    3
446    3
304    3
60     3
549    3
401    3
408    3
533    3
16     3
50     3
231    3
47     3
473    3
548    3
432    3
482    3
399    3
452    3
357    3
142    3
89     3
354    3
257    3
102    3
504    3
384    3
204    3
374    3
119    3
442    3
387    3
460    3
58     3
48     3
154    3
150    3
17     3
162    3
323    3
359    3
484    3
131    3
167    3
64     3
287    3
589    3
6      3
417    3
83     3
381    3
114    3
449    3
251    3
301    3
20     3
253    3
170    3
49     3
21     3
79     3
282    3
498    3
172    3
321    3
18     3
480    3
248    2
193    2
390    2
562    2
92     2
225    2
144    2
496    2
593    2
65     2
534    2
464    2
547    2
238    2
72     2
594    2
303    2
236    2
133    2
130    2
67     2
281    2
447    2
557    2
85     2
445    2
32     2
411    2
476    2
501    2
526    2
179    2
421    2
113    2
110    2
315    2
299    2
360    2
495    2
372    2
76     2
588    2
173    2
186    2
69     2
490    2
554    2
244    2
538    2
393    2
330    2
300    2
127    2
87     2
194    2
516    2
209    2
36     2
9      2
563    2
157    2
382    2
152    2
147    2
435    2
508    2
576    2
306    2
276    2
28     2
416    2
544    2
168    2
220    2
475    2
284    2
259    2
190    2
3      2
403    2
293    2
112    2
309    2
332    2
479    2
524    2
51     2
365    2
302    2
405    2
273    2
43     2
94     2
23     2
62     2
237    2
151    2
586    2
297    2
82     2
433    2
57     2
348    2
462    2
505    2
597    2
182    2
455    2
539    2
93     2
413    2
346    2
383    2
510    2
1      2
451    2
135    2
314    2
511    2
291    2
414    2
266    2
507    2
331    2
115    2
35     2
267    2
263    2
486    2
343    2
561    2
523    2
104    2
344    2
326    2
334    2
59     2
394    2
350    2
322    2
509    2
388    2
489    2
542    2
143    2
316    2
126    2
345    2
571    2
312    2
531    2
566    2
536    2
103    2
214    2
543    2
158    2
545    2
379    2
120    2
71     2
37     2
546    2
587    2
556    2
564    2
444    2
272    2
75     2
430    2
232    2
515    2
327    1
461    1
581    1
520    1
216    1
465    1
415    1
428    1
338    1
148    1
42     1
241    1
166    1
426    1
12     1
407    1
11     1
513    1
471    1
578    1
595    1
279    1
494    1
262    1
396    1
123    1
580    1
474    1
440    1
210    1
99     1
124    1
8      1
352    1
328    1
358    1
406    1
122    1
27     1
530    1
553    1
517    1
380    1
26     1
537    1
402    1
171    1
217    1
573    1
235    1
441    1
52     1
149    1
339    1
215    1
367    1
66     1
141    1
117    1
252    1
137    1
550    1
385    1
518    1
366    1
146    1
5      1
156    1
192    1
349    1
363    1
483    1
420    1
128    1
477    1
454    1
448    1
590    1
98     1
560    1
290    1
33     1
107    1
552    1
254    1
125    1
243    1
270    1
29     1
91     1
40     1
121    1
318    1
467    1
221    1
211    1
187    1
373    1
200    1
45     1
582    1
325    1
227    1
294    1
305    1
333    1
456    1
438    1
230    1
88     1
174    1
532    1
470    1
419    1
86     1
73     1
317    1
100    1
265    1
286    1
427    1
492    1
499    1
25     1
208    1
310    1
108    1
81     1
577    1
459    1
493    1
95     1
228    1
199    1
145    1
111    1
434    1
138    1
223    1
169    1
514    1
450    1
277    1
106    1
376    1
55     1
572    1
463    1
324    1
155    1
181    1
386    1
308    1
398    1
491    1
101    1
364    1
409    1
203    1
2      1
292    1
275    1
165    1
378    1
118    1
361    1
295    1
183    1
298    1
213    1
422    1
424    1
219    1
522    1
574    1
525    1
529    1
565    1
389    1
Name: customer_id, dtype: int64

In [165]:
df_ren.return_date.value_counts().head()

2005-06-05 15:16:54    2
2005-06-03 06:05:10    2
2005-06-06 06:23:00    2
2005-05-26 22:04:30    1
2005-05-30 15:26:31    1
Name: return_date, dtype: int64

In [166]:
df_ren.staff_id.value_counts()

2    521
1    479
Name: staff_id, dtype: int64

In [167]:
df_ren.last_update.value_counts()

2006-02-15 21:30:53    1000
Name: last_update, dtype: int64

In [168]:
df_ren.drop(['last_update'], axis=1, inplace = True)

In [169]:
df_ren.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1

### limpieza csv old_HDD

In [10]:
df_old_ori = pd.read_csv(r'C:\Users\david\Proyectos\Github\w3-database-project\data\old_HDD.csv')

In [171]:
df_old_ori.head()

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14

In [172]:
df_old=df_old_ori.copy()

In [173]:
df_old.shape

(1000, 5)

In [174]:
df_old_dim_orig=df_old.shape

In [175]:
df_old.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 5 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   first_name    1000 non-null   object
 1   last_name     1000 non-null   object
 2   title         1000 non-null   object
 3   release_year  1000 non-null   int64
 4   category_id   1000 non-null   int64
dtypes: int64(2), object(3)
memory usage: 207.6 KB

In [176]:
df_old.drop_duplicates().shape==df_old.shape

True

In [177]:
df_old.first_name.unique()

array(['PENELOPE', 'NICK', 'ED', 'JENNIFER', 'JOHNNY', 'BETTE', 'GRACE',
       'MATTHEW', 'JOE', 'CHRISTIAN', 'ZERO', 'KARL', 'UMA', 'VIVIEN',
       'CUBA', 'FRED', 'HELEN', 'DAN', 'BOB', 'LUCILLE', 'KIRSTEN',
       'ELVIS', 'SANDRA', 'CAMERON', 'KEVIN', 'RIP', 'JULIA', 'WOODY',
       'ALEC', 'SISSY', 'TIM', 'MILLA', 'AUDREY', 'JUDY', 'BURT', 'VAL',
       'TOM', 'GOLDIE'], dtype=object)

In [178]:
df_old.first_name.value_counts()

SANDRA       56
VAL          35
UMA          35
JULIA        33
RIP          33
HELEN        32
KARL         31
WOODY        31
VIVIEN       30
LUCILLE      30
GRACE        30
JOHNNY       29
BURT         29
ALEC         29
CUBA         28
KIRSTEN      27
FRED         27
ELVIS        26
ZERO         25
BOB          25
NICK         25
AUDREY       25
JOE          25
TOM          25
MILLA        24
CAMERON      24
TIM          23
DAN          22
ED           22
JENNIFER     22
CHRISTIAN    22
KEVIN        21
MATTHEW      20
BETTE        20
PENELOPE     19
SISSY        18
JUDY         15
GOLDIE        7
Name: first_name, dtype: int64

In [179]:
df_old.last_name.unique()

array(['GUINESS', 'WAHLBERG', 'CHASE', 'DAVIS', 'LOLLOBRIGIDA',
       'NICHOLSON', 'MOSTEL', 'JOHANSSON', 'SWANK', 'GABLE', 'CAGE',
       'BERRY', 'WOOD', 'BERGEN', 'OLIVIER', 'COSTNER', 'VOIGHT', 'TORN',
       'FAWCETT', 'TRACY', 'PALTROW', 'MARX', 'KILMER', 'STREEP', 'BLOOM',
       'CRAWFORD', 'MCQUEEN', 'HOFFMAN', 'WAYNE', 'PECK', 'SOBIESKI',
       'HACKMAN', 'DEAN', 'DUKAKIS', 'BOLGER', 'MCKELLEN', 'BRODY'],
      dtype=object)

In [180]:
df_old.last_name.value_counts()

OLIVIER         53
PECK            43
KILMER          37
BOLGER          35
WOOD            35
MCQUEEN         33
CRAWFORD        33
VOIGHT          32
BERRY           31
HOFFMAN         31
BERGEN          30
MOSTEL          30
TRACY           30
WAYNE           29
DUKAKIS         29
LOLLOBRIGIDA    29
PALTROW         27
COSTNER         27
MARX            26
MCKELLEN        25
SWANK           25
WAHLBERG        25
CAGE            25
FAWCETT         25
STREEP          24
HACKMAN         23
GABLE           22
DAVIS           22
TORN            22
CHASE           22
BLOOM           21
NICHOLSON       20
JOHANSSON       20
GUINESS         19
SOBIESKI        18
DEAN            15
BRODY            7
Name: last_name, dtype: int64

In [181]:
df_old.drop_duplicates(subset = ['first_name', 'title', 'last_name']).shape==df_old.shape

True

In [182]:
df_old.head()

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14

In [183]:
df_old.title.unique()

array(['ACADEMY DINOSAUR', 'ANACONDA CONFESSIONS', 'ANGELS LIFE',
       'BULWORTH COMMANDMENTS', 'CHEAPER CLYDE', 'COLOR PHILADELPHIA',
       'ELEPHANT TROJAN', 'GLEAMING JAWBREAKER', 'HUMAN GRAFFITI',
       'KING EVOLUTION', 'LADY STAGE', 'LANGUAGE COWBOY',
       'MULHOLLAND BEAST', 'OKLAHOMA JUMANJI', 'RULES HUMAN',
       'SPLASH GUMP', 'VERTIGO NORTHWEST', 'WESTWARD SEABISCUIT',
       'WIZARD COLDBLOODED', 'ADAPTATION HOLES', 'APACHE DIVINE',
       'BABY HALL', 'BULL SHAWSHANK', 'CHAINSAW UPTOWN',
       'CHISUM BEHAVIOR', 'DESTINY SATURDAY', 'DRACULA CRYSTAL',
       'FIGHT JAWBREAKER', 'FLASH WARS', 'GILBERT PELICAN',
       'GOODFELLAS SALUTE', 'HAPPINESS UNITED', 'INDIAN LOVE',
       'JEKYLL FROGMEN', 'JERSEY SASSY', 'LIAISONS SWEET', 'LUCKY FLYING',
       'MAGUIRE APACHE', 'MALLRATS UNITED', 'MASK PEACH', 'ROOF CHAMPION',
       'RUSHMORE MERMAID', 'SMILE EARRING', 'WARDROBE PHANTOM',
       'ALONE TRIP', 'ARMY FLINTSTONES', 'ARTIST COLDBLOODED',
       'BOONDOCK BALLROOM', 'CADDYSHACK JEDI', 'COWBOY DOOM',
       'EVE RESURRECTION', 'FORREST SONS', 'FRENCH HOLIDAY', 'FROST HEAD',
       'HALLOWEEN NUTS', 'HUNTER ALTER', 'IMAGE PRINCESS',
       'JEEPERS WEDDING', 'LUCK OPUS', 'NECKLACE OUTBREAK',
       'PLATOON INSTINCT', 'SPICE SORORITY', 'WEDDING APOLLO',
       'WEEKEND PERSONAL', 'WHALE BIKINI', 'YOUNG LANGUAGE',
       'BAREFOOT MANCHURIAN', 'BED HIGHBALL', 'BLADE POLISH',
       'GHOSTBUSTERS ELF', 'GREEDY ROOTS', 'HANOVER GALAXY',
       'INSTINCT AIRPORT', 'JUMANJI BLADE', 'NATIONAL STORY',
       'POSEIDON FOREVER', 'RAIDERS ANTITRUST', 'RANDOM GO', 'REDS POCUS',
       'SILVERADO GOLDFINGER', 'SUBMARINE BED', 'TREASURE COMMAND',
       'UNFORGIVEN ZOOLANDER', 'AMADEUS HOLY', 'BANGER PINOCCHIO',
       'BONNIE HOLOCAUST', 'CHITTY LOCK', 'COMMANDMENTS EXPRESS',
       'CONEHEADS SMOOCHY', 'DADDY PITTSBURGH', 'DAISY MENAGERIE',
       'ENOUGH RAGING', 'ESCAPE METROPOLIS', 'FIRE WOLVES',
       'FRONTIER CABIN', 'GRAIL FRANKENSTEIN', 'GROOVE FICTION',
       'HALL CASSIDY', 'HEAVENLY GUN', 'KRAMER CHOCOLATE',
       'LOVE SUICIDES', 'METAL ARMAGEDDON', 'PACIFIC AMISTAD',
       'PATTON INTERVIEW', 'POCUS PULP', 'RIDGEMONT SUBMARINE',
       'RINGS HEARTBREAKERS', 'SOLDIERS EVOLUTION', 'STAR OPERATION',
       'SUNRISE LEAGUE', 'ANTITRUST TOMATOES', 'BANG KWAI',
       'BEAST HUNCHBACK', 'BIKINI BORROWERS', 'CALENDAR GUNFIGHT',
       'COAST RAINBOW', 'COLDBLOODED DARLING', 'CROSSROADS CASUALTIES',
       'DROP WATERFRONT', 'IGBY MAKER', 'LESSON CLEOPATRA',
       'LIBERTY MAGNIFICENT', 'POTLUCK MIXED', 'SPEED SUIT',
       'TITANIC BOONDOCK', 'TRADING PINOCCHIO', 'WYOMING STORM',
       'ANONYMOUS HUMAN', 'ARACHNOPHOBIA ROLLERCOASTER', 'BERETS AGENT',
       'BREAKING HOME', 'COMMAND DARLING', 'CONFESSIONS MAGUIRE',
       'DAZED PUNK', 'DECEIVER BETRAYED', 'DESTINATION JERK',
       'EXCITEMENT EVE', 'GASLIGHT CRUSADE', 'HELLFIGHTERS SIERRA',
       'MALKOVICH PET', 'OCTOBER SUBMARINE', 'OPEN AFRICAN',
       'SAINTS BRIDE', 'SAVANNAH TOWN', 'SCISSORHANDS SLUMS',
       'SLEEPLESS MONSOON', 'SLEEPY JAPANESE', 'STING PERSONAL',
       'TOWN ARK', 'TRACY CIDER', 'TREATMENT JEKYLL', 'WAR NOTTING',
       'WARLOCK WEREWOLF', 'CAMPUS REMEMBER', 'CLONES PINOCCHIO',
       'CONQUERER NUTS', 'CROWDS TELEMARK', 'DANCES NONE',
       'DRIVING POLISH', 'DURHAM PANKY', 'HANGING DEEP', 'LIGHTS DEER',
       'LOSER HUSTLER', 'RUNNER MADIGAN', 'SCHOOL JACKET',
       'SCORPION APOLLO', 'SUGAR WONKA', 'TOMORROW HUSTLER',
       'VANISHING ROCKY', 'ANYTHING SAVANNAH', 'BIRCH ANTITRUST',
       'CHOCOLAT HARRY', 'CHOCOLATE DUCK', 'CROOKED FROGMEN',
       'CURTAIN VIDEOTAPE', 'DALMATIONS SWEDEN', 'HORROR REIGN',
       'LAWLESS VISION', 'LEBOWSKI SOLDIERS', 'MAJESTIC FLOATS',
       'PERDITION FARGO', 'PRIMARY GLASS', 'REEF SALUTE',
       'SNATCHERS MONTEZUMA', 'SWEETHEARTS SUSPECTS', 'TIES HUNGER',
       'TRAFFIC HOBBIT', 'UNTOUCHABLES SUNRISE', 'WATERFRONT DELIVERANCE',
       'WILD APOLLO', 'ALABAMA DEVIL', 'DIVINE RESURRECTION',
       'DRAGONFLY STRANGERS', 'GOLDFINGER SENSIBILITY',
       'JAWBREAKER BROOKLYN', 'LIFE TWISTED', 'LORD ARIZONA',
       'MOD SECRETARY', 'PREJUDICE OLEANDER', 'PUNK DIVORCE',
       'REAP UNFAITHFUL', 'SHAKESPEARE SADDLE', 'TROUBLE DATE',
       'USUAL UNTOUCHABLES', 'VACATION BOONDOCK', 'WON DARES',
       'CANYON STOCK', 'ENCINO ELF', 'ENDING CROWDS', 'GANDHI KWAI',
       'GODFATHER DIARY', 'HANDICAP BOONDOCK', 'HONEY TIES',
       'HORN WORKING', 'MEET CHOCOLATE', 'MOONWALKER FOOL',
       'OLEANDER CLUE', 'RACER EGG', 'STORY SIDE', 'STRANGERS GRAFFITI',
       'THIN SAGEBRUSH', 'TOOTSIE PILOT', 'UPTOWN YOUNG',
       'VELVET TERMINATOR', 'WEST LION', 'WORKER TARZAN',
       'ALLEY EVOLUTION', 'ARABIA DOGMA', 'ARIZONA BANG', 'BOUND CHEAPER',
       'BOWFINGER GABLES', 'BUNCH MINDS', 'CLEOPATRA DEVIL',
       'CONNECTICUT TRAMP', 'DARES PLUTO', 'DATE SPEED', 'DAY UNFAITHFUL',
       'DOORS PRESIDENT', 'FURY MURDER', 'HARDLY ROBBERS',
       'HIGHBALL POTTER', 'HOLES BRANNIGAN', 'INDEPENDENCE HOTEL',
       'LEATHERNECKS DWARFS', 'MONTEREY LABYRINTH', 'NOVOCAINE FLIGHT',
       'PERFECT GROOVE', 'REUNION WITCHES', 'SMOKING BARBARELLA',
       'STAGECOACH ARMAGEDDON', 'SWEDEN SHINING',
       'TELEMARK HEARTBREAKERS', 'VIRGINIAN PLUTO', 'ATTRACTION NEWTON',
       'CABIN FLASH', 'CHINATOWN GLADIATOR', 'CLASH FREDDY',
       'CLUELESS BUCKET', 'DRIVER ANNIE', 'FRIDA SLIPPER',
       'GALAXY SWEETHEARTS', 'GRINCH MASSAGE', 'GROUNDHOG UNCUT',
       'HOMEWARD CIDER', 'INCH JET', 'LEGALLY SECRETARY', 'LION UNCUT',
       'LOLITA WORLD', 'MODEL FISH', 'MOTIONS DETAILS', 'REBEL AIRPORT',
       'RIDER CADDYSHACK', 'SNOWMAN ROLLERCOASTER', 'SPLENDOR PATTON',
       'STEEL SANTA', 'TORQUE BOUND', 'ZHIVAGO CORE', 'CRANES RESERVOIR',
       'DIRTY ACE', 'DONNIE ALLEY', 'DRIFTER COMMANDMENTS',
       'DRUMS DYNAMITE', 'ENEMY ODDS', 'GORGEOUS BINGO', 'HIGH ENCINO',
       'HILLS NEIGHBORS', 'HOBBIT ALIEN', 'IMPACT ALADDIN',
       'ITALIAN AFRICAN', 'JAPANESE RUN', 'KENTUCKIAN GIANT',
       'LOVELY JINGLE', 'LOVER TRUMAN', 'MUSSOLINI SPOILERS',
       'POLISH BROOKLYN', 'SALUTE APOLLO', 'SATURDAY LAMBS',
       'STOCK GLASS', 'STREETCAR INTENTIONS', 'TIGHTS DAWN', 'TRAP GUYS',
       'TYCOON GATHERING', 'VOICE PEACH', 'BORROWERS BEDAZZLED',
       'BUTCH PANTHER', 'CASSIDY WYOMING', 'EGYPT TENENBAUMS',
       'EMPIRE MALKOVICH', 'FLYING HOOK', 'FUGITIVE MAGUIRE',
       'HYDE DOCTOR', 'KISS GLORY', 'KNOCK WARLOCK', 'LUKE MUMMY',
       'MAKER GABLES', 'MONTEZUMA COMMAND', 'NOON PAPI', 'ROSES TREASURE',
       'SHANE DARKNESS', 'SIEGE MADRE', 'THEORY MERMAID', 'VOLCANO TEXAS',
       'WEREWOLF LOLA', 'WONDERLAND CHRISTMAS', 'BLANKET BEVERLY',
       'BROTHERHOOD BLANKET', 'CAROL TEXAS', 'DELIVERANCE MULHOLLAND',
       'EAGLES PANKY', 'EARRING INSTINCT', 'EASY GLADIATOR',
       'ENTRAPMENT SATISFACTION', 'GABLES METROPOLIS',
       'IMPOSSIBLE PREJUDICE', 'MAGNIFICENT CHITTY', 'MIRACLE VIRTUAL',
       'MISSION ZOOLANDER', 'REAR TRADING', 'SENSE GREEK',
       'CAPER MOTIONS', 'CASPER DRAGONFLY', 'CAT CONEHEADS',
       'CUPBOARD SINNERS', 'CYCLONE FAMILY', 'FEVER EMPIRE',
       'FIDELITY DEVIL', 'GREATEST NORTH', 'IRON MOON', 'JAWS HARRY',
       'LIES TREATMENT', 'MICROCOSMOS PARADISE', 'MOVIE SHAKESPEARE',
       'MUMMY CREATURES', 'ROAD ROXANNE', 'SIDE ARK', 'SINNERS ATLANTIS',
       'STRANGER STRANGERS', 'TADPOLE PARK', 'ATTACKS HATE',
       'BOILED DARES', 'EARLY HOME', 'ELIZABETH SHANE', 'GUMP DATE',
       'INNOCENT USUAL', 'INSIDER ARIZONA', 'JERK PAYCHECK', 'SLING LUKE',
       'STATE WASTELAND', 'SUN CONFESSIONS', 'TEQUILA PAST',
       'TUXEDO MILE', 'VIRGIN DAISY', 'ACE GOLDFINGER', 'CIRCUS YOUTH',
       'CONTROL ANTHEM', 'DARN FORRESTER', 'DYNAMITE TARZAN',
       'HATE HANDICAP', 'HOMICIDE PEACH', 'JACKET FRISCO', 'OSCAR GOLD',
       'PELICAN COMFORTS', 'PERSONAL LADYBUGS', 'RAGING AIRPLANE',
       'RUN PACIFIC', 'SADDLE ANTITRUST', 'SHAWSHANK BUBBLE', 'TAXI KICK',
       'BEDAZZLED MARRIED', 'DINOSAUR SECRETARY', 'EGG IGBY',
       'JUNGLE CLOSER', 'LOLA AGENT', 'LOSE INCH', 'LOVERBOY ATTACKS',
       'MODERN DORADO', 'ORIENT CLOSER', 'PAJAMA JAWBREAKER',
       'PATIENT SISTER', 'SAGEBRUSH CLUELESS', 'SHANGHAI TYCOON',
       'WASTELAND DIVINE', 'WINDOW SIDE', 'AGENT TRUMAN', 'BORN SPINAL',
       'CHICKEN HELLFIGHTERS', 'CLOSER BANG', 'HOME PITY',
       'KILL BROTHERHOOD', 'LADYBUGS ARMAGEDDON', 'PINOCCHIO SIMON',
       'PLUTO OLEANDER', 'PRIX UNDEFEATED', 'PULP BEVERLY',
       'RIVER OUTLAW', 'SLEEPING SUSPECTS', 'THIEF PELICAN',
       'TITANS JERK', 'UNBREAKABLE KARATE', 'EVOLUTION ALTER',
       'EXPECATIONS NATURAL', 'GANGS PRIDE', 'HOOK CHARIOTS',
       'JERICHO MULAN', 'JUMPING WRATH', 'ODDS BOOGIE', 'OUTLAW HANKY',
       'RIGHT CRANES', 'SEATTLE EXPECATIONS', 'SKY MIRACLE',
       'TROJAN TOMORROW', 'BLACKOUT PRIVATE', 'CANDIDATE PERDITION',
       'CANDLES GRAPES', 'DIVIDE MONSTER', 'GOLDMINE TYCOON',
       'HOCUS FRIDA', 'HOTEL HAPPINESS', 'IDENTITY LOVER',
       'MAGNOLIA FORRESTER', 'OZ LIAISONS', 'SONS INTERVIEW',
       'STREAK RIDGEMONT', 'VANISHED GARDEN', 'WOLVES DESIRE',
       'YOUTH KICK', 'BLUES INSTINCT', 'CASUALTIES ENCINO',
       'CONNECTION MICROCOSMOS', 'CROW GREASE', 'DOOM DANCING',
       'FREEDOM CLEOPATRA', 'HAUNTED ANTITRUST', 'MOB DUFFEL',
       'PANIC CLUB', 'PURE RUNNER', 'SEVEN SWARM', 'SPINAL ROCKY',
       'AMERICAN CIRCUS', 'BOOGIE AMELIE', 'CITIZEN SHREK',
       'DOUBLE WRATH', 'FICTION CHRISTMAS', 'MASSAGE IMAGE',
       'SABRINA MIDNIGHT', 'BOULEVARD MOB', 'BRANNIGAN SUNRISE',
       'BUCKET BROTHERHOOD', 'CRAFT OUTFIELD', 'FOOL MOCKINGBIRD',
       'GUYS FALCON', 'LONELY ELEPHANT', 'MADISON TRAP',
       'PITTSBURGH HUNCHBACK', 'RANGE MOONWALKER', 'SORORITY QUEEN',
       'TEXAS WATCH', 'TRAIN BUNCH', 'TRAMP OTHERS', 'CIDER DESIRE',
       'EFFECT GLADIATOR', 'FREDDY STORM', 'GAMES BOWFINGER',
       'GLADIATOR WESTWARD', 'MOCKINGBIRD HOLLYWOOD', 'PILOT HOOSIERS',
       'PRESIDENT BANG', 'SPIRIT FLINTSTONES', 'WONKA SEA',
       'ALICE FANTASIA', 'ATLANTIS CAUSE', 'BEACH HEARTBREAKERS',
       'DUCK RACER', 'GILMORE BOILED', 'LAMBS CINCINATTI', 'MAIDEN HOME',
       'MIDNIGHT WESTWARD', 'NEIGHBORS CHARADE', 'NONE SPIKING',
       'ROOM ROMAN', 'SHOOTIST SUPERFLY', 'SHRUNK DIVINE', 'SPY MILE',
       'TELEGRAPH VOYAGE', 'WAIT CIDER', 'WIFE TURN', 'ALADDIN CALENDAR',
       'CENTER DINOSAUR', 'CHAMBER ITALIAN', 'ENCOUNTERS CURTAIN',
       'EXPRESS LONELY', 'HOURS RAGE', 'HUSTLER PARTY', 'JEOPARDY ENCINO',
       'JOON NORTHWEST', 'MAGIC MALLRATS', 'MONEY HAROLD',
       'OUTBREAK DIVINE', 'REIGN GENTLEMEN', 'SUMMER SCARFACE',
       'BEETHOVEN EXORCIST', 'BEVERLY OUTLAW', 'BIRDS PERDITION',
       'DUDE BLINDNESS', 'DUMBO LUST', 'FAMILY SWEET',
       'FIREHOUSE VIETNAM', 'MATRIX SNOWMAN', 'SILENCE KANE',
       'CLYDE THEORY', 'CRAZY HOME', 'FACTORY DRAGON', 'FERRIS MOTHER',
       'GONE TROUBLE', 'GREEK EVERYONE', 'HOOSIERS BIRDCAGE', 'ROCKY WAR',
       'WISDOM WORKER', 'BEHAVIOR RUNAWAY', 'CHAPLIN LICENSE',
       'CRUSADE HONEY', 'DEEP CRUSADE', 'FEUD FROGMEN', 'FIDDLER LOST',
       'HAROLD FRENCH', 'PACKER MADIGAN', 'PEACH INNOCENT',
       'PEARL DESTINY', 'CHANCE RESURRECTION', 'DAUGHTER MADIGAN',
       'DREAM PICKUP', 'FATAL HAUNTED', 'FEATHERS METAL',
       'JUGGLER HARDLY', 'ROBBERS JOON', 'ROCK INSTINCT', 'TEEN APOLLO',
       'TEMPLE ATTRACTION', 'WATERSHIP FRONTIER', 'WHISPERER GIANT',
       'WRONG BEHAVIOR', 'DORADO NOTTING', 'GUNFIGHTER MUSSOLINI',
       'KANE EXORCIST', 'LOATHING LEGALLY', 'PEAK FOREVER',
       'REDEMPTION COMFORTS', 'SHIP WONDERLAND', 'SQUAD FISH',
       'VOLUME HOUSE', 'BALLROOM MOCKINGBIRD', 'NASH CHOCOLAT',
       'QUEST MUSSOLINI', 'ROCKETEER MOTHER', 'RUGRATS SHAKESPEARE',
       'ALIEN CENTER', 'BLINDNESS GUN', 'GUN BONNIE', 'HEAVEN FREEDOM',
       'INTOLERABLE INTENTIONS', 'MENAGERIE RUSHMORE',
       'TALENTED HOMICIDE', 'TRUMAN CRAZY', 'VALENTINE VANISHING',
       'WANDA CHAMBER', 'ALASKA PHANTOM', 'CARRIE BUNCH',
       'FIREBALL PHILADELPHIA', 'INTRIGUE WORST', 'METROPOLIS COMA',
       'PATHS CONTROL', 'STALLION SUNDANCE', 'STAMPEDE DISTURBING',
       'UNITED PILOT', 'WATCH TRACY', 'WORKING MICROCOSMOS',
       'ANALYZE HOOSIERS', 'CLUB GRAFFITI', 'CONGENIALITY QUEST',
       'DESIRE ALIEN', 'FRISCO FORREST', 'GENTLEMEN STAGE', 'IDAHO LOVE',
       'IDOLS SNATCHERS', 'KISSING DOLLS', 'LEGEND JEDI', 'PURPLE MOVIE',
       'TARZAN VIDEOTAPE', 'BILKO ANONYMOUS', 'BINGO TALENTED',
       'COMANCHEROS ENEMY', 'DESERT POSEIDON', 'EVERYONE CRAFT',
       'EXORCIST STING'], dtype=object)

In [184]:
len(df_old.title.unique())

614

In [185]:
len(df_film.title.unique())

1000

In [186]:
df_film.head()

,film_id,title,description,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes"
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes"
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes"
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,1,6,2.99,130,22.99,G,Deleted Scenes

In [190]:
lst = []

for i in range (len(df_old)):
    for j in range (len(df_film)):
        if df_old.loc[i, 'title'] == df_film.loc[j, 'title']:
            lst.append(df_film.loc[j, 'film_id'])
            break
            
lst[:10]

[1, 23, 25, 106, 140, 166, 277, 361, 438, 499]

In [191]:
len(df_old)

1000

In [192]:
len(lst)

1000

In [193]:
df_old.head()

  first_name last_name                  title  release_year  category_id
0   PENELOPE   GUINESS       ACADEMY DINOSAUR          2006            6
1   PENELOPE   GUINESS   ANACONDA CONFESSIONS          2006            2
2   PENELOPE   GUINESS            ANGELS LIFE          2006           13
3   PENELOPE   GUINESS  BULWORTH COMMANDMENTS          2006           10
4   PENELOPE   GUINESS          CHEAPER CLYDE          2006           14

In [194]:
df_old['film_id'] = lst

In [195]:
df_old.head()

,first_name,last_name,title,release_year,category_id,film_id
0,PENELOPE,GUINESS,ACADEMY DINOSAUR,2006,6,1
1,PENELOPE,GUINESS,ANACONDA CONFESSIONS,2006,2,23
2,PENELOPE,GUINESS,ANGELS LIFE,2006,13,25
3,PENELOPE,GUINESS,BULWORTH COMMANDMENTS,2006,10,106
4,PENELOPE,GUINESS,CHEAPER CLYDE,2006,14,140

In [197]:
df_old.release_year.value_counts()

2006    1000
Name: release_year, dtype: int64

In [198]:
df_old.category_id.value_counts()

15    79
1     77
2     75
7     74
13    73
6     72
11    64
9     64
3     62
14    58
8     57
4     55
12    54
16    52
5     46
10    38
Name: category_id, dtype: int64

In [199]:
df_old.head()

,first_name,last_name,title,release_year,category_id,film_id
0,PENELOPE,GUINESS,ACADEMY DINOSAUR,2006,6,1
1,PENELOPE,GUINESS,ANACONDA CONFESSIONS,2006,2,23
2,PENELOPE,GUINESS,ANGELS LIFE,2006,13,25
3,PENELOPE,GUINESS,BULWORTH COMMANDMENTS,2006,10,106
4,PENELOPE,GUINESS,CHEAPER CLYDE,2006,14,140

In [200]:
df_act.head()

   actor_id first_name     last_name        complete_name
0         1   PENELOPE       GUINESS     PENELOPE GUINESS
1         2       NICK      WAHLBERG        NICK WAHLBERG
2         3         ED         CHASE             ED CHASE
3         4   JENNIFER         DAVIS       JENNIFER DAVIS
4         5     JOHNNY  LOLLOBRIGIDA  JOHNNY LOLLOBRIGIDA

In [201]:
df_film.head()

,film_id,title,description,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes"
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes"
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes"
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,1,6,2.99,130,22.99,G,Deleted Scenes

In [202]:
df_cat.head()

   category_id       name
0            1     Action
1            2  Animation
2            3   Children
3            4   Classics
4            5     Comedy

In [203]:
df_old['complete_name'] = df_old.first_name + ' ' + df_old.last_name

In [204]:
df_old.head()

,first_name,last_name,title,release_year,category_id,film_id,complete_name
0,PENELOPE,GUINESS,ACADEMY DINOSAUR,2006,6,1,PENELOPE GUINESS
1,PENELOPE,GUINESS,ANACONDA CONFESSIONS,2006,2,23,PENELOPE GUINESS
2,PENELOPE,GUINESS,ANGELS LIFE,2006,13,25,PENELOPE GUINESS
3,PENELOPE,GUINESS,BULWORTH COMMANDMENTS,2006,10,106,PENELOPE GUINESS
4,PENELOPE,GUINESS,CHEAPER CLYDE,2006,14,140,PENELOPE GUINESS

In [205]:
len(df_old)

1000

In [206]:
df_act.head()

   actor_id first_name     last_name        complete_name
0         1   PENELOPE       GUINESS     PENELOPE GUINESS
1         2       NICK      WAHLBERG        NICK WAHLBERG
2         3         ED         CHASE             ED CHASE
3         4   JENNIFER         DAVIS       JENNIFER DAVIS
4         5     JOHNNY  LOLLOBRIGIDA  JOHNNY LOLLOBRIGIDA

In [207]:
len(df_act)

200

In [209]:
lst1 = []

for i in range (len(df_old)):
    for j in range (len(df_act)):
        if df_old.loc[i, 'complete_name'] == df_act.loc[j, 'complete_name']:
            lst1.append(df_act.loc[j, 'actor_id'])
            break
            
lst1[:10]

[1, 1, 1, 1, 1, 1, 1, 1, 1, 1]

In [210]:
df_old['actor_id'] = lst1

In [211]:
df_old.head()

,first_name,last_name,title,release_year,category_id,film_id,complete_name,actor_id
0,PENELOPE,GUINESS,ACADEMY DINOSAUR,2006,6,1,PENELOPE GUINESS,1
1,PENELOPE,GUINESS,ANACONDA CONFESSIONS,2006,2,23,PENELOPE GUINESS,1
2,PENELOPE,GUINESS,ANGELS LIFE,2006,13,25,PENELOPE GUINESS,1
3,PENELOPE,GUINESS,BULWORTH COMMANDMENTS,2006,10,106,PENELOPE GUINESS,1
4,PENELOPE,GUINESS,CHEAPER CLYDE,2006,14,140,PENELOPE GUINESS,1

### Revisión de columnas similares en los diferentes df

In [234]:
df_film.film_id.unique()

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  101,  102,  103,  104,  105,  106,  107,  108,  109,  110,
        111,  112,  113,  114,  115,  116,  117,  118,  119,  120,  121,
        122,  123,  124,  125,  126,  127,  128,  129,  130,  131,  132,
        133,  134,  135,  136,  137,  138,  139,  140,  141,  142,  143,
        144,  145,  146,  147,  148,  149,  150,  151,  152,  153,  154,
        155,  156,  157,  158,  159,  160,  161,  162,  163,  164,  165,
        166,  167,  168,  169,  170,  171,  172,  173,  174,  175,  176,
        177,  178,  179,  180,  181,  182,  183,  184,  185,  186,  187,
        188,  189,  190,  191,  192,  193,  194,  195,  196,  197,  198,
        199,  200,  201,  202,  203,  204,  205,  206,  207,  208,  209,
        210,  211,  212,  213,  214,  215,  216,  217,  218,  219,  220,
        221,  222,  223,  224,  225,  226,  227,  228,  229,  230,  231,
        232,  233,  234,  235,  236,  237,  238,  239,  240,  241,  242,
        243,  244,  245,  246,  247,  248,  249,  250,  251,  252,  253,
        254,  255,  256,  257,  258,  259,  260,  261,  262,  263,  264,
        265,  266,  267,  268,  269,  270,  271,  272,  273,  274,  275,
        276,  277,  278,  279,  280,  281,  282,  283,  284,  285,  286,
        287,  288,  289,  290,  291,  292,  293,  294,  295,  296,  297,
        298,  299,  300,  301,  302,  303,  304,  305,  306,  307,  308,
        309,  310,  311,  312,  313,  314,  315,  316,  317,  318,  319,
        320,  321,  322,  323,  324,  325,  326,  327,  328,  329,  330,
        331,  332,  333,  334,  335,  336,  337,  338,  339,  340,  341,
        342,  343,  344,  345,  346,  347,  348,  349,  350,  351,  352,
        353,  354,  355,  356,  357,  358,  359,  360,  361,  362,  363,
        364,  365,  366,  367,  368,  369,  370,  371,  372,  373,  374,
        375,  376,  377,  378,  379,  380,  381,  382,  383,  384,  385,
        386,  387,  388,  389,  390,  391,  392,  393,  394,  395,  396,
        397,  398,  399,  400,  401,  402,  403,  404,  405,  406,  407,
        408,  409,  410,  411,  412,  413,  414,  415,  416,  417,  418,
        419,  420,  421,  422,  423,  424,  425,  426,  427,  428,  429,
        430,  431,  432,  433,  434,  435,  436,  437,  438,  439,  440,
        441,  442,  443,  444,  445,  446,  447,  448,  449,  450,  451,
        452,  453,  454,  455,  456,  457,  458,  459,  460,  461,  462,
        463,  464,  465,  466,  467,  468,  469,  470,  471,  472,  473,
        474,  475,  476,  477,  478,  479,  480,  481,  482,  483,  484,
        485,  486,  487,  488,  489,  490,  491,  492,  493,  494,  495,
        496,  497,  498,  499,  500,  501,  502,  503,  504,  505,  506,
        507,  508,  509,  510,  511,  512,  513,  514,  515,  516,  517,
        518,  519,  520,  521,  522,  523,  524,  525,  526,  527,  528,
        529,  530,  531,  532,  533,  534,  535,  536,  537,  538,  539,
        540,  541,  542,  543,  544,  545,  546,  547,  548,  549,  550,
        551,  552,  553,  554,  555,  556,  557,  558,  559,  560,  561,
        562,  563,  564,  565,  566,  567,  568,  569,  570,  571,  572,
        573,  574,  575,  576,  577,  578,  579,  580,  581,  582,  583,
        584,  585,  586,  587,  588,  589,  590,  591,  592,  593,  594,
        595,  596,  597,  598,  599,  600,  601,  602,  603,  604,  605,
        606,  607,  608,  609,  610,  611,  612,  613,  614,  615,  616,
        617,  618,  619,  620,  621,  622,  623,  624,  625,  626,  627,
        628,  629,  630,  631,  632,  633,  634,  635,  636,  637,  638,
        639,  640,  641,  642,  643,  644,  645,  646,  647,  648,  649,
        650,  651,  652,  653,  654,  655,  656,  657,  658,  659,  660,
        661,  662,  663,  664,  665,  666,  667,  668,  669,  670,  671,
        672,  673,  674,  675,  676,  677,  678,  679,  680,  681,  682,
        683,  684,  685,  686,  687,  688,  689,  690,  691,  692,  693,
        694,  695,  696,  697,  698,  699,  700,  701,  702,  703,  704,
        705,  706,  707,  708,  709,  710,  711,  712,  713,  714,  715,
        716,  717,  718,  719,  720,  721,  722,  723,  724,  725,  726,
        727,  728,  729,  730,  731,  732,  733,  734,  735,  736,  737,
        738,  739,  740,  741,  742,  743,  744,  745,  746,  747,  748,
        749,  750,  751,  752,  753,  754,  755,  756,  757,  758,  759,
        760,  761,  762,  763,  764,  765,  766,  767,  768,  769,  770,
        771,  772,  773,  774,  775,  776,  777,  778,  779,  780,  781,
        782,  783,  784,  785,  786,  787,  788,  789,  790,  791,  792,
        793,  794,  795,  796,  797,  798,  799,  800,  801,  802,  803,
        804,  805,  806,  807,  808,  809,  810,  811,  812,  813,  814,
        815,  816,  817,  818,  819,  820,  821,  822,  823,  824,  825,
        826,  827,  828,  829,  830,  831,  832,  833,  834,  835,  836,
        837,  838,  839,  840,  841,  842,  843,  844,  845,  846,  847,
        848,  849,  850,  851,  852,  853,  854,  855,  856,  857,  858,
        859,  860,  861,  862,  863,  864,  865,  866,  867,  868,  869,
        870,  871,  872,  873,  874,  875,  876,  877,  878,  879,  880,
        881,  882,  883,  884,  885,  886,  887,  888,  889,  890,  891,
        892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
      dtype=int64)

In [235]:
df_inv.film_id.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,  27,
        28,  29,  30,  31,  32,  34,  35,  37,  39,  40,  42,  43,  44,
        45,  46,  47,  48,  49,  50,  51,  52,  53,  54,  55,  56,  57,
        58,  59,  60,  61,  62,  63,  64,  65,  66,  67,  68,  69,  70,
        71,  72,  73,  74,  75,  76,  77,  78,  79,  80,  81,  82,  83,
        84,  85,  86,  88,  89,  90,  91,  92,  93,  94,  95,  96,  97,
        98,  99, 100, 101, 102, 103, 104, 105, 106, 107, 109, 110, 111,
       112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124,
       125, 126, 127, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138,
       139, 140, 141, 142, 143, 145, 146, 147, 149, 150, 151, 152, 153,
       154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166,
       167, 168, 169, 170, 172, 173, 174, 175, 176, 177, 178, 179, 180,
       181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 193, 194,
       196, 197, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209,
       210, 211, 212, 213, 214, 215, 216, 218, 219, 220, 222, 223],
      dtype=int64)

In [236]:
df_inv.inventory_id.unique()

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  101,  102,  103,  104,  105,  106,  107,  108,  109,  110,
        111,  112,  113,  114,  115,  116,  117,  118,  119,  120,  121,
        122,  123,  124,  125,  126,  127,  128,  129,  130,  131,  132,
        133,  134,  135,  136,  137,  138,  139,  140,  141,  142,  143,
        144,  145,  146,  147,  148,  149,  150,  151,  152,  153,  154,
        155,  156,  157,  158,  159,  160,  161,  162,  163,  164,  165,
        166,  167,  168,  169,  170,  171,  172,  173,  174,  175,  176,
        177,  178,  179,  180,  181,  182,  183,  184,  185,  186,  187,
        188,  189,  190,  191,  192,  193,  194,  195,  196,  197,  198,
        199,  200,  201,  202,  203,  204,  205,  206,  207,  208,  209,
        210,  211,  212,  213,  214,  215,  216,  217,  218,  219,  220,
        221,  222,  223,  224,  225,  226,  227,  228,  229,  230,  231,
        232,  233,  234,  235,  236,  237,  238,  239,  240,  241,  242,
        243,  244,  245,  246,  247,  248,  249,  250,  251,  252,  253,
        254,  255,  256,  257,  258,  259,  260,  261,  262,  263,  264,
        265,  266,  267,  268,  269,  270,  271,  272,  273,  274,  275,
        276,  277,  278,  279,  280,  281,  282,  283,  284,  285,  286,
        287,  288,  289,  290,  291,  292,  293,  294,  295,  296,  297,
        298,  299,  300,  301,  302,  303,  304,  305,  306,  307,  308,
        309,  310,  311,  312,  313,  314,  315,  316,  317,  318,  319,
        320,  321,  322,  323,  324,  325,  326,  327,  328,  329,  330,
        331,  332,  333,  334,  335,  336,  337,  338,  339,  340,  341,
        342,  343,  344,  345,  346,  347,  348,  349,  350,  351,  352,
        353,  354,  355,  356,  357,  358,  359,  360,  361,  362,  363,
        364,  365,  366,  367,  368,  369,  370,  371,  372,  373,  374,
        375,  376,  377,  378,  379,  380,  381,  382,  383,  384,  385,
        386,  387,  388,  389,  390,  391,  392,  393,  394,  395,  396,
        397,  398,  399,  400,  401,  402,  403,  404,  405,  406,  407,
        408,  409,  410,  411,  412,  413,  414,  415,  416,  417,  418,
        419,  420,  421,  422,  423,  424,  425,  426,  427,  428,  429,
        430,  431,  432,  433,  434,  435,  436,  437,  438,  439,  440,
        441,  442,  443,  444,  445,  446,  447,  448,  449,  450,  451,
        452,  453,  454,  455,  456,  457,  458,  459,  460,  461,  462,
        463,  464,  465,  466,  467,  468,  469,  470,  471,  472,  473,
        474,  475,  476,  477,  478,  479,  480,  481,  482,  483,  484,
        485,  486,  487,  488,  489,  490,  491,  492,  493,  494,  495,
        496,  497,  498,  499,  500,  501,  502,  503,  504,  505,  506,
        507,  508,  509,  510,  511,  512,  513,  514,  515,  516,  517,
        518,  519,  520,  521,  522,  523,  524,  525,  526,  527,  528,
        529,  530,  531,  532,  533,  534,  535,  536,  537,  538,  539,
        540,  541,  542,  543,  544,  545,  546,  547,  548,  549,  550,
        551,  552,  553,  554,  555,  556,  557,  558,  559,  560,  561,
        562,  563,  564,  565,  566,  567,  568,  569,  570,  571,  572,
        573,  574,  575,  576,  577,  578,  579,  580,  581,  582,  583,
        584,  585,  586,  587,  588,  589,  590,  591,  592,  593,  594,
        595,  596,  597,  598,  599,  600,  601,  602,  603,  604,  605,
        606,  607,  608,  609,  610,  611,  612,  613,  614,  615,  616,
        617,  618,  619,  620,  621,  622,  623,  624,  625,  626,  627,
        628,  629,  630,  631,  632,  633,  634,  635,  636,  637,  638,
        639,  640,  641,  642,  643,  644,  645,  646,  647,  648,  649,
        650,  651,  652,  653,  654,  655,  656,  657,  658,  659,  660,
        661,  662,  663,  664,  665,  666,  667,  668,  669,  670,  671,
        672,  673,  674,  675,  676,  677,  678,  679,  680,  681,  682,
        683,  684,  685,  686,  687,  688,  689,  690,  691,  692,  693,
        694,  695,  696,  697,  698,  699,  700,  701,  702,  703,  704,
        705,  706,  707,  708,  709,  710,  711,  712,  713,  714,  715,
        716,  717,  718,  719,  720,  721,  722,  723,  724,  725,  726,
        727,  728,  729,  730,  731,  732,  733,  734,  735,  736,  737,
        738,  739,  740,  741,  742,  743,  744,  745,  746,  747,  748,
        749,  750,  751,  752,  753,  754,  755,  756,  757,  758,  759,
        760,  761,  762,  763,  764,  765,  766,  767,  768,  769,  770,
        771,  772,  773,  774,  775,  776,  777,  778,  779,  780,  781,
        782,  783,  784,  785,  786,  787,  788,  789,  790,  791,  792,
        793,  794,  795,  796,  797,  798,  799,  800,  801,  802,  803,
        804,  805,  806,  807,  808,  809,  810,  811,  812,  813,  814,
        815,  816,  817,  818,  819,  820,  821,  822,  823,  824,  825,
        826,  827,  828,  829,  830,  831,  832,  833,  834,  835,  836,
        837,  838,  839,  840,  841,  842,  843,  844,  845,  846,  847,
        848,  849,  850,  851,  852,  853,  854,  855,  856,  857,  858,
        859,  860,  861,  862,  863,  864,  865,  866,  867,  868,  869,
        870,  871,  872,  873,  874,  875,  876,  877,  878,  879,  880,
        881,  882,  883,  884,  885,  886,  887,  888,  889,  890,  891,
        892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
      dtype=int64)

In [241]:
df_inv.inventory_id.value_counts().head()

1      1
672    1
659    1
660    1
661    1
Name: inventory_id, dtype: int64

In [238]:
len(df_inv.inventory_id.unique())

1000

In [239]:
len(df_ren.inventory_id.unique())

1000

In [237]:
df_ren.inventory_id.unique()

array([ 367, 1525, 1711, 2452, 2079, 2792, 3995, 2346, 2580, 1824, 4443,
       1584, 2294, 2701, 3049,  389,  830, 3376, 1941, 3517,  146,  727,
       4441, 3273, 3961, 4371, 1225, 4068,  611, 3744, 4482, 3832, 1681,
       2613, 1286, 1308,  403, 2540, 4466, 2638, 1761,  380, 2578, 3098,
       1853, 3318, 2211, 1780, 2965, 1983, 1257, 4017, 1255, 2787, 1139,
       1352, 3938, 3050, 2884,  330, 4210,  261, 4008,   79, 3552, 1162,
        239, 4029, 3207, 2168, 2408, 2260,  517, 1744, 3393, 3021, 1303,
       4067, 3299, 2478, 2610, 1388,  466, 1829,  470, 2275, 1586, 2221,
       2181, 2984,  139,  775, 4360, 1675,  178, 3418, 1283, 2970,  535,
       2599,  617,  373, 3343, 4281,  794, 3627, 2833, 3289, 1044, 4108,
       3725, 2153, 2963, 4502,  749, 4453, 4278,  872, 1359,   37, 1053,
       2908, 1795,  212,  952, 2047, 2026, 4322, 4154, 3990,  815, 3367,
        399, 2272,  103, 2296, 2591, 4134,  327,  655,  811, 4407,  847,
       1689, 3905, 1431,  633, 4252, 1084,  909, 2942, 2622, 3888, 1354,
        288, 3193,  887, 2395, 3453, 1885, 2941, 1229, 2306, 1070, 2735,
       3894,  865, 2714, 1758, 3688, 4483, 2873, 3596, 3954, 4346,  851,
       3545, 1489, 2575, 2752, 2417, 4396, 2877, 1970, 2598, 1799, 4004,
       3342,  984, 3962, 4365, 1897, 3900, 1337,  506,  190, 4212, 1789,
       2135, 3926,  776,  674, 3374, 1842,  303, 1717,  102, 3669,  729,
       1801, 4005,  764, 1505, 1453,  679, 1398, 4395, 2291, 3074, 1259,
       3578, 2745, 3121, 4285,  651, 4181,  214,  511, 1131, 1085, 4032,
       2945,  715, 1321, 3537, 1265,  241,  503,  131, 3420, 4438, 2095,
       1721, 1041, 3045, 2829, 4095, 1913, 2428,  368, 4352, 1203, 2969,
       1835, 3264, 3194, 2570, 3534,   30,  435, 1369, 4261, 1160, 2069,
       2276, 3303, 1206, 1714, 3501,  207, 2388,  971, 1590,  656, 1718,
       1221, 1409,  182,  661, 1896, 1208, 4486, 3530,  350, 2486,  314,
       3631, 3546, 2449, 2776,  485, 4264, 1828, 2751, 4030, 3878, 1594,
       1083, 4376,  249, 3448, 2921, 1111, 1701, 2665, 2781, 1097,  187,
       1946,  593, 2830, 2008, 4156, 2851, 2847, 3828,   26, 2559, 3024,
       1090, 4556, 2362, 3364, 2510, 3979, 2678, 2524, 2659, 1536, 1872,
       1529, 4001, 3973, 1411, 1811,  751, 2596, 2410,  946, 4168, 4019,
       3301, 2327, 1396, 4319, 1625, 1825, 2920, 2756, 3371, 4369, 3989,
       2058,  141, 2868, 4417, 1925, 1156, 3489,    6, 2324, 4282,  833,
       2887,  360, 3437, 1247,  944, 3347, 1235, 4089, 1649, 4420, 1815,
       3197, 3012, 2242, 3462, 1777, 2748, 4358,  955,  910, 1565, 1288,
       2684,  434,  691, 3759, 2193,  263,  145, 1890,  752, 1020, 4193,
       1686,  553,  258, 2179,  461, 3983, 1293, 4090, 2136, 1077, 1438,
       3652, 4010, 1434, 1400, 3516, 1019, 3698, 2371, 2253, 3063, 2514,
        619, 2985, 1152, 1783, 2815, 1518, 1103, 1677, 3349,  129, 1920,
       4507, 1119, 4364, 3360, 3328, 4317, 1800, 4260,  354, 4452, 1578,
       1457, 2021,  723, 1757, 1955, 3890, 2671, 2469, 1343,  205, 2993,
       4425, 3499, 3344, 1699, 2368, 3350,  597, 4238, 2077, 2314,  826,
       1313,   20, 1786,  339, 2656, 4463, 1613, 2872, 1338,  802, 1474,
       2520, 2451, 2437,  424, 2060, 2108,   72, 4178, 1510, 3115, 2392,
       1822, 3774,  393, 1940, 3524, 1326, 1999,  184, 1850, 1007, 1785,
       2636,  458, 2381, 4500,  601, 3131, 3005, 2086,   71,  667, 3621,
       4179, 3416, 4338, 3827, 2176,  225, 1697, 3369, 4357,  234, 4087,
       3564, 3845, 2397, 3195, 1905, 1962, 1817, 1387,  266, 1655, 2624,
       3332, 1113, 2793, 4306,  992, 4209, 2962, 3095, 2262, 3427, 3321,
       1662, 4444,  530, 2964, 1086,  487, 2065, 3704, 1818, 3632, 3119,
         23, 1349, 1951, 4397, 1814,  158, 4163, 1227,  644,  928, 3390,
         53, 2973, 1494, 4330, 3308, 2232, 4534, 1122, 4250, 1899, 4020,
       3883, 4451, 1866,  375, 2938, 3481, 3515, 1380, 4579, 2679, 1833,
       3544,  898, 1413,   95, 4231,  473,  377,  638, 1810, 2766,  595,
        821, 4469,  599, 4136, 1567, 3225, 1300, 3248, 1585, 4232, 3509,
       2561, 4254, 2944, 3642, 1230, 2180,  270,  280, 3397,  989, 4142,
       4445, 2482, 2444, 1144, 2363, 1222, 3660, 2889,  452,  425, 2513,
       1527, 1254, 2465, 1287,   58, 2630, 1648, 4213, 1581, 2685, 4204,
        495, 3548,  140, 3105, 4304, 3128, 1922, 3435, 3476, 1781, 4384,
        739, 1201,  126, 2312,  331, 2846,  848, 3226, 1382, 1414, 2247,
       2968, 3997,   87, 1012, 3075,  797, 3528, 3677,  227, 1027,  697,
       1769, 1150, 1273, 2329, 4558, 3741,  907, 4147, 3346, 3160, 2038,
       3242, 1385, 2441, 1731, 4135,  742, 2646, 4034,  800,  635,  592,
       4276, 2076, 3949, 1412,  130,  500,  372, 2556, 1123, 2628, 2809,
       2278,  819, 3133, 2459,  194, 4581, 4191, 3664, 2010, 2030,   85,
       1383, 1736,  267, 3687, 1116, 4540, 3407, 3770, 4088,  933, 1629,
        242, 1688, 3473, 4124, 2530, 2951, 3084, 3421, 3689,  769, 2284,
       1183,  600, 3189,  273, 2528, 3722,  581, 4272, 1993, 2803, 1146,
        730, 2711, 1720, 1021,  734, 3090, 3152, 1067, 1191, 2367, 3250,
       2342, 3683, 2022, 1069,  515, 2154,  687, 2895, 1523, 2491,  353,
       3319,  245, 1188, 1197, 4339,  451, 1816,  533, 1919,   88, 2255,
       3046, 2936,   39, 2637, 3919,  763,  708, 2858, 1554, 2841,  379,
       1995,  609, 2697, 1446, 1102, 1713,  441, 1642,  785, 1602, 3909,
       3132, 2386, 2195, 1928, 2114, 2533, 4419, 1099, 4554, 1572, 3757,
        630,  186, 4106,  623, 2584, 3380, 2634, 3249, 3518,  712, 2263,
         62, 2468, 1684, 3464, 3912, 1381, 2898, 3628,  299, 3140,  977,
       2859, 1886, 4049, 4318, 2328, 2214,  536, 2001,  938, 4387, 1363,
       2424, 2390, 2780, 1622, 3693,  921, 2527, 3969, 2569, 1258, 3032,
        578, 3711, 1186, 3999, 2777, 3183, 2867, 3389, 3604, 3399, 2903,
       4573, 3904, 4568,  363, 1428, 1471,  886, 4265, 4021, 1819,  602,
       3841, 2271, 4079,  646, 4356, 2727,  387, 1299, 1464, 2611,  471,
       3260, 1118, 2744, 2817, 1334, 3497, 1096, 3543,  760, 1514, 2423,
       2466, 4372, 1862, 3320, 4427, 3775, 2601, 1404, 3200, 3213, 1393,
       1859, 1290, 3629,  818, 4052, 3860, 1827, 2442, 1884, 3279, 3203,
       4327, 1158,  246, 4296, 2835, 3384,  719, 3672, 3595, 2421,  901,
       1054, 1521, 1314, 1278, 3630, 4279, 3737,  151, 1441, 1264, 4478,
        585, 2202,  491, 1395, 4389, 2194, 1231, 4140,  647, 4428,  548,
       3108, 1966, 3293, 4535, 1921,  657, 3363, 1294, 1954,  119,  443,
       1520, 2911,    2, 1914, 2617, 3109, 2290, 2029,  407, 3917, 4169,
       2913, 3560,   63, 2305, 1573, 4045,  390, 1364, 4388, 4171, 2863,
       3572, 2080, 2798,   17, 2075, 4243, 3395, 4433, 1774, 1498],
      dtype=int64)

In [245]:
df_ren.inventory_id.value_counts()

367     1
1769    1
1414    1
2247    1
2968    1
3997    1
87      1
1012    1
3075    1
797     1
3528    1
3677    1
227     1
1027    1
697     1
1150    1
742     1
1273    1
2329    1
4558    1
3741    1
907     1
4147    1
3346    1
3160    1
2038    1
3242    1
1385    1
2441    1
1731    1
1382    1
3226    1
848     1
2846    1
1527    1
1254    1
2465    1
1287    1
58      1
2630    1
1648    1
4213    1
1581    1
2685    1
4204    1
495     1
3548    1
140     1
3105    1
4304    1
3128    1
1922    1
3435    1
3476    1
1781    1
4384    1
739     1
1201    1
126     1
2312    1
331     1
4135    1
2646    1
1525    1
3689    1
3407    1
3770    1
4088    1
933     1
1629    1
242     1
1688    1
3473    1
4124    1
2530    1
2951    1
3084    1
3421    1
769     1
4034    1
2284    1
1183    1
600     1
3189    1
273     1
2528    1
3722    1
581     1
4272    1
1993    1
2803    1
1146    1
730     1
4540    1
1116    1
3687    1
267     1
800     1
635     1
592     1
4276    1
2076    1
3949    1
1412    1
130     1
500     1
372     1
2556    1
1123    1
2628    1
2809    1
2278    1
819     1
3133    1
2459    1
194     1
4581    1
4191    1
3664    1
2010    1
2030    1
85      1
1383    1
1736    1
2513    1
425     1
452     1
3704    1
4209    1
2962    1
3095    1
2262    1
3427    1
3321    1
1662    1
4444    1
530     1
2964    1
1086    1
487     1
2065    1
1818    1
2889    1
3632    1
3119    1
23      1
1349    1
1951    1
4397    1
1814    1
158     1
4163    1
1227    1
644     1
928     1
3390    1
992     1
4306    1
2793    1
1113    1
2086    1
71      1
667     1
3621    1
4179    1
3416    1
4338    1
3827    1
2176    1
225     1
1697    1
3369    1
4357    1
234     1
4087    1
3564    1
3845    1
2397    1
3195    1
1905    1
1962    1
1817    1
1387    1
266     1
1655    1
2624    1
3332    1
53      1
2973    1
1494    1
821     1
599     1
4136    1
1567    1
3225    1
1300    1
3248    1
1585    1
4232    1
3509    1
2561    1
4254    1
2944    1
3642    1
1230    1
2180    1
270     1
280     1
3397    1
989     1
4142    1
4445    1
2482    1
2444    1
1144    1
2363    1
1222    1
3660    1
4469    1
595     1
4330    1
2766    1
3308    1
2232    1
4534    1
1122    1
4250    1
1899    1
4020    1
3883    1
4451    1
1866    1
375     1
2938    1
3481    1
3515    1
1380    1
4579    1
2679    1
1833    1
3544    1
898     1
1413    1
95      1
4231    1
473     1
377     1
638     1
1810    1
2711    1
1720    1
1021    1
3279    1
1404    1
3200    1
3213    1
1393    1
1859    1
1290    1
3629    1
818     1
4052    1
3860    1
1827    1
2442    1
1884    1
3203    1
4265    1
4327    1
1158    1
246     1
4296    1
2835    1
3384    1
719     1
3672    1
3595    1
2421    1
901     1
1054    1
1521    1
2601    1
3775    1
4427    1
3320    1
1819    1
602     1
3841    1
2271    1
4079    1
646     1
4356    1
2727    1
387     1
1299    1
1464    1
2611    1
471     1
3260    1
1118    1
2744    1
2817    1
1334    1
3497    1
1096    1
3543    1
760     1
1514    1
2423    1
2466    1
4372    1
1862    1
1314    1
1278    1
3630    1
2       1
2617    1
3109    1
2290    1
2029    1
407     1
3917    1
4169    1
2913    1
3560    1
63      1
2305    1
1573    1
4045    1
390     1
1364    1
4388    1
4171    1
2863    1
3572    1
2080    1
2798    1
17      1
2075    1
4243    1
3395    1
4433    1
1774    1
1914    1
2911    1
4279    1
1520    1
3737    1
151     1
1441    1
1264    1
4478    1
585     1
2202    1
491     1
1395    1
4389    1
2194    1
1231    1
4140    1
647     1
4428    1
548     1
3108    1
1966    1
3293    1
4535    1
1921    1
657     1
3363    1
1294    1
1954    1
119     1
443     1
4021    1
886     1
734     1
1713    1
2637    1
3919    1
763     1
708     1
2858    1
1554    1
2841    1
379     1
1995    1
609     1
2697    1
1446    1
1102    1
441     1
1471    1
1642    1
785     1
1602    1
3909    1
3132    1
2386    1
2195    1
1928    1
2114    1
2533    1
4419    1
1099    1
4554    1
39      1
2936    1
3046    1
2255    1
3090    1
3152    1
1067    1
1191    1
2367    1
3250    1
2342    1
3683    1
2022    1
1069    1
515     1
2154    1
687     1
2895    1
1523    1
2491    1
353     1
3319    1
245     1
1188    1
1197    1
4339    1
451     1
1816    1
533     1
1919    1
88      1
1572    1
3757    1
630     1
4387    1
2424    1
2390    1
2780    1
1622    1
3693    1
921     1
2527    1
3969    1
2569    1
1258    1
3032    1
578     1
3711    1
1186    1
3999    1
2777    1
3183    1
2867    1
3389    1
3604    1
3399    1
2903    1
4573    1
3904    1
4568    1
363     1
1428    1
1363    1
938     1
186     1
2001    1
4106    1
623     1
2584    1
3380    1
2634    1
3249    1
3518    1
712     1
2263    1
62      1
2468    1
1684    1
3464    1
3912    1
1381    1
2898    1
3628    1
299     1
3140    1
977     1
2859    1
1886    1
4049    1
4318    1
2328    1
2214    1
536     1
3005    1
3131    1
601     1
2873    1
3453    1
1885    1
2941    1
1229    1
2306    1
1070    1
2735    1
3894    1
865     1
2714    1
1758    1
3688    1
4483    1
3596    1
2047    1
3954    1
4346    1
851     1
3545    1
1489    1
2575    1
2752    1
2417    1
4396    1
2877    1
1970    1
2598    1
1799    1
2395    1
887     1
3193    1
288     1
4322    1
4154    1
3990    1
815     1
3367    1
399     1
2272    1
103     1
2296    1
2591    1
4134    1
327     1
655     1
811     1
4407    1
847     1
1689    1
3905    1
1431    1
633     1
4252    1
1084    1
909     1
2942    1
2622    1
3888    1
1354    1
4004    1
3342    1
984     1
1259    1
2745    1
3121    1
4285    1
651     1
4181    1
214     1
511     1
1131    1
1085    1
4032    1
2945    1
715     1
1321    1
3537    1
1265    1
241     1
503     1
131     1
3420    1
4438    1
2095    1
1721    1
1041    1
3045    1
2829    1
4095    1
1913    1
3578    1
3074    1
3962    1
2291    1
4365    1
1897    1
3900    1
1337    1
506     1
190     1
4212    1
1789    1
2135    1
3926    1
776     1
674     1
3374    1
1842    1
303     1
1717    1
102     1
3669    1
729     1
1801    1
4005    1
764     1
1505    1
1453    1
679     1
1398    1
4395    1
2026    1
952     1
368     1
2211    1
2613    1
1286    1
1308    1
403     1
2540    1
4466    1
2638    1
1761    1
380     1
2578    1
3098    1
1853    1
3318    1
1780    1
212     1
2965    1
1983    1
1257    1
4017    1
1255    1
2787    1
1139    1
1352    1
3938    1
3050    1
2884    1
330     1
4210    1
1681    1
3832    1
4482    1
3744    1
1711    1
2452    1
2079    1
2792    1
3995    1
2346    1
2580    1
1824    1
4443    1
1584    1
2294    1
2701    1
3049    1
389     1
830     1
3376    1
1941    1
3517    1
146     1
727     1
4441    1
3273    1
3961    1
4371    1
1225    1
4068    1
611     1
261     1
4008    1
79      1
178     1
1283    1
2970    1
535     1
2599    1
617     1
373     1
3343    1
4281    1
794     1
3627    1
2833    1
3289    1
1044    1
4108    1
3725    1
2153    1
2963    1
4502    1
749     1
4453    1
4278    1
872     1
1359    1
37      1
1053    1
2908    1
1795    1
3418    1
1675    1
3552    1
4360    1
1162    1
239     1
4029    1
3207    1
2168    1
2408    1
2260    1
517     1
1744    1
3393    1
3021    1
1303    1
4067    1
3299    1
2478    1
2610    1
1388    1
466     1
1829    1
470     1
2275    1
1586    1
2221    1
2181    1
2984    1
139     1
775     1
2428    1
4352    1
4500    1
1783    1
4010    1
1434    1
1400    1
3516    1
1019    1
3698    1
2371    1
2253    1
3063    1
2514    1
619     1
2985    1
1152    1
2815    1
3012    1
1518    1
1103    1
1677    1
3349    1
129     1
1920    1
4507    1
1119    1
4364    1
3360    1
3328    1
4317    1
1800    1
3652    1
1438    1
1077    1
2136    1
3462    1
1777    1
2748    1
4358    1
955     1
910     1
1565    1
1288    1
2684    1
434     1
691     1
3759    1
2193    1
263     1
145     1
1890    1
752     1
1020    1
4193    1
1686    1
553     1
258     1
2179    1
461     1
3983    1
1293    1
4090    1
4260    1
354     1
4452    1
2872    1
802     1
1474    1
2520    1
2451    1
2437    1
424     1
2060    1
2108    1
72      1
4178    1
1510    1
3115    1
2392    1
1822    1
3774    1
393     1
1940    1
3524    1
1326    1
1999    1
184     1
1850    1
1007    1
1785    1
2636    1
458     1
2381    1
1338    1
1613    1
1578    1
4463    1
1457    1
2021    1
723     1
1757    1
1955    1
3890    1
2671    1
2469    1
1343    1
205     1
2993    1
4425    1
3499    1
3344    1
1699    1
2368    1
3350    1
597     1
4238    1
2077    1
2314    1
826     1
1313    1
20      1
1786    1
339     1
2656    1
2242    1
3197    1
1203    1
1594    1
350     1
2486    1
314     1
3631    1
3546    1
2449    1
2776    1
485     1
4264    1
1828    1
2751    1
4030    1
3878    1
1083    1
1815    1
4376    1
249     1
3448    1
2921    1
1111    1
1701    1
2665    1
2781    1
1097    1
187     1
1946    1
593     1
2830    1
3530    1
4486    1
1208    1
1896    1
2969    1
1835    1
3264    1
3194    1
2570    1
3534    1
30      1
435     1
1369    1
4261    1
1160    1
2069    1
2276    1
3303    1
1206    1
1714    1
3501    1
207     1
2388    1
971     1
1590    1
656     1
1718    1
1221    1
1409    1
182     1
661     1
2008    1
4156    1
2851    1
4319    1
1825    1
2920    1
2756    1
3371    1
4369    1
3989    1
2058    1
141     1
2868    1
4417    1
1925    1
1156    1
3489    1
6       1
2324    1
4282    1
833     1
2887    1
360     1
3437    1
1247    1
944     1
3347    1
1235    1
4089    1
1649    1
4420    1
1625    1
1396    1
2847    1
2327    1
3828    1
26      1
2559    1
3024    1
1090    1
4556    1
2362    1
3364    1
2510    1
3979    1
2678    1
2524    1
2659    1
1536    1
1872    1
1529    1
4001    1
3973    1
1411    1
1811    1
751     1
2596    1
2410    1
946     1
4168    1
4019    1
3301    1
1498    1
Name: inventory_id, dtype: int64

In [246]:
df_film.film_id.unique()

array([   1,    2,    3,    4,    5,    6,    7,    8,    9,   10,   11,
         12,   13,   14,   15,   16,   17,   18,   19,   20,   21,   22,
         23,   24,   25,   26,   27,   28,   29,   30,   31,   32,   33,
         34,   35,   36,   37,   38,   39,   40,   41,   42,   43,   44,
         45,   46,   47,   48,   49,   50,   51,   52,   53,   54,   55,
         56,   57,   58,   59,   60,   61,   62,   63,   64,   65,   66,
         67,   68,   69,   70,   71,   72,   73,   74,   75,   76,   77,
         78,   79,   80,   81,   82,   83,   84,   85,   86,   87,   88,
         89,   90,   91,   92,   93,   94,   95,   96,   97,   98,   99,
        100,  101,  102,  103,  104,  105,  106,  107,  108,  109,  110,
        111,  112,  113,  114,  115,  116,  117,  118,  119,  120,  121,
        122,  123,  124,  125,  126,  127,  128,  129,  130,  131,  132,
        133,  134,  135,  136,  137,  138,  139,  140,  141,  142,  143,
        144,  145,  146,  147,  148,  149,  150,  151,  152,  153,  154,
        155,  156,  157,  158,  159,  160,  161,  162,  163,  164,  165,
        166,  167,  168,  169,  170,  171,  172,  173,  174,  175,  176,
        177,  178,  179,  180,  181,  182,  183,  184,  185,  186,  187,
        188,  189,  190,  191,  192,  193,  194,  195,  196,  197,  198,
        199,  200,  201,  202,  203,  204,  205,  206,  207,  208,  209,
        210,  211,  212,  213,  214,  215,  216,  217,  218,  219,  220,
        221,  222,  223,  224,  225,  226,  227,  228,  229,  230,  231,
        232,  233,  234,  235,  236,  237,  238,  239,  240,  241,  242,
        243,  244,  245,  246,  247,  248,  249,  250,  251,  252,  253,
        254,  255,  256,  257,  258,  259,  260,  261,  262,  263,  264,
        265,  266,  267,  268,  269,  270,  271,  272,  273,  274,  275,
        276,  277,  278,  279,  280,  281,  282,  283,  284,  285,  286,
        287,  288,  289,  290,  291,  292,  293,  294,  295,  296,  297,
        298,  299,  300,  301,  302,  303,  304,  305,  306,  307,  308,
        309,  310,  311,  312,  313,  314,  315,  316,  317,  318,  319,
        320,  321,  322,  323,  324,  325,  326,  327,  328,  329,  330,
        331,  332,  333,  334,  335,  336,  337,  338,  339,  340,  341,
        342,  343,  344,  345,  346,  347,  348,  349,  350,  351,  352,
        353,  354,  355,  356,  357,  358,  359,  360,  361,  362,  363,
        364,  365,  366,  367,  368,  369,  370,  371,  372,  373,  374,
        375,  376,  377,  378,  379,  380,  381,  382,  383,  384,  385,
        386,  387,  388,  389,  390,  391,  392,  393,  394,  395,  396,
        397,  398,  399,  400,  401,  402,  403,  404,  405,  406,  407,
        408,  409,  410,  411,  412,  413,  414,  415,  416,  417,  418,
        419,  420,  421,  422,  423,  424,  425,  426,  427,  428,  429,
        430,  431,  432,  433,  434,  435,  436,  437,  438,  439,  440,
        441,  442,  443,  444,  445,  446,  447,  448,  449,  450,  451,
        452,  453,  454,  455,  456,  457,  458,  459,  460,  461,  462,
        463,  464,  465,  466,  467,  468,  469,  470,  471,  472,  473,
        474,  475,  476,  477,  478,  479,  480,  481,  482,  483,  484,
        485,  486,  487,  488,  489,  490,  491,  492,  493,  494,  495,
        496,  497,  498,  499,  500,  501,  502,  503,  504,  505,  506,
        507,  508,  509,  510,  511,  512,  513,  514,  515,  516,  517,
        518,  519,  520,  521,  522,  523,  524,  525,  526,  527,  528,
        529,  530,  531,  532,  533,  534,  535,  536,  537,  538,  539,
        540,  541,  542,  543,  544,  545,  546,  547,  548,  549,  550,
        551,  552,  553,  554,  555,  556,  557,  558,  559,  560,  561,
        562,  563,  564,  565,  566,  567,  568,  569,  570,  571,  572,
        573,  574,  575,  576,  577,  578,  579,  580,  581,  582,  583,
        584,  585,  586,  587,  588,  589,  590,  591,  592,  593,  594,
        595,  596,  597,  598,  599,  600,  601,  602,  603,  604,  605,
        606,  607,  608,  609,  610,  611,  612,  613,  614,  615,  616,
        617,  618,  619,  620,  621,  622,  623,  624,  625,  626,  627,
        628,  629,  630,  631,  632,  633,  634,  635,  636,  637,  638,
        639,  640,  641,  642,  643,  644,  645,  646,  647,  648,  649,
        650,  651,  652,  653,  654,  655,  656,  657,  658,  659,  660,
        661,  662,  663,  664,  665,  666,  667,  668,  669,  670,  671,
        672,  673,  674,  675,  676,  677,  678,  679,  680,  681,  682,
        683,  684,  685,  686,  687,  688,  689,  690,  691,  692,  693,
        694,  695,  696,  697,  698,  699,  700,  701,  702,  703,  704,
        705,  706,  707,  708,  709,  710,  711,  712,  713,  714,  715,
        716,  717,  718,  719,  720,  721,  722,  723,  724,  725,  726,
        727,  728,  729,  730,  731,  732,  733,  734,  735,  736,  737,
        738,  739,  740,  741,  742,  743,  744,  745,  746,  747,  748,
        749,  750,  751,  752,  753,  754,  755,  756,  757,  758,  759,
        760,  761,  762,  763,  764,  765,  766,  767,  768,  769,  770,
        771,  772,  773,  774,  775,  776,  777,  778,  779,  780,  781,
        782,  783,  784,  785,  786,  787,  788,  789,  790,  791,  792,
        793,  794,  795,  796,  797,  798,  799,  800,  801,  802,  803,
        804,  805,  806,  807,  808,  809,  810,  811,  812,  813,  814,
        815,  816,  817,  818,  819,  820,  821,  822,  823,  824,  825,
        826,  827,  828,  829,  830,  831,  832,  833,  834,  835,  836,
        837,  838,  839,  840,  841,  842,  843,  844,  845,  846,  847,
        848,  849,  850,  851,  852,  853,  854,  855,  856,  857,  858,
        859,  860,  861,  862,  863,  864,  865,  866,  867,  868,  869,
        870,  871,  872,  873,  874,  875,  876,  877,  878,  879,  880,
        881,  882,  883,  884,  885,  886,  887,  888,  889,  890,  891,
        892,  893,  894,  895,  896,  897,  898,  899,  900,  901,  902,
        903,  904,  905,  906,  907,  908,  909,  910,  911,  912,  913,
        914,  915,  916,  917,  918,  919,  920,  921,  922,  923,  924,
        925,  926,  927,  928,  929,  930,  931,  932,  933,  934,  935,
        936,  937,  938,  939,  940,  941,  942,  943,  944,  945,  946,
        947,  948,  949,  950,  951,  952,  953,  954,  955,  956,  957,
        958,  959,  960,  961,  962,  963,  964,  965,  966,  967,  968,
        969,  970,  971,  972,  973,  974,  975,  976,  977,  978,  979,
        980,  981,  982,  983,  984,  985,  986,  987,  988,  989,  990,
        991,  992,  993,  994,  995,  996,  997,  998,  999, 1000],
      dtype=int64)

In [258]:
(df_old.film_id.unique())

array([  1,  23,  25, 106, 140, 166, 277, 361, 438, 499, 506, 509, 605,
       635, 749, 832, 939, 970, 980,   3,  31,  47, 105, 132, 145, 226,
       249, 314, 321, 357, 369, 399, 458, 481, 485, 518, 540, 550, 555,
       561, 742, 754, 811, 958,  17,  40,  42,  87, 111, 185, 289, 329,
       336, 341, 393, 441, 453, 480, 539, 618, 685, 827, 966, 967, 971,
       996,  56,  62,  79, 355, 379, 398, 463, 490, 616, 691, 712, 714,
       721, 798, 858, 909, 924,  19,  54,  85, 146, 171, 172, 202, 203,
       286, 288, 316, 340, 375, 383, 392, 411, 503, 535, 571, 650, 665,
       687, 730, 732, 817, 841, 865,  29,  53,  60,  70, 112, 164, 165,
       193, 256, 451, 517, 519, 692, 826, 892, 902, 994,  27,  35,  67,
        96, 170, 173, 217, 218, 225, 292, 351, 414, 554, 633, 637, 758,
       766, 770, 805, 806, 846, 900, 901, 910, 957, 959, 115, 158, 179,
       195, 205, 255, 263, 396, 523, 532, 752, 769, 771, 859, 895, 936,
        30,  74, 147, 148, 191, 200, 204, 434, 510, 514, 552, 671, 697,
       722, 815, 873, 889, 903, 926, 964, 974,   9, 236, 251, 366, 477,
       522, 530, 587, 694, 703, 716, 782, 914, 929, 930, 983, 118, 281,
       283, 348, 364, 395, 429, 433, 567, 597, 636, 709, 850, 854, 888,
       896, 928, 938, 969, 988,  16,  34,  37,  91,  92, 107, 155, 177,
       208, 213, 216, 243, 344, 400, 416, 420, 457, 513, 593, 631, 672,
       728, 812, 838, 871, 880, 945,  45, 110, 144, 154, 162, 254, 337,
       346, 381, 385, 427, 456, 515, 524, 528, 588, 600, 718, 729, 816,
       833, 843, 897, 998, 187, 232, 241, 253, 258, 284, 370, 415, 417,
       418, 454, 472, 475, 495, 536, 537, 612, 688, 759, 764, 847, 856,
       890, 908, 919, 948,  89, 108, 125, 275, 280, 326, 342, 445, 500,
       502, 541, 553, 594, 626, 745, 783, 795, 886, 949, 968, 985,  80,
       101, 121, 221, 267, 269, 271, 287, 345, 455, 548, 582, 583, 717,
       779, 119, 124, 127, 199, 201, 310, 313, 378, 469, 478, 521, 573,
       603, 606, 734, 794, 800, 853, 874,  44,  84, 268, 279, 386, 460,
       462, 484, 808, 842, 863, 883, 917, 944,   2, 152, 182, 212, 266,
       404, 428, 473, 644, 670, 673, 711, 750, 756, 785, 877,  63, 231,
       274, 492, 527, 531, 538, 589, 643, 652, 663, 757, 784, 962, 977,
         6,  88, 142, 159, 426, 497, 507, 680, 686, 700, 702, 733, 804,
       887, 893, 920, 291, 294, 349, 430, 483, 491, 634, 648, 731, 775,
       802, 912,  78, 116, 117, 235, 367, 419, 435, 449, 549, 649, 820,
       855, 935, 981, 997,  83, 126, 178, 194, 242, 335, 405, 585, 653,
       704, 781, 829,  21,  86, 153, 245, 311, 564, 755,  90,  93, 103,
       186, 327, 390, 529, 544, 682, 715, 821, 885, 904, 906, 150, 273,
       334, 347, 359, 586, 679, 695, 830, 986,  14,  43,  58, 259, 358,
       508, 551, 574, 619, 625, 743, 790, 793, 835, 879, 953, 973,  10,
       131, 133, 282, 296, 436, 444, 482, 488, 547, 590, 646, 723, 862,
        64,  69,  77, 260, 262, 301, 318, 565, 797, 163, 188, 299, 308,
       368, 380, 431, 739, 978,  65, 136, 197, 219, 309, 312, 401, 651,
       667, 669, 135, 214, 252, 305, 306, 489, 735, 737, 878, 881, 965,
       972, 993, 244, 389, 493, 525, 668, 720, 788, 836, 950,  52, 615,
       707, 738, 748,  15,  81, 387, 410, 466, 569, 875, 915, 931, 956,
        12, 122, 317, 467, 572, 662, 839, 840, 925, 963, 989,  24, 160,
       176, 223, 338, 353, 448, 450, 501, 516, 705, 876,  71,  73, 168,
       222, 290, 293], dtype=int64)

In [252]:
df_old.film_id.value_counts()

87     6
321    5
853    5
635    5
146    5
172    5
503    4
453    4
618    4
966    4
1      4
226    4
817    4
112    4
880    4
154    4
536    4
688    4
732    4
280    4
832    4
771    3
717    3
928    3
256    3
201    3
199    3
164    3
34     3
438    3
499    3
119    3
513    3
398    3
583    3
203    3
277    3
144    3
19     3
714    3
427    3
691    3
515    3
335    3
597    3
96     3
236    3
697    3
25     3
873    3
462    3
500    3
752    3
532    3
964    3
9      3
606    3
585    3
179    3
477    3
694    3
716    3
914    3
758    3
637    3
414    3
292    3
463    3
204    3
10     3
23     3
540    3
485    3
17     3
458    3
253    3
369    3
125    3
241    3
111    3
980    3
827    3
793    3
3      3
56     3
502    3
105    3
967    3
811    3
600    3
612    3
431    2
929    2
90     2
856    2
508    2
983    2
429    2
118    2
283    2
764    2
281    2
478    2
908    2
348    2
574    2
904    2
366    2
782    2
43     2
510    2
311    2
667    2
564    2
342    2
815    2
889    2
794    2
603    2
734    2
89     2
948    2
522    2
530    2
587    2
553    2
567    2
854    2
636    2
380    2
84     2
886    2
593    2
682    2
715    2
812    2
838    2
871    2
945    2
110    2
345    2
273    2
590    2
254    2
547    2
287    2
381    2
833    2
816    2
456    2
588    2
420    2
370    2
260    2
795    2
619    2
103    2
269    2
140    2
390    2
969    2
495    2
47     2
679    2
529    2
779    2
91     2
107    2
155    2
177    2
208    2
418    2
213    2
415    2
243    2
457    2
31     2
245    2
839    2
798    2
663    2
652    2
924    2
54     2
85     2
605    2
171    2
509    2
286    2
589    2
538    2
340    2
191    2
392    2
411    2
274    2
571    2
650    2
231    2
997    2
785    2
865    2
712    2
490    2
53     2
449    2
491    2
731    2
357    2
775    2
804    2
802    2
555    2
561    2
742    2
754    2
700    2
42     2
970    2
329    2
336    2
393    2
426    2
480    2
88     2
6      2
971    2
996    2
79     2
29     2
445    2
218    2
554    2
205    2
182    2
217    2
484    2
959    2
225    2
493    2
944    2
35     2
523    2
389    2
766    2
770    2
900    2
805    2
846    2
212    2
263    2
255    2
21     2
148    2
957    2
165    2
673    2
147    2
644    2
519    2
74     2
863    2
842    2
473    2
826    2
404    2
994    2
117    1
235    1
116    1
544    1
78     1
829    1
695    1
755    1
830    1
912    1
86     1
153    1
986    1
648    1
634    1
781    1
150    1
367    1
93     1
178    1
194    1
83     1
242    1
981    1
327    1
186    1
855    1
405    1
820    1
821    1
649    1
586    1
885    1
549    1
653    1
435    1
906    1
126    1
334    1
704    1
347    1
359    1
419    1
935    1
299    1
14     1
707    1
931    1
915    1
875    1
569    1
466    1
410    1
387    1
81     1
15     1
748    1
738    1
615    1
12     1
52     1
950    1
836    1
788    1
720    1
668    1
525    1
244    1
993    1
972    1
965    1
956    1
122    1
58     1
353    1
290    1
222    1
168    1
73     1
71     1
876    1
705    1
516    1
501    1
450    1
448    1
338    1
317    1
223    1
176    1
160    1
24     1
989    1
963    1
925    1
840    1
662    1
572    1
467    1
881    1
878    1
737    1
282    1
77     1
69     1
64     1
862    1
723    1
646    1
488    1
482    1
444    1
436    1
296    1
133    1
735    1
131    1
973    1
953    1
879    1
835    1
790    1
743    1
625    1
551    1
358    1
259    1
262    1
301    1
318    1
565    1
489    1
306    1
305    1
252    1
214    1
135    1
669    1
651    1
401    1
312    1
309    1
219    1
197    1
136    1
65     1
978    1
739    1
368    1
308    1
430    1
188    1
163    1
797    1
483    1
745    1
349    1
769    1
671    1
552    1
514    1
434    1
200    1
30     1
936    1
895    1
859    1
396    1
903    1
195    1
158    1
115    1
910    1
901    1
806    1
633    1
351    1
173    1
722    1
926    1
67     1
938    1
631    1
416    1
400    1
344    1
216    1
92     1
37     1
16     1
988    1
896    1
974    1
888    1
850    1
709    1
433    1
395    1
364    1
930    1
703    1
251    1
170    1
27     1
728    1
185    1
355    1
62     1
749    1
685    1
539    1
939    1
441    1
341    1
289    1
40     1
616    1
958    1
550    1
518    1
481    1
399    1
314    1
249    1
145    1
132    1
379    1
721    1
902    1
730    1
892    1
692    1
517    1
451    1
193    1
361    1
70     1
60     1
841    1
687    1
858    1
665    1
535    1
506    1
383    1
375    1
316    1
288    1
202    1
909    1
672    1
45     1
294    1
460    1
711    1
670    1
428    1
266    1
152    1
2      1
917    1
883    1
808    1
386    1
756    1
279    1
268    1
44     1
874    1
800    1
573    1
521    1
469    1
378    1
750    1
877    1
310    1
497    1
291    1
920    1
893    1
887    1
733    1
702    1
686    1
680    1
507    1
159    1
63     1
142    1
977    1
962    1
784    1
757    1
643    1
531    1
527    1
492    1
313    1
127    1
166    1
998    1
537    1
475    1
472    1
454    1
417    1
284    1
258    1
232    1
187    1
897    1
759    1
843    1
729    1
718    1
528    1
524    1
385    1
346    1
337    1
162    1
106    1
847    1
124    1
985    1
582    1
548    1
455    1
271    1
267    1
221    1
121    1
101    1
80     1
968    1
890    1
949    1
783    1
626    1
594    1
541    1
326    1
275    1
108    1
919    1
293    1
Name: film_id, dtype: int64

In [249]:
len(df_old.film_id.value_counts())

614

In [253]:
df_old[df_old.film_id == 87]

,first_name,last_name,title,release_year,category_id,film_id,complete_name,actor_id
47,ED,CHASE,BOONDOCK BALLROOM,2006,16,87,ED CHASE,3
71,JENNIFER,DAVIS,BOONDOCK BALLROOM,2006,16,87,JENNIFER DAVIS,4
293,UMA,WOOD,BOONDOCK BALLROOM,2006,16,87,UMA WOOD,13
384,FRED,COSTNER,BOONDOCK BALLROOM,2006,16,87,FRED COSTNER,16
520,KIRSTEN,PALTROW,BOONDOCK BALLROOM,2006,16,87,KIRSTEN PALTROW,21
785,SANDRA,PECK,BOONDOCK BALLROOM,2006,16,87,SANDRA PECK,30

In [251]:
df_old.drop_duplicates().shape==df_old.shape

True

In [ ]:
df_old.drop_duplicates().shape==df_old.shape

In [255]:
df_old.actor_id.unique()

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34,
       35, 36, 37, 38, 39], dtype=int64)

In [256]:
df_act.actor_id.unique()

array([  1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,  13,
        14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,  26,
        27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,  39,
        40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,  52,
        53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,  65,
        66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,  78,
        79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,  91,
        92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103, 104,
       105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117,
       118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130,
       131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143,
       144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156,
       157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169,
       170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182,
       183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195,
       196, 197, 198, 199, 200], dtype=int64)

In [260]:
len(df_ren.inventory_id[df_ren.inventory_id < 1000])

212

In [212]:
df_old[df_old.complete_name == 'SUSAN DAVIS']

Empty DataFrame
Columns: [first_name, last_name, title, release_year, category_id, film_id, complete_name, actor_id]
Index: []

In [213]:
df_old[df_old.actor_id == 110]

Empty DataFrame
Columns: [first_name, last_name, title, release_year, category_id, film_id, complete_name, actor_id]
Index: []

In [214]:
df_act.head()

   actor_id first_name     last_name        complete_name
0         1   PENELOPE       GUINESS     PENELOPE GUINESS
1         2       NICK      WAHLBERG        NICK WAHLBERG
2         3         ED         CHASE             ED CHASE
3         4   JENNIFER         DAVIS       JENNIFER DAVIS
4         5     JOHNNY  LOLLOBRIGIDA  JOHNNY LOLLOBRIGIDA

In [217]:
df_film.head()

,film_id,title,description,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes"
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes"
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes"
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,1,6,2.99,130,22.99,G,Deleted Scenes

In [218]:
df_film.info(memory_usage='deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1000 non-null   int64
 1   title             1000 non-null   object
 2   description       1000 non-null   object
 3   language_id       1000 non-null   int64
 4   rental_duration   1000 non-null   int64
 5   rental_rate       1000 non-null   float64
 6   length            1000 non-null   int64
 7   replacement_cost  1000 non-null   float64
 8   rating            1000 non-null   object
 9   special_features  1000 non-null   object
dtypes: float64(2), int64(4), object(4)
memory usage: 405.5 KB

In [219]:
max_len=0

for i in df_film.special_features:
    if len(i) > max_len:
        max_len = len(i)
        
max_len

54

In [220]:
df_inv.head()

   inventory_id  film_id  store_id
0             1        1         1
1             2        1         1
2             3        1         1
3             4        1         1
4             5        1         2

In [221]:
df_lang.head()

   language_id      name
0            1   English
1            2   Italian
2            3  Japanese
3            4  Mandarin
4            5    French

In [222]:
df_ren.head()

,rental_id,rental_date,inventory_id,customer_id,return_date,staff_id
0,1,2005-05-24 22:53:30,367,130,2005-05-26 22:04:30,1
1,2,2005-05-24 22:54:33,1525,459,2005-05-28 19:40:33,1
2,3,2005-05-24 23:03:39,1711,408,2005-06-01 22:12:39,1
3,4,2005-05-24 23:04:41,2452,333,2005-06-03 01:43:41,2
4,5,2005-05-24 23:05:21,2079,222,2005-06-02 04:33:21,1

In [223]:
df_old.head()

,first_name,last_name,title,release_year,category_id,film_id,complete_name,actor_id
0,PENELOPE,GUINESS,ACADEMY DINOSAUR,2006,6,1,PENELOPE GUINESS,1
1,PENELOPE,GUINESS,ANACONDA CONFESSIONS,2006,2,23,PENELOPE GUINESS,1
2,PENELOPE,GUINESS,ANGELS LIFE,2006,13,25,PENELOPE GUINESS,1
3,PENELOPE,GUINESS,BULWORTH COMMANDMENTS,2006,10,106,PENELOPE GUINESS,1
4,PENELOPE,GUINESS,CHEAPER CLYDE,2006,14,140,PENELOPE GUINESS,1

In [224]:
df_film.head()

,film_id,title,description,language_id,rental_duration,rental_rate,length,replacement_cost,rating,special_features
0,1,ACADEMY DINOSAUR,A Epic Drama of a Feminist And a Mad Scientist...,1,6,0.99,86,20.99,PG,"Deleted Scenes,Behind the Scenes"
1,2,ACE GOLDFINGER,A Astounding Epistle of a Database Administrat...,1,3,4.99,48,12.99,G,"Trailers,Deleted Scenes"
2,3,ADAPTATION HOLES,A Astounding Reflection of a Lumberjack And a ...,1,7,2.99,50,18.99,NC-17,"Trailers,Deleted Scenes"
3,4,AFFAIR PREJUDICE,A Fanciful Documentary of a Frisbee And a Lumb...,1,5,2.99,117,26.99,G,"Commentaries,Behind the Scenes"
4,5,AFRICAN EGG,A Fast-Paced Documentary of a Pastry Chef And ...,1,6,2.99,130,22.99,G,Deleted Scenes

In [225]:
df_lang.head()

   language_id      name
0            1   English
1            2   Italian
2            3  Japanese
3            4  Mandarin
4            5    French

In [226]:
df_cat.head()

   category_id       name
0            1     Action
1            2  Animation
2            3   Children
3            4   Classics
4            5     Comedy

In [227]:
df_inv.iloc[243]

inventory_id    244
film_id          55
store_id          1
Name: 243, dtype: int64

In [228]:
df_film.info('memory usage = deep')

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   film_id           1000 non-null   int64
 1   title             1000 non-null   object
 2   description       1000 non-null   object
 3   language_id       1000 non-null   int64
 4   rental_duration   1000 non-null   int64
 5   rental_rate       1000 non-null   float64
 6   length            1000 non-null   int64
 7   replacement_cost  1000 non-null   float64
 8   rating            1000 non-null   object
 9   special_features  1000 non-null   object
dtypes: float64(2), int64(4), object(4)
memory usage: 78.2+ KB

In [229]:
len(df_act.complete_name.value_counts())

199

In [230]:
len(df_old.complete_name.value_counts())

39

In [261]:
df_cat.head

<bound method NDFrame.head of     category_id         name
0             1       Action
1             2    Animation
2             3     Children
3             4     Classics
4             5       Comedy
5             6  Documentary
6             7        Drama
7             8       Family
8             9      Foreign
9            10        Games
10           11       Horror
11           12        Music
12           13          New
13           14       Sci-Fi
14           15       Sports
15           16       Travel>

In [262]:
max(df_old.category_id)

16

In [ ]:
# EXPORTACION 
df_act.to_csv(r'C:\Users\david\Proyectos\Github\w3-database-project\data_clean\actor_clean.csv', index=False)
df_cat.to_csv(r'C:\Users\david\Proyectos\Github\w3-database-project\data_clean\category_clean.csv', index=False)
df_film.to_csv(r'C:\Users\david\Proyectos\Github\w3-database-project\data_clean\film_clean.csv', index=False)
df_inv.to_csv(r'C:\Users\david\Proyectos\Github\w3-database-project\data_clean\inventory_clean.csv', index=False)
df_lang.to_csv(r'C:\Users\david\Proyectos\Github\w3-database-project\data_clean\language_clean.csv', index=False)
df_old.to_csv(r'C:\Users\david\Proyectos\Github\w3-database-project\data_clean\old_HDD_clean.csv', index=False)
df_ren.to_csv(r'C:\Users\david\Proyectos\Github\w3-database-project\data_clean\rental_clean.csv', index=False)